/////////////////////////////
// CORE / GENERIC / KEYFRAMES
/////////////////////////////


// Flip the bit
@keyframes flipthebit {
  from {
    --bit: 0
  }
  to {
    --bit: 1;
  }
}


// Appear https://observablehq.com/@argyleink/a-reusable-way-to-present-fresh-dom
@keyframes appear {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


// Disappear
@keyframes disappear {
  to {
    opacity: 0;
  }
}


// Rotate clockwise
@keyframes rotateclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


// Rotate counterclockwise
@keyframes rotatecounterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
