////////////////////////
// !CORE / MIXINS / GRID
////////////////////////


// Grid display rules (.dcf--d-grid and .dcf--d-inline-grid) located in _mixins.display


// !Grid Column Gap
@mixin col-gap-sm($imp:null) { grid-column-gap: $length-em-4 $imp; } // 1em
@mixin col-gap-md($imp:null) { grid-column-gap: $length-em-6 $imp; } // 1.77em
@mixin col-gap-lg($imp:null) { grid-column-gap: $length-em-8 $imp; } // 3.16em
@mixin col-gap-vw($imp:null) { grid-column-gap: $length-vw-1 $imp; } // 3.16vw


// !Grid Row Gap
@mixin row-gap-sm($imp:null) { grid-row-gap: $length-em-4 $imp; } // 1em
@mixin row-gap-md($imp:null) { grid-row-gap: $length-em-6 $imp; } // 1.77em
@mixin row-gap-lg($imp:null) { grid-row-gap: $length-em-8 $imp; } // 3.16em
