///////////////////////////////
// !CORE / MIXINS / BACKGROUNDS
///////////////////////////////


// !Color
@mixin bg-transparent($imp:null) { background-color: transparent $imp; }
@mixin bg-white($imp:null) { background-color: #fff $imp; }

@mixin bg-overlay-dark($imp:null) {
  background-color: rgba(0,0,0,.96) $imp;

  @supports (backdrop-filter: blur(6px)) {
    background-color: rgba(0,0,0,.8) $imp;
    backdrop-filter: blur(6px) grayscale(10%) $imp;
  }
}

@mixin bg-overlay-light($imp:null) {
  background-color: rgba(255,255,255,.98) $imp;

  @supports (backdrop-filter: blur(6px)) {
    background-color: rgba(255,255,255,.95) $imp;
    backdrop-filter: blur(6px) grayscale(33%) $imp;
  }
}


// !None
@mixin bg-none($imp:null) { background: none $imp; }
