//////////////////////////////
// !CORE / MIXINS / VISIBILITY
//////////////////////////////


// !Invisible
@mixin invisible($imp:null) { visibility: hidden $imp; }


// !Visible
@mixin visible($imp:null) { visibility: visible $imp; }


// !Screen Reader Only
@mixin sr-only($imp:null) {
  position: absolute $imp;
  height: 1px $imp; // allow VoiceOver to see the text
  width: 1px $imp;
  border: 0 $imp;
  clip: rect(1px, 1px, 1px, 1px) $imp;
  overflow: hidden $imp;
  word-wrap: normal $imp; // ???
}


// !Screen Reader Only, Show On Focus
@mixin show-on-focus($imp:null) {
  position: static $imp;
  height: auto $imp;
  width: auto $imp;
  clip: auto $imp;
  overflow: visible $imp;
}
