//////////////////////////////
// !CORE / MIXINS / TYPOGRAPHY
//////////////////////////////


// !Larger Size
@mixin lg5($imp:null) { font-size: #{ms(5)}em $imp; }
@mixin lg4($imp:null) { font-size: #{ms(4)}em $imp; }
@mixin lg3($imp:null) { font-size: #{ms(3)}em $imp; }
@mixin lg2($imp:null) { font-size: #{ms(2)}em $imp; }
@mixin lg1($imp:null) { font-size: #{ms(1)}em $imp; }


// !Heading Sizes
@mixin h1($imp:null) { font-size: #{ms(6)}em; }
@mixin h2($imp:null) { font-size: #{ms(5)}em; }
@mixin h3($imp:null) { font-size: #{ms(4)}em; }
@mixin h4($imp:null) { font-size: #{ms(3)}em; }
@mixin h5($imp:null) { font-size: #{ms(2)}em; }
@mixin h6($imp:null) { font-size: #{ms(1)}em; }


// !Display Headings
@mixin display1($imp:null) { font-size: #{ms(7)}em; }
@mixin display2($imp:null) { font-size: #{ms(8)}em; }
@mixin display3($imp:null) { font-size: #{ms(9)}em; }
@mixin display4($imp:null) { font-size: #{ms(10)}em; }


// !Smaller Size
@mixin sm1($imp:null) { font-size: #{ms(-1)}em $imp; }
@mixin sm2($imp:null) { font-size: #{ms(-2)}em $imp; }
@mixin sm3($imp:null) { font-size: #{ms(-3)}em $imp; }
@mixin sm4($imp:null) { font-size: #{ms(-4)}em $imp; }


// !Line Height
@mixin lh1($imp:null) { line-height: #{ms(0)} $imp; }
@mixin lh2($imp:null) { line-height: #{ms(1)} $imp; }
@mixin lh3($imp:null) { line-height: #{ms(3)} $imp; }


// !Measure (Line Length)
@mixin measure($imp:null) { max-width: #{ms(25)}rem $imp; }


// !Vertical Text Alignment
@mixin txt-baseline($imp:null) { vertical-align: baseline $imp; }
@mixin txt-top($imp:null) { vertical-align: top $imp; }
@mixin txt-middle($imp:null) { vertical-align: middle $imp; }
@mixin txt-bottom($imp:null) { vertical-align: bottom $imp; }
@mixin txt-texttop($imp:null) { vertical-align: text-top $imp; }
@mixin txt-textbottom($imp:null) { vertical-align: text-bottom $imp; }


// !Horizontal Text Alignment
@mixin txt-center($imp:null) { text-align: center $imp; }
@mixin txt-left($imp:null) { text-align: left $imp; }
@mixin txt-right($imp:null) { text-align: right $imp; }


// !Text Wrapping
@mixin txt-nowrap($imp:null) { white-space: nowrap $imp; }


// Text Decoration
@mixin txt-decor-none($imp:null) { text-decoration: none $imp; }

@mixin txt-decor-hover-on($imp:null) {
  text-decoration: underline $imp;
}

@mixin txt-decor-hover-off($imp:null) {
  text-decoration: none $imp;
}


// !Text Transform
@mixin capitalize($imp:null) { text-transform: capitalize $imp; }
@mixin lowercase($imp:null) { text-transform: lowercase $imp; }
@mixin uppercase($imp:null) { text-transform: uppercase $imp; }
@mixin case-reset($imp:null) { text-transform: none $imp; }


// !Font Weights
@mixin regular($imp:null) { font-weight: normal $imp; }
@mixin bold($imp:null) { font-weight: bold $imp; }


// !Font Styles
@mixin roman($imp:null) { font-style: normal $imp; }
@mixin italic($imp:null) { font-style: italic $imp; }


// !Letter Spacing
@mixin ls0($imp:null) { letter-spacing: 0 $imp; }
@mixin ls1($imp:null) { letter-spacing: .01em $imp; }
@mixin ls2($imp:null) { letter-spacing: .1em $imp; }
