////////////////////
// !MIXINS: OVERLAYS
////////////////////


// !Dark
@mixin overlay-dark {
  color: #fff;
  background-color: rgba(0,0,0,.96);

  @supports (backdrop-filter: blur(6px)) {
    background-color: rgba(0,0,0,.94);
    backdrop-filter: blur(6px);
  }
}


// !Light
@mixin overlay-light {
  background-color: rgba(255,255,255,.98);

  @supports (backdrop-filter: blur(6px)) {
    background-color: rgba(255,255,255,.96);
    backdrop-filter: blur(6px);
  }
}


// // !Brand: Alpha
// @mixin overlay-brand-alpha {
//   background-color: fade-out($color-brand-alpha, .02);
//
//   @supports (backdrop-filter: blur(6px)) {
//     background-color: fade-out($color-brand-alpha, .04);
//     backdrop-filter: blur(6px);
//   }
// }
//
//
// // !Brand: Beta
// @mixin overlay-brand-beta {
//   background-color: fade-out($color-brand-beta, .02);
//
//   @supports (backdrop-filter: blur(6px)) {
//     background-color: fade-out($color-brand-beta, .04);
//     backdrop-filter: blur(6px);
//   }
// }
