///////////////////////////
// !CORE / MIXINS / DISPLAY
///////////////////////////


// !None
@mixin none($imp:null) { display: none $imp; }


// !Block
@mixin block($imp:null) { display: block $imp; }


// !Inline
@mixin inline($imp:null) { display: inline $imp; }


// !Inline-Block
@mixin inlineblock($imp:null) { display: inline-block $imp; }


// !Table
@mixin table($imp:null) { display: table $imp; }


// !Table Cell
@mixin tablecell($imp:null) { display: table-cell $imp; }


// !Flex
@mixin flex($imp:null) { display: flex $imp; }


// !Inline-Flex
@mixin inlineflex($imp:null) { display: inline-flex $imp; }


// !Grid
@mixin grid($imp:null) {

  @supports (display: grid) {
    display: grid $imp;
  }

}

// !Inline-Grid
@mixin inlinegrid($imp:null) {

  @supports (display: inline-grid) {
    display: inline-grid $imp;
  }

}
