//////////////////////////
// !CORE / MIXINS / FLOATS
//////////////////////////


// !Float Right
@mixin float-right($imp:null) { float: right $imp; }


// !Float Left
@mixin float-left($imp:null) { float: left $imp; }


// !Float Left
@mixin float-none($imp:null) { float: none $imp; }


// !Clearfix
@mixin clearfix($imp:null) {

  &::after {
    content: '' $imp;
    display: table $imp;
    clear: both $imp;
  }

}
