///////////////////////////
// !CORE / MIXINS / FLEXBOX
///////////////////////////


// Flexbox display rules (d-flex and d-inline-flex) located in _mixins.display


// !Flex-direction (Columns and Rows)
@mixin flex-col($imp:null) { flex-direction: column $imp; }
@mixin flex-colrev($imp:null) { flex-direction: column-reverse $imp; }
@mixin flex-row($imp:null) { flex-direction: row $imp; }
@mixin flex-rowrev($imp:null) { flex-direction: row-reverse $imp; }


// !Flex-wrap
@mixin flex-wrap($imp:null) { flex-wrap: wrap $imp; }
@mixin flex-wraprev($imp:null) { flex-wrap: wrap-reverse $imp; }
@mixin flex-nowrap($imp:null) { flex-wrap: nowrap $imp; }


// !Flex-grow
@mixin flex-grow1($imp:null) { flex-grow: 1 $imp; }


// !Flex-shrink
@mixin flex-shrink0($imp:null) { flex-shrink: 0 $imp; }
