/////////////////////////
// !MIXINS: BOX ALIGNMENT
/////////////////////////


// !Align Items
@mixin ai-flex-start($imp:null) { align-items: flex-start $imp; }
@mixin ai-flex-end($imp:null) { align-items: flex-end $imp; }
@mixin ai-center($imp:null) { align-items: center $imp; }
@mixin ai-baseline($imp:null) { align-items: baseline $imp; }
@mixin ai-stretch($imp:null) { align-items: stretch $imp; }
@mixin ai-start($imp:null) { align-items: start $imp; }
@mixin ai-end($imp:null) { align-items: end $imp; }


// !Align Content
@mixin ac-flex-start($imp:null) { align-content: flex-start $imp; }
@mixin ac-flex-end($imp:null) { align-content: flex-end $imp; }
@mixin ac-center($imp:null) { align-content: center $imp; }
@mixin ac-stretch($imp:null) { align-content: stretch $imp; }
@mixin ac-around($imp:null) { align-content: space-around $imp; }
@mixin ac-between($imp:null) { align-content: space-between $imp; }
@mixin ac-evenly($imp:null) { align-content: space-evenly $imp; }
@mixin ac-start($imp:null) { align-content: start $imp; }
@mixin ac-end($imp:null) { align-content: end $imp; }


// !Align Self
@mixin as-auto($imp:null) { align-self: auto $imp; }
@mixin as-flex-start($imp:null) { align-self: flex-start $imp; }
@mixin as-flex-end($imp:null) { align-self: flex-end $imp; }
@mixin as-center($imp:null) { align-self: center $imp; }
@mixin as-baseline($imp:null) { align-self: baseline $imp; }
@mixin as-stretch($imp:null) { align-self: stretch $imp; }
@mixin as-start($imp:null) { align-self: start $imp; }
@mixin as-end($imp:null) { align-self: end $imp; }


// !Justify Items
@mixin ji-start($imp:null) { justify-items: start $imp; }
@mixin ji-end($imp:null) { justify-items: end $imp; }
@mixin ji-center($imp:null) { justify-items: center $imp; }
@mixin ji-stretch($imp:null) { justify-items: stretch $imp; }


// !Justify Content
@mixin jc-flex-start($imp:null) { justify-content: flex-start $imp; }
@mixin jc-flex-end($imp:null) { justify-content: flex-end $imp; }
@mixin jc-center($imp:null) { justify-content: center $imp; }
@mixin jc-around($imp:null) { justify-content: space-around $imp; }
@mixin jc-between($imp:null) { justify-content: space-between $imp; }
@mixin jc-evenly($imp:null) { justify-content: space-evenly $imp; }
@mixin jc-start($imp:null) { justify-content: start $imp; }
@mixin jc-end($imp:null) { justify-content: end $imp; }
@mixin jc-stretch($imp:null) { justify-content: stretch $imp; }


// !Justify Self
@mixin js-start($imp:null) { justify-self: start $imp; }
@mixin js-center($imp:null) { justify-self: center $imp; }
@mixin js-end($imp:null) { justify-self: end $imp; }
@mixin js-stretch($imp:null) { justify-self: stretch $imp; }
