//////////////////
// !MIXINS: FLOATS
//////////////////


// !Float None
@mixin float-none($imp:null) { float: none $imp; }


// !Float Right
@mixin float-right($imp:null) { float: right $imp; }


// !Float Left
@mixin float-left($imp:null) { float: left $imp; }


// !Clear None
@mixin clear-none($imp:null) { clear: none $imp; }


// !Clear Right
@mixin clear-right($imp:null) { clear: right $imp; }


// !Clear Left
@mixin clear-left($imp:null) { clear: left $imp; }


// !Clear Both
@mixin clear-both($imp:null) { clear: both $imp; }
