///////////////////
// !MIXINS: PADDING
///////////////////


// !All Sides
@mixin p0($imp:null) { padding: $length0 $imp; }
@mixin p1($imp:null) { padding: $length1 $imp; }
@mixin p2($imp:null) { padding: $length2 $imp; }
@mixin p3($imp:null) { padding: $length3 $imp; }
@mixin p4($imp:null) { padding: $length4 $imp; }
@mixin p5($imp:null) { padding: $length5 $imp; }
@mixin p6($imp:null) { padding: $length6 $imp; }


// !Top
@mixin pt0($imp:null) { padding-top: $length0 $imp; }
@mixin pt1($imp:null) { padding-top: $length1 $imp; }
@mixin pt2($imp:null) { padding-top: $length2 $imp; }
@mixin pt3($imp:null) { padding-top: $length3 $imp; }
@mixin pt4($imp:null) { padding-top: $length4 $imp; }
@mixin pt5($imp:null) { padding-top: $length5 $imp; }
@mixin pt6($imp:null) { padding-top: $length6 $imp; }


// !Right
@mixin pr0($imp:null) { padding-right: $length0 $imp; }
@mixin pr1($imp:null) { padding-right: $length1 $imp; }
@mixin pr2($imp:null) { padding-right: $length2 $imp; }
@mixin pr3($imp:null) { padding-right: $length3 $imp; }
@mixin pr4($imp:null) { padding-right: $length4 $imp; }
@mixin pr5($imp:null) { padding-right: $length5 $imp; }
@mixin pr6($imp:null) { padding-right: $length6 $imp; }


// !Bottom
@mixin pb0($imp:null) { padding-bottom: $length0 $imp; }
@mixin pb1($imp:null) { padding-bottom: $length1 $imp; }
@mixin pb2($imp:null) { padding-bottom: $length2 $imp; }
@mixin pb3($imp:null) { padding-bottom: $length3 $imp; }
@mixin pb4($imp:null) { padding-bottom: $length4 $imp; }
@mixin pb5($imp:null) { padding-bottom: $length5 $imp; }
@mixin pb6($imp:null) { padding-bottom: $length6 $imp; }


// !Left
@mixin pl0($imp:null) { padding-left: $length0 $imp; }
@mixin pl1($imp:null) { padding-left: $length1 $imp; }
@mixin pl2($imp:null) { padding-left: $length2 $imp; }
@mixin pl3($imp:null) { padding-left: $length3 $imp; }
@mixin pl4($imp:null) { padding-left: $length4 $imp; }
@mixin pl5($imp:null) { padding-left: $length5 $imp; }
@mixin pl6($imp:null) { padding-left: $length6 $imp; }
