////////////////
// !MIXINS: GRID
////////////////

// Grid display rules (.dcf--d-grid and .dcf--d-inline-grid) located in _mixins.display


// !Align Items
@mixin g-ai-start($imp:null) { align-items: start $imp; }
@mixin g-ai-end($imp:null) { align-items: end $imp; }
@mixin g-ai-center($imp:null) { align-items: center $imp; }
@mixin g-ai-stretch($imp:null) { align-items: stretch $imp; }


// !Align Content
@mixin g-ac-start($imp:null) { align-content: start $imp; }
@mixin g-ac-end($imp:null) { align-content: end $imp; }
@mixin g-ac-center($imp:null) { align-content: center $imp; }
@mixin g-ac-stretch($imp:null) { align-content: stretch $imp; }
@mixin g-ac-around($imp:null) { align-content: space-around $imp; }
@mixin g-ac-between($imp:null) { align-content: space-between $imp; }
@mixin g-ac-evenly($imp:null) { align-content: space-evenly $imp; }


// !Align Self
@mixin g-as-start($imp:null) { align-self: start $imp; }
@mixin g-as-center($imp:null) { align-self: center $imp; }
@mixin g-as-end($imp:null) { align-self: end $imp; }
@mixin g-as-stretch($imp:null) { align-self: stretch $imp; }


// !Justify Items
@mixin g-ji-start($imp:null) { justify-items: start $imp; }
@mixin g-ji-end($imp:null) { justify-items: end $imp; }
@mixin g-ji-center($imp:null) { justify-items: center $imp; }
@mixin g-ji-stretch($imp:null) { justify-items: stretch $imp; }


// !Justify Content
@mixin g-jc-start($imp:null) { justify-content: start $imp; }
@mixin g-jc-end($imp:null) { justify-content: end $imp; }
@mixin g-jc-center($imp:null) { justify-content: center $imp; }
@mixin g-jc-stretch($imp:null) { justify-content: stretch $imp; }
@mixin g-jc-around($imp:null) { justify-content: space-around $imp; }
@mixin g-jc-between($imp:null) { justify-content: space-between $imp; }
@mixin g-jc-evenly($imp:null) { justify-content: space-evenly $imp; }


// !Justify Self
@mixin g-js-start($imp:null) { justify-self: start $imp; }
@mixin g-js-center($imp:null) { justify-self: center $imp; }
@mixin g-js-end($imp:null) { justify-self: end $imp; }
@mixin g-js-stretch($imp:null) { justify-self: stretch $imp; }
