//////////////////
// !CONFIG: COLORS
//////////////////

// !Social Media
$color-facebook: #3b5998;
$color-instagram: #c13584;
$color-linkedin: #0077b5;
$color-pinterest: #bd081c;
$color-snapchat: #fffc00;
$color-twitter: #1da1f2;
$color-youtube: #cd201f;
