//////////////////////////////
// !THEME / COMPONENTS / CARDS
//////////////////////////////


// !Individual Card
.example .dcf-card {
  @include bg-white;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
  @include txt-sm;
}
