///////////////////////////////
// !THEME / COMPONENTS / HEADER
///////////////////////////////


@include mq(md, max, width) {

  .example .dcf-header::after {
    @include bg-white;
    bottom: 0;
    box-shadow: 0 0 4px 0 fade-out($color-body, .75);
    content: '';
    height: 4em;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

}


@include mq(md, min, width) {

  @supports (display: grid) {

    .example .dcf-header {
      grid-template-areas: "first nav2 nav2" "logo search idm" "nav1 nav1 nav1";
      grid-template-columns: 1fr auto auto;
    }

    .example .dcf-institution-title {
      grid-area: first;
    }

    .example .dcf-logo {
      grid-area: logo;
    }

  }

}
