////////////////////////////////
// !THEME / COMPONENTS / BUTTONS
////////////////////////////////


.example .dcf-btn {
  @include rounded;
  @include pb-2;
  @include pl-4;
  @include pr-4;
  @include pt-2;
}


// !Button Hierarchy

// !Primary Button
.example .dcf-btn-primary,
.example .dcf-btn-primary:link {
  background-color: $color-button;
  border: 1px solid $color-button;
  color: #fff;
  transition: border $hover-off, background-color $hover-off;
}

.example .dcf-btn-primary:visited {
  background-color: $color-button-visited;
  border-color: $color-button-visited;
  color: #fff;
}

.example .dcf-btn-primary:hover {
  background-color: $color-button-hover;
  border-color: $color-button-hover;
  color: #fff;
  transition: border $hover-on, background-color $hover-on;
}

.example .dcf-btn-primary:active,
.example .dcf-btn-primary.dcf-active {
  background-color: $color-button-active;
  border-color: $color-button-active;
  color: #fff;
}


// !Secondary Button
.example .dcf-btn-secondary,
.example .dcf-btn-secondary:link {
  background-color: #fff;
  border: 1px solid currentColor;
  color: $color-button;
  transition: all $hover-off;
}

.example .dcf-btn-secondary:visited {
  border-color: currentColor;
  color: $color-button-visited;
}

.example .dcf-btn-secondary:hover {
  background-color: lighten($color-button,55%);
  border-color: currentColor;
  color: $color-button-hover;
  transition: all $hover-on;
}

.example .dcf-btn-secondary:active,
.example .dcf-btn-secondary.dcf-active {
  border-color: currentColor;
  color: $color-button-active;
}


// !Tertiary Button
.example .dcf-btn-tertiary,
.example .dcf-btn-tertiary:link {
  background-color: transparent;
  border: 1px solid transparent;
  color: $color-button;
  text-decoration: underline;
  text-decoration-skip: ink;
  transition: color $hover-off;
}

.example .dcf-btn-tertiary:visited {
  color: $color-button-visited;
}

.example .dcf-btn-tertiary:hover {
  color: $color-button-hover;
  transition: color $hover-on;
}

.example .dcf-btn-tertiary:active,
.example .dcf-btn-tertiary.dcf-active {
  color: $color-button-active;
}


// !Inverse Button
.example .dcf-btn-inverse {
  background-color: rgba(0,0,0,.1);
  border: 1px solid currentColor;
  color: #fff;
  transition: border $hover-off, background-color $hover-off;
}

.example .dcf-btn-inverse:hover {
  background-color: rgba(0,0,0,.2);
  transition: border $hover-on, background-color $hover-on;
}
