///////////////////////////////
// !THEME / COMPONENTS / FOOTER
///////////////////////////////


// !Common Footer Styles

// !Local Footer
// .example .dcf-footer-local {
// }


// !Global Footer
// .example .dcf-footer-global {
// }


@supports (display: grid) {

  .example .dcf-footer-local {
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr)); // 13.29em
  }

  .example .dcf-footer-global {
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr)); // 13.29em
  }

}


// !Local Footer
.example .dcf-footer-local {
  background-color: $color-footer-local-bg;
  color: $color-footer-local;
}


// !Global Footer
.example .dcf-footer-global {
  background-color: $color-footer-global-bg;
  color: $color-footer-global;
}


@include mq(md, max, width) {

  .example .dcf-footer-global {
    padding-bottom: #{ms(12)}em; // 5.61em
  }

}


@include mq(md, min, width) {

  .example .dcf-footer-global {
    @include pb-6;
  }

}
