///////////////////////////////////
// !THEME / COMPONENTS / PARAGRAPHS
///////////////////////////////////


.example .dcf-dropcap::first-letter {
  font-size: #{ms(11)}em; // 4.74em
  line-height: #{ms(-3)}; // .63 -- then, adjust line-height for Chrome and Safari
  margin-top: #{ms(-1)}rem; // .84rem -- first, adjust margin-top for Firefox
  padding-left: #{ms(-20)}rem; // .06rem
  padding-right: #{ms(-4)}rem; // .56rem
}
