/////////////////////////////////////
// !THEME / COMPONENTS / INPUT GROUPS
/////////////////////////////////////


// !Input Group Text Input
.example .dcf-c-input-group .dcf-c-input-text:not(:first-child) {
  @include sharp-left;
}


.example .dcf-c-input-group .dcf-c-input-text:not(:last-child) {
  @include sharp-right;
}


// !Input Group Button
.example .dcf-c-input-group .dcf-c-btn {
  @include sharp-left;
  margin-left: -1px;
}


// !Input Group Add-on
.example .dcf-c-input-group__addon {
  background-color: lighten($color-border, 15%);
  border: 1px solid $color-border;
  color: $color-light-text;
  @include pb2;
  @include pl3;
  @include pr3;
  @include pt2;
}


.example .dcf-c-input-group__addon:first-child {
  @include rounded-left;
  border-right-width: 0;
}


.example .dcf-c-input-group__addon:last-child {
  @include rounded-right;
  border-left-width: 0;
}
