/////////////////////////////
// CORE / COMPONENTS / GLOBAL
/////////////////////////////


@use "../variables/" as var;
@use "../functions/" as func;


.dcf-datepicker {
  position: relative;
}


.dcf-datepicker-dialog {
  background-color: var.$bg-color-datepicker-dialog;
  @if (var.$border-radius-datepicker-dialog-roundrect) {
    border-radius: var.$roundrect;
  }
  box-shadow: var.$box-shadow-datepicker-dialog;
  margin-top: var.$margin-top-datepicker-dialog; // Distance from input
  padding: var.$padding-top-datepicker-dialog var.$padding-right-datepicker-dialog var.$padding-bottom-datepicker-dialog var.$padding-left-datepicker-dialog;
  width: var.$width-datepicker-dialog;
  z-index: var.$z-2;
}


.dcf-datepicker-dialog-header {
  cursor: default;
  padding-bottom: var.$padding-bottom-datepicker-dialog-header;
}


.dcf-datepicker-dialog-month-year {
  font-size: var.$font-size-datepicker-dialog-month-year;
}


.dcf-datepicker-dialog-calendar th,
.dcf-datepicker-dialog-calendar td {
  font-size: var.$font-size-datepicker-dialog-calendar;
  height: var.$height-datepicker-dialog-calendar-th-td;
  text-align: center;
}


.dcf-datepicker-dialog-calendar td {
  @if (var.$border-radius-datepicker-date-roundrect) {
    border-radius: var.$roundrect;
  }
  color: var.$color-datepicker-dialog-calendar-td;
}


.dcf-datepicker-dialog-calendar td:not(.disabled):not([tabindex="0"]) {
  cursor: pointer;
}


.dcf-datepicker-dialog-calendar td:not(.disabled):not([tabindex="0"]):not([aria-selected]):hover {
  background-color: var.$bg-color-datepicker-dialog-calendar-td-hover;
  color: var.$color-datepicker-dialog-calendar-td-hover;
}


.dcf-datepicker-dialog-footer {
  margin-top: var.$margin-top-datepicker-dialog-footer;
  padding-top: var.$padding-top-datepicker-dialog-footer;
}


@if (func.to-number(var.$font-size-datepicker-dialog-btn-footer) != func.to-number(#{var.$ms-1}em)) {
  .dcf-datepicker-dialog-btn-footer {
    font-size: var.$font-size-datepicker-dialog-btn-footer !important; // Important to override theme button styles
  }
}


.dcf-datepicker-dialog-message {
  font-size: var.$font-size-datepicker-dialog-message;
  text-align: center;
}
