//////////////////////////////
// CORE / COMPONENTS / DIALOGS
//////////////////////////////


@use "../variables/" as var;
@use "../mixins/" as mixins;


body:has(dialog[open]),
html:has(dialog[open]){
  overflow: hidden;
}


// Safari does not support `:open`, `.dcf-dialog-is-open` is our fallback
body:has(dialog.dcf-dialog-is-open),
html:has(dialog.dcf-dialog-is-open) {
  overflow: hidden;
}


// Dialog backdrop
.dcf-dialog::backdrop {
  @include mixins.bg-overlay-dark;
}


// Dialog wrapper
.dcf-dialog {
  background-color: var.$bg-color-modal-wrapper;
  color: var.$color-body;
  max-height: var.$height-max-modal-wrapper;
  width: var.$width-modal-wrapper;
}


// Dialog content
.dcf-dialog-content > *:last-child {
  margin-bottom: 0;
}
