//////////////////////////////////
// CORE / COMPONENTS / DIALOGS
/////////////////////////////////


@use "../variables/" as var;
@use "../mixins/" as mixins;

body:has(dialog[open]),
html:has(dialog[open]){
    overflow: hidden;
}

// This is only here because safari does not support `:open`
body:has(dialog.dcf-dialog-is-open),
html:has(dialog.dcf-dialog-is-open) {
    overflow: hidden;
}

.dcf-dialog::backdrop {
    @include mixins.bg-overlay-dark(!important);
}

// Modal wrapper
.dcf-dialog {
    background-color: var.$bg-color-modal-wrapper;
    color: var.$color-body;
    max-height: var.$height-max-modal-wrapper;
    width: var.$width-modal-wrapper;
}


// Modal header
.dcf-dialog-header {
    background-color: var.$bg-color-modal-header;
}


// Modal content
.dcf-dialog-content > *:last-child {
    margin-bottom: 0;
}