/////////////////////////////
// CORE / COMPONENTS / MODALS
/////////////////////////////


@use "../variables/" as var;


// Modal
.dcf-modal {
  z-index: var.$z-modal-fullscreen;
}


// Modal wrapper
.dcf-modal-wrapper {
  background-color: var.$bg-color-dialog;
  max-height: var.$max-height-dialog;
  width: var.$width-dialog;
}


// Modal content
.dcf-modal-content > *:last-child {
  margin-bottom: 0;
}
