/////////////////////////////
// CORE / COMPONENTS / MODALS
/////////////////////////////


@use "../variables/" as var;


// Modal
.dcf-modal {
  z-index: var.$z-modal-fullscreen;
}


// Modal wrapper
.dcf-modal-wrapper {
  background-color: var.$bg-color-modal-wrapper;
  max-height: var.$height-max-modal-wrapper;
  width: var.$width-modal-wrapper;
}


// Modal header
.dcf-modal-header {
  background-color: var.$bg-color-modal-header;
}


// Modal content
.dcf-modal-content > *:last-child {
  margin-bottom: 0;
}
