/////////////////////////////////
// CORE / COMPONENTS / SLIDESHOWS
/////////////////////////////////


@use "../variables/" as var;

.dcf-slideshow.dcf-slideshow-initialized .dcf-slide-deck {
  list-style: none;
  padding-left: 0;
}

.dcf-slideshow.dcf-slideshow-initialized .dcf-slide-deck li {
  grid-column: 1;
  grid-row: 1;
}

.dcf-slideshow.dcf-slideshow-initialized .dcf-slide-deck {
  clip-path: polygon(
    0 0,
    calc(100% - (#{var.$size-btn-x} * 2) - (#{var.$border-width-button} * 5) - #{var.$size-clip-path}) 0,
    calc(100% - (#{var.$size-btn-x} * 2) - (#{var.$border-width-button} * 5) - #{var.$size-clip-path}) calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% 100%,
    0 100%
  );
}

.dcf-slideshow.dcf-slideshow-initialized[data-play="true"] .dcf-slide-deck,
.dcf-slideshow.dcf-slideshow-initialized[data-play="auto"] .dcf-slide-deck {
  clip-path: polygon(
    0 0,
    calc(100% - (#{var.$size-btn-x} * 3) - (#{var.$border-width-button} * 8) - #{var.$size-clip-path}) 0,
    calc(100% - (#{var.$size-btn-x} * 3) - (#{var.$border-width-button} * 8) - #{var.$size-clip-path}) calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% 100%,
    0 100%
  );
}

.dcf-slideshow.dcf-slideshow-initialized .dcf-slideshow-fade-out {
  animation-fill-mode: forwards;
  animation-name: disappear;
  animation-duration: var.$animation-duration-fade-in;
  animation-timing-function: var.$animation-timing-fn-fade-in;
  opacity: 1; // Starting opacity
}
