/////////////////////////////////
// CORE / COMPONENTS / SLIDESHOWS
/////////////////////////////////


@use "../variables/" as var;

.dcf-slideshow.dcf-slideshow-initialized .dcf-slide-deck {
  list-style: none;
  padding-left: 0;
}

.dcf-slideshow.dcf-slideshow-initialized:not([data-layout="cover-flow"]) .dcf-slide-deck li {
  grid-column: 1;
  grid-row: 1;
}

.dcf-slideshow.dcf-slideshow-initialized:not([data-layout="cover-flow"]) .dcf-slide-deck {
  clip-path: polygon(
    0 0,
    calc(100% - (#{var.$size-btn-x} * 2) - (#{var.$border-width-button} * 5) - #{var.$size-clip-path}) 0,
    calc(100% - (#{var.$size-btn-x} * 2) - (#{var.$border-width-button} * 5) - #{var.$size-clip-path}) calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% 100%,
    0 100%
  );
}

.dcf-slideshow.dcf-slideshow-initialized[data-play="true"]:not([data-layout="cover-flow"]) .dcf-slide-deck,
.dcf-slideshow.dcf-slideshow-initialized[data-play="auto"]:not([data-layout="cover-flow"]) .dcf-slide-deck {
  clip-path: polygon(
    0 0,
    calc(100% - (#{var.$size-btn-x} * 3) - (#{var.$border-width-button} * 8) - #{var.$size-clip-path}) 0,
    calc(100% - (#{var.$size-btn-x} * 3) - (#{var.$border-width-button} * 8) - #{var.$size-clip-path}) calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% calc(#{var.$size-btn-y} + (#{var.$border-width-button} * 2) + #{var.$size-clip-path}),
    100% 100%,
    0 100%
  );
}

.dcf-slideshow.dcf-slideshow-initialized .dcf-slideshow-fade-out {
  animation-fill-mode: forwards;
  animation-name: disappear;
  animation-duration: var.$animation-duration-fade-in;
  animation-timing-function: var.$animation-timing-fn-fade-in;
  opacity: 1; // Starting opacity
}

.dcf-slideshow[data-layout="cover-flow"] {
  container-type: inline-size;
}

.dcf-slideshow[data-layout="cover-flow"] .dcf-slide-deck {
  list-style: none;
  white-space: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin: 0px;
  padding: 0px;
}
.dcf-slideshow[data-layout="cover-flow"] .dcf-slide-deck::before {
  content: ' ';
  width: 25cqw;
  display: inline-block;
}
.dcf-slideshow[data-layout="cover-flow"] .dcf-slide-deck::after {
  content: ' ';
  width: 25cqw;
  display: inline-block;
}

/* List item setup */
.dcf-slideshow[data-layout="cover-flow"] .dcf-slide-deck li {
  display: inline-block;
  scroll-snap-align: center;
  margin: 0px;
  padding: 0px;
}


/* Image styling and animation */
.dcf-slideshow[data-layout="cover-flow"] .dcf-slide-deck li figure,
.dcf-slideshow[data-layout="cover-flow"] .dcf-slide-deck li div {
  width: 100%;
  height: auto;

  position: relative;
}
