//////////////////////
// !COMPONENTS: QUOTES
//////////////////////


.dcf-c-blockquote {
  @include relative;
//   max-width: 36rem;
  @include ml0;
  @include pt4;
  @include pb4;
}


.dcf-c-blockquote::before {
  content: open-quote;
  @include absolute;
  font-size: #{ms(32)}em;
  @include lh3;
}


.dcf-c-blockquote p {
  padding-top: #{ms(16)}em;
  font-size: 1.5rem;
  @include h4;
}


.dcf-c-blockquote p::after {
  content: close-quote;
}


// !Attribution
.dcf-c-attribution {
  @include mt4;
}

.dcf-c-attribution:before {
  content: '— '; // em dash (&mdash;) followed by a thin space (&thinsp;)
}
