////////////////////////
// !COMPONENTS: ARTICLES
////////////////////////


.dcf--article-header {
  grid-area: header;
}


.dcf--article-body {
  grid-area: body;
}


.dcf--article-meta {
  grid-area: meta;
//   @include d-grid;
//   grid-gap: 1em;
//   grid-template-columns: min-content 1fr;
//   grid-template-areas:
//     "photo text";
}


.dcf--article p:not(.dcf--lead),
.dcf--article dl,
.dcf--article ol,
.dcf--article ul {
  @include mb0;
}


.dcf--article p,
.dcf--article dl,
.dcf--article ol,
.dcf--article ul,
.dcf--article blockquote {

  + p,
  + dl,
  + ol,
  + ul {
    @include mt1;
    text-indent: 1.5em;
  }
}


.dcf--author {
  @include d-flex;
  @include f-row;
  @include f-nowrap;
//   @include f-ai-center;
  @include mt4;
}

.dcf--author-img {
  order: 1;
}

.dcf--author-img img {
  width: 3em;
}

.dcf--byline {
  order: 2;
}


.dcf--pubdate {
  @include d-block;
}


.dcf--article-share {
  top: 1em;
}


.dcf--article-tags {
  grid-area: tags;
}


.dcf--article-related {
  grid-area: related;
}


.dcf--article-downloads {
  grid-area: downloads;
}


@include mq(md, max, width) {

  .dcf--author-img img {
    @include mr4;
  }

}


@include mq(md) {

  .dcf--article {
    @include d-grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:
      "meta header header header"
      "meta body body body"
      "contact tags related downloads";
  }

  .dcf--author {
    @include f-column;
    @include f-wrap;
    @include mt0;
  }

  .dcf--author-img img {
    width: 5em;
  }
}
