//////////////////////////
// !COMPONENTS: NAVIGATION
//////////////////////////


// !Skip Navigation
.dcf--skip-nav {
//   @include absolute;
  top: $spacing-2;
  left: $spacing-2;
}


// !Dropdown

// !Primary Navigation
.dcf--primary-nav ul {
  @include mb0;
  @include pl0;
  list-style: none;
}


.dcf--primary-nav > ul {
  @include d-flex;
  @include f-jc-around;
  @include sm2;
}


.dcf--primary-nav ul ul {
  @include sm1;
}
