//////////////////////
// !COMPONENTS: TABLES
//////////////////////


.dcf--table {
//   display: block; // !responsive by default?
  width: 100%;
  max-width: 100%;
//   overflow-x: auto; // !responsive by default?
}


.dcf--table th,
.dcf--table td {
  border-top: 1px solid $color-border;
}


// .dcf--table thead th {
//   border-bottom: 2px solid #ddd;
// }


.dcf--table thead th,
.dcf--table thead td {
  padding-top: 1.25em;
  @include pr3;
  @include pb3;
  @include pl3;
}


.dcf--table thead th {
  @include bottom;
}


.dcf--table tbody th,
.dcf--table tbody td {
  @include p3;
}


// !Small Table
.dcf--table-sm thead th,
.dcf--table-sm thead td {
  @include pt4;
  @include pr2;
  @include pb2;
  @include pl2;
}


.dcf--table-sm tbody th,
.dcf--table-sm tbody td {
  @include p2;
}


// !Striped Table
.dcf--table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}


// !Bordered Table
.dcf--table-bordered,
.dcf--table-bordered th,
.dcf--table-bordered td {
  border: 1px solid $color-border;
}


// !Hoverable Rows
.dcf--table-hover tbody tr:hover {
  background-color: $color-active;
}


// !Contextual Colors
.dcf--table-active {
  background-color: $color-active;
}


.dcf--table-info {
  background-color: $color-info;
}


.dcf--table-success {
  background-color: $color-success;
}


.dcf--table-warning {
  background-color: $color-warning;
}


.dcf--table-danger {
  background-color: $color-danger;
}
