//////////////////////
// !COMPONENTS: SEARCH
//////////////////////


// !Search Results
.dcf-c-search-results {

  @supports (display: grid) {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: #{ms(16)}em 5vw;
  }
}


@include mq(md, max, width) {

  .dcf-c-search__toggle {
    left: 50%;
  }

}


@include mq(md, min, width) {

  @supports (display: grid) {

    .dcf-c-search {
      grid-area: search;
    }

    .dcf-c-search-results {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas:
        "pages people places";
    }

    .dcf-c-search-results__pages {
      grid-area: pages;
    }

    .dcf-c-search-results__people {
      grid-area: people;
    }

    .dcf-c-search-results__places {
      grid-area: places;
    }
  }
}
