//////////////////////////
// !COMPONENTS: NAVIGATION
//////////////////////////


// !Skip Navigation
.dcf--skip-nav {
//   @include absolute;
  top: $spacing-2;
  left: $spacing-2;
}


// !Dropdown


// !Menu Toggle
// .dcf--icon-menu-top {
//   transition: transform .4s ease-out;
// }
//
// .dcf--icon-menu-middle {
//   opacity: 1;
//   transition: opacity .4s ease-out;
// }
//
// .dcf--icon-menu-bottom {
//   transition: transform .4s ease-out;
// }
//
//
// .dcf--menu-toggle.dcf--is-pressed .dcf--icon-menu-top {
//   transform: rotate(45deg);
//   transition: transform .2s ease-out;
// }
//
// .dcf--menu-toggle.dcf--is-pressed .dcf--icon-menu-middle {
//   opacity: 0;
//   transition: opacity .2s ease-out;
// }
//
// .dcf--menu-toggle.dcf--is-pressed .dcf--icon-menu-bottom {
//   transform: rotate(-45deg);
//   transition: transform .2s ease-out;
// }




// !Primary Navigation
.dcf--nav-primary ul {
  @include mb0;
  @include pl0;
  list-style: none;
}


.dcf--nav-primary > ul {
//   @include d-flex;
//   @include f-col;
  @include sm2;

  @supports (display: grid) {
    @include d-grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 1em 5vw;
  }

}

// .dcf--nav-primary > ul >  li {
//   @include mb0;
// }
//
// .dcf--nav-primary li:last-child {
//   @include mb0;
// }

.dcf--nav-primary ul ul {
  @include sm1;
  @include pt4;
}

// .dcf--nav-primary a {
//   @include pr4;
// }

@include mq(md) {

  .dcf--menu-toggle {
    @include d-none;
  }

  .dcf--nav-primary > ul {
    @include d-flex;
    @include f-row;
    @include f-jc-between;
  }

  .dcf--nav-primary > ul > li:not(:last-child) {
    margin-right: 2vw;
  }

}


// !Secondary Navigation

.dcf--nav-secondary li {
  @include d-inline;
}

.dcf--nav-secondary li:not(:last-child) {
  margin-right: 2vw;
}






@include mq(md, max, width) {

  .dcf--mobile-nav-toggle {
    @include fixed;
    @include w25;
    bottom: 0;
    height: 4em;
    z-index: 2;
  }

  .dcf--menu-toggle {
    left: 0;
  }

}





@include mq(md, min, width) {

  .dcf--menu-toggle {
    @include d-none;
  }

  .dcf--nav-primary {
    grid-area: nav1;
    @include relative;
  }

  .dcf--nav-primary ul ul {
    @include absolute;
    @include sr-only;
  }

  .dcf--nav-secondary {
//     @include absolute;
//     top: calc(1em + 3px);
//     right: 5vw;
    grid-area: nav2;
  }
}
