//////////////////////////////////
// CORE / ELEMENTS / ABBREVIATIONS
//////////////////////////////////


// Abbreviation
abbr {
  @if (to-number($font-size-abbr) != to-number(#{ms(0)}em)) {
    font-size: $font-size-abbr;
  }
  letter-spacing: $letter-spacing-abbr;
}


// Abbreviation title
abbr[title] {
  @if (to-number($border-bottom-width-abbr-title) != 0) {
    position: relative;
  }
  text-decoration: none;

  @if (to-number($border-bottom-width-abbr-title) != 0) {
    &::after {
      border-bottom: $border-bottom-width-abbr-title $border-bottom-style-abbr-title $border-bottom-color-abbr-title;
      content: '';
      height: 100%;
      left: 0;
      opacity: $opacity-abbr-title;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
