//////////////////////////////
// CORE / ELEMENTS / SUB & SUP
//////////////////////////////


// Subscript & superscript
sub,
sup {
  font-size: $font-size-sub-sup;
  position: relative;
  vertical-align: $vertical-align-sub-sup;
}


// Subscript
sub {
  bottom: $bottom-sub;
}


// Superscript
sup {
  bottom: $bottom-sup;
}
