///////////////////////////////////
// CORE / VARIABLES / ABBREVIATIONS
///////////////////////////////////


// Border color
$border-bottom-color-abbr-title: currentColor !default;  // Border-bottom-color of abbreviation border (underline)


// Border style
$border-bottom-style-abbr-title: dotted !default;        // Border-bottom-style of abbreviation border (underline)


// Border width
$border-bottom-width-abbr-title: 0 !default;             // Border-bottom-width of abbreviation border (underline)


// Font size
$font-size-abbr: .9em !default;                          // Abbreviation font-size


// Letter spacing
$letter-spacing-abbr: .05em !default;                    // Abbreviation letter-spacing


// Opacity
$opacity-abbr-title: .5 !default;                        // Opacity of abbreviation's border-bottom (underline)
