/////////////////////////////
// CORE / VARIABLES / ANCHORS
/////////////////////////////

@use "sass:color";
@use "./color-palette" as color_palette;
@use "./body" as body;


// Color
$color-link-light-mode: color_palette.$scarlet;                        // Link color in light mode
$color-link-dark-mode: color_palette.$light-cerulean;                  // Link color in dark mode
$color-link: var(--link);

$color-visited-light-mode: color.adjust($color-link-light-mode, $lightness: -10%);        // Visited color in light mode
$color-visited-dark-mode: color_palette.$lighter-cerulean;             // Visited color in dark mode
$color-visited: var(--visited);

$color-hover-light-mode: color.adjust($color-link-light-mode, $lightness: -10%);          // Hover color in light mode
$color-hover-dark-mode: color_palette.$lighter-cerulean;               // Hover color in dark mode
$color-hover: var(--hover);

$color-active-light-mode: color.adjust($color-link-light-mode, $lightness: -10%);         // Active color in light mode
$color-active-dark-mode: color_palette.$lighter-cerulean;              // Active color in dark mode
$color-active: var(--active);

$color-inverse-link-light-mode: body.$bg-color-body-light-mode;        // Inverse link color in light mode
$color-inverse-link-dark-mode: body.$bg-color-body-dark-mode;          // Inverse link color in dark mode
$color-inverse-link: var(--inverse-link);

$color-inverse-visited-light-mode: body.$bg-color-body-light-mode;     // Inverse visited color in light mode
$color-inverse-visited-dark-mode: body.$bg-color-body-dark-mode;       // Inverse visited color in dark mode
$color-inverse-visited: var(--inverse-visited);

$color-inverse-hover-light-mode: body.$bg-color-body-light-mode;       // Inverse hover color in light mode
$color-inverse-hover-dark-mode: body.$bg-color-body-dark-mode;         // Inverse hover color in dark mode
$color-inverse-hover: var(--inverse-hover);

$color-inverse-active-light-mode: body.$bg-color-body-light-mode;      // Inverse active color in light mode
$color-inverse-active-dark-mode: body.$bg-color-body-dark-mode;        // Inverse active color in dark mode
$color-inverse-active: var(--inverse-active);
