/////////////////////////////////
// CORE / VARIABLES / BACKGROUNDS
/////////////////////////////////


@use "sass:color";
@use './body' as body;
@use './color-palette' as color_palette;


// Backdrop filter
$backdrop-filter-blur: 3px;                                       // Backdrop-filter blur amount (in pixels)


// Background color
$bg-color-brand-alpha-light-mode: color_palette.$scarlet;                       // Alpha brand background-color (scarlet) in light mode
$bg-color-brand-alpha-dark-mode: color_palette.$scarlet;                        // Alpha brand background-color (scarlet) in dark mode
$bg-color-brand-alpha: var(--bg-brand-alpha);

$bg-color-brand-zeta-light-mode: color_palette.$green;                          // Zeta brand background-color (green) in light mode
$bg-color-brand-zeta-dark-mode: color_palette.$dark-green;                      // Zeta brand background-color (green) in dark mode
$bg-color-brand-zeta: var(--bg-brand-zeta);

$bg-color-brand-eta-light-mode: color_palette.$blue;                            // Eta brand background-color (blue) in light mode
$bg-color-brand-eta-dark-mode: color_palette.$dark-blue;                        // Eta brand background-color (blue) in dark mode
$bg-color-brand-eta: var(--bg-brand-eta);

$bg-color-brand-theta-light-mode: color_palette.$purple;                        // Theta brand background-color (purple) in light mode
$bg-color-brand-theta-dark-mode: color_palette.$dark-purple;                    // Theta brand background-color (purple) in dark mode
$bg-color-brand-theta: var(--bg-brand-theta);

$bg-color-brand-light-zeta-light-mode: color_palette.$lighter-green;            // Light zeta brand background-color (light green) in light mode
$bg-color-brand-light-zeta-dark-mode: color_palette.$dark-green;                // Light zeta brand background-color (light green) in dark mode
$bg-color-brand-light-zeta: var(--bg-brand-light-zeta);

$bg-color-brand-light-eta-light-mode: color_palette.$lighter-blue;              // Light eta brand background-color (light blue) in light mode
$bg-color-brand-light-eta-dark-mode: color_palette.$dark-blue;                  // Light eta brand background-color (light blue) in dark mode
$bg-color-brand-light-eta: var(--bg-brand-light-eta);

$bg-color-brand-light-theta-light-mode: color_palette.$lighter-purple;          // Light theta brand background-color (light purple) in light mode
$bg-color-brand-light-theta-dark-mode: color_palette.$dark-purple;              // Light theta brand background-color (light purple) in dark mode
$bg-color-brand-light-theta: var(--bg-brand-light-theta);

$bg-color-white-light-mode: color_palette.$white;                               // White background-color in light mode
$bg-color-white-dark-mode: color_palette.$darker-gray-s1;                       // White background-color in dark mode
$bg-color-white: var(--bg-white);

$bg-color-gray-light-light-mode: color_palette.$light-gray;                     // Light gray background-color in light mode
$bg-color-gray-light-dark-mode: color_palette.$darker-gray-s4;                  // Light gray background-color in dark mode
$bg-color-gray-light: var(--bg-light-gray);

$bg-color-gray-lighter-light-mode: color_palette.$lighter-gray;                 // Lighter gray background-color in light mode
$bg-color-gray-lighter-dark-mode: color_palette.$darker-gray-s3;                // Lighter gray background-color in dark mode
$bg-color-gray-lighter: var(--bg-lighter-gray);

$bg-color-gray-lightest-light-mode: color_palette.$lightest-gray;               // Lightest gray background-color in light mode
$bg-color-gray-lightest-dark-mode: color_palette.$darker-gray-s2;               // Lightest gray background-color in dark mode
$bg-color-gray-lightest: var(--bg-lightest-gray);

$bg-color-inverse-light-mode: body.$color-body-light-mode;             // Inverse background-color in light mode
$bg-color-inverse-dark-mode: body.$color-body-dark-mode;               // Inverse background-color in dark mode
$bg-color-inverse: var(--bg-inverse);

$bg-color-overlay-dark-light-mode: color.adjust(color_palette.$darkest-gray, $alpha: -0.16);   // Dark overlay background-color for modals in light mode
$bg-color-overlay-dark-dark-mode: color.adjust(color_palette.$black, $alpha: -0.25);           // Dark overlay background-color for modals in dark mode
$bg-color-overlay-dark: var(--bg-overlay-dark);

$bg-color-overlay-light-light-mode: color.adjust(color_palette.$cream, $alpha: -0.1);          // Light overlay background-color for modals in light mode
$bg-color-overlay-light-dark-mode: color.adjust(color_palette.$black, $alpha: -0.25);          // Light overlay background-color for modals in dark mode
$bg-color-overlay-light: var(--bg-overlay-light);

$bg-color-dialog-light-mode: color_palette.$white;                              // Dialog background-color in light mode
$bg-color-dialog-dark-mode: color_palette.$darker-gray-s1;                      // Dialog background-color in dark mode
$bg-color-dialog: var(--bg-dialog);

$bg-color-foreground: var(--bg-dialog);
