/////////////////////////////////
// CORE / VARIABLES / BACKGROUNDS
/////////////////////////////////


@use "sass:color";
@use './body' as body;
@use './color-palette' as color_palette;


// Backdrop filter
$backdrop-filter-blur: 3px !default;                                    // Backdrop-filter blur amount (in pixels)


// Background color
$bg-color-white-light-mode: color_palette.$white !default;              // White background-color in light mode
$bg-color-white-dark-mode: color_palette.$black !default;               // White background-color in dark mode
$bg-color-white: var(--bg-white) !default;

$bg-color-light-gray-light-mode: color_palette.$gray-20 !default;       // Light gray background-color in light mode
$bg-color-light-gray-dark-mode: color_palette.$gray-88 !default;        // Light gray background-color in dark mode
$bg-color-light-gray: var(--bg-light-gray) !default;

$bg-color-lighter-gray-light-mode: color_palette.$gray-12 !default;     // Lighter gray background-color in light mode
$bg-color-lighter-gray-dark-mode: color_palette.$gray-84 !default;      // Lighter gray background-color in dark mode
$bg-color-lighter-gray: var(--bg-lighter-gray) !default;

$bg-color-lightest-gray-light-mode: color_palette.$gray-04 !default;    // Lightest gray background-color in light mode
$bg-color-lightest-gray-dark-mode: color_palette.$gray-80 !default;     // Lightest gray background-color in dark mode
$bg-color-lightest-gray: var(--bg-lightest-gray) !default;

$bg-color-inverse-light-mode: body.$color-body-light-mode !default;     // Inverse background-color in light mode
$bg-color-inverse-dark-mode: body.$color-body-dark-mode !default;       // Inverse background-color in dark mode
$bg-color-inverse: var(--bg-inverse) !default;

$bg-color-overlay-dark-light-mode: color.adjust(color_palette.$gray-80, $alpha: -0.16) !default;    // Dark overlay background-color for modals in light mode
$bg-color-overlay-dark-dark-mode: color.adjust(color_palette.$black, $alpha: -0.25) !default;       // Dark overlay background-color for modals in dark mode
$bg-color-overlay-dark: var(--bg-overlay-dark) !default;

$bg-color-overlay-light-light-mode: color.adjust(color_palette.$white, $alpha: -0.1) !default;      // Light overlay background-color for modals in light mode
$bg-color-overlay-light-dark-mode: color.adjust(color_palette.$black, $alpha: -0.25) !default;      // Light overlay background-color for modals in dark mode
$bg-color-overlay-light: var(--bg-overlay-light) !default;

$bg-color-dialog-light-mode: color_palette.$white !default;             // Dialog background-color in light mode
$bg-color-dialog-dark-mode: color_palette.$gray-88 !default;            // Dialog background-color in dark mode
$bg-color-dialog: var(--bg-dialog) !default;

$bg-color-foreground: var(--bg-dialog) !default;
