/////////////////////////////
// CORE / VARIABLES / BORDERS
/////////////////////////////


@use './color-palette' as color_palette;
@use './sizing' as s;


// Border color
$border-color-light-gray-light-mode: color_palette.$gray-20 !default;       // Light gray border-color in light mode
$border-color-light-gray-dark-mode: color_palette.$gray-80 !default;        // Light gray border-color in dark mode
$border-color-light-gray: var(--b-light-gray) !default;

$border-color-lighter-gray-light-mode: color_palette.$gray-12 !default;     // Lighter gray border-color in light mode
$border-color-lighter-gray-dark-mode: color_palette.$gray-88 !default;      // Lighter gray border-color in dark mode
$border-color-lighter-gray: var(--b-lighter-gray) !default;

$border-color-lightest-gray-light-mode: color_palette.$gray-04 !default;    // Lightest gray border-color in light mode
$border-color-lightest-gray-dark-mode: color_palette.$gray-96 !default;     // Lightest gray border-color in dark mode
$border-color-lightest-gray: var(--b-lightest-gray) !default;

$border-color: var(--b-light-gray) !default;    // Legacy variable


// Border radius
$circle: 50% !default;
$pill: s.$length-em-4 !default; // 1em
$roundrect: 3px !default;
$sharp: 0 !default;
