/////////////////////////////////
// CORE / VARIABLES / BREADCRUMBS
/////////////////////////////////


@use './color-palette' as color_palette;
@use './modular-scale' as ms;
@use './sizing' as s;


// Border color
$border-color-breadcrumb-arrow: color_palette.$gray;     // Color of breadcrumb arrows


// Border width
$border-width-breadcrumb-arrow: #{ms.$ms-8}em;           // Border width of breadcrumbs arrows: .32em


// Margin
$margin-breadcrumbs: s.$length-em-3;                     // Margin (spacing) between breadcrumbs: .75em
