///////////////////////////////////
// CORE / VARIABLES / COLORS (TEXT)
///////////////////////////////////


@use "./body" as body;
@use "./color-palette" as color_palette;


// Colors
$color-dark-gray-light-mode: color_palette.$gray-80 !default;         // Dark text color in light mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-dark-gray-dark-mode: color_palette.$gray-20 !default;          // Dark text color in dark mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-dark-gray: var(--dark-gray) !default;

$color-darker-gray-light-mode: color_palette.$gray-88 !default;       // Darker text color in light mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-darker-gray-dark-mode: color_palette.$gray-12 !default;        // Darker text color in dark mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-darker-gray: var(--darker-gray) !default;

$color-darkest-gray-light-mode: color_palette.$gray-96 !default;      // Darkest text color in light mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-darkest-gray-dark-mode: color_palette.$gray-04 !default;       // Darkest text color in dark mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-darkest-gray: var(--darkest-gray) !default;

$color-inverse-light-mode: body.$bg-color-body-light-mode !default;   // Inverse text color in light mode
$color-inverse-dark-mode: body.$bg-color-body-dark-mode !default;     // Inverse text color in dark mode
$color-inverse: var(--inverse) !default;
