///////////////////////////////////
// CORE / VARIABLES / COLOR PALETTE
///////////////////////////////////


@use "sass:color";


// NEUTRALS
$white: #fff !default;
$black: #000 !default;

$gray-04: color.mix($black, $white, $weight: 4%, $method: null) !default;
$gray-08: color.mix($black, $white, $weight: 8%, $method: null) !default;
$gray-12: color.mix($black, $white, $weight: 12%, $method: null) !default;
$gray-16: color.mix($black, $white, $weight: 16%, $method: null) !default;
$gray-20: color.mix($black, $white, $weight: 20%, $method: null) !default;
$gray-24: color.mix($black, $white, $weight: 24%, $method: null) !default;

$gray-50: color.mix($white, $black, $weight: 50%, $method: null) !default;

$gray-76: color.mix($black, $white, $weight: 76%, $method: null) !default;
$gray-80: color.mix($black, $white, $weight: 80%, $method: null) !default;
$gray-84: color.mix($black, $white, $weight: 84%, $method: null) !default;
$gray-88: color.mix($black, $white, $weight: 88%, $method: null) !default;
$gray-92: color.mix($black, $white, $weight: 92%, $method: null) !default;
$gray-96: color.mix($black, $white, $weight: 96%, $method: null) !default;


// CONTEXTUAL COLORS
$info: blue !default;
$success: green !default;
$warning: orange !default;
$danger: red !default;

$highlight: #ff0 !default;
$kbd: #0f0 !default;


// SOCIAL MEDIA COLORS
$bluesky: #1185fe !default;
$facebook: #0866ff !default;
$instagram: #ff0069 !default;
$linkedin: #0073b1 !default;
$pinterest: #e60023 !default;
$snapchat: #fffc00 !default;
$spotify: #1ed760 !default;
$tiktok: #010101 !default;
$x-twitter: $black !default;
$youtube: #f00 !default;
