///////////////////////////////////////////
// CORE / VARIABLES / COLLAPSIBLE FIELDSETS
///////////////////////////////////////////


// Animation duration
$animation-duration-fieldset: 100ms !default;
$animation-duration-fieldset-contents: 250ms !default;


// Animation timing
$animation-timing-fieldset: ease-in-out !default;
