/////////////////////////////
// CORE / VARIABLES / DIALOGS
/////////////////////////////


@use "./body" as body;
@use './modular-scale' as ms;
@use './sizing' as s;


// Background color
$bg-color-dialog: var(--bg-body) !default;                              // Dialog background-color
$bg-color-dialog-backdrop: var(--bg-overlay-dark) !default;             // Dialog backdrop background-color


// Color
$color-dialog: var(--body) !default;                                    // Dialog text color


// Height & width
$max-height-dialog: calc(100dvh - (2 * #{s.$length-em-4})) !default;    // Max-height dialog
$width-dialog: calc(100% - (2 * #{s.$length-vw-2})) !default;           // Match width of .dcf-wrapper
