////////////////////////////////////////
// CORE / VARIABLES / FIGCAPTION TOGGLES
////////////////////////////////////////



@use './modular-scale' as ms;
@use './sizing' as s;


// Animation duration
// TODO: update variable names with property first
$figcaption-toggle-animation-duration: 500ms !default;
$figcaption-toggle-icon-animation-duration: 250ms !default;

$padding-top-caption: s.$length-em-4;     // Padding-top of slide caption: 1em
$padding-left-caption: #{ms.$ms01}em;     // Padding-left of slide caption: 1.13em
$padding-right-caption: #{ms.$ms01}em;    // Padding-right of slide caption: 1.13em
