/////////////////////////////
// CORE / VARIABLES / FIGURES
/////////////////////////////


@use './colors-text' as colors_text;
@use './modular-scale' as ms;


// Color
$color-figcaption-light-mode: colors_text.$color-dark-gray-light-mode !default;   // Color of figcaption in light mode
$color-figcaption-dark-mode: colors_text.$color-dark-gray-dark-mode !default;     // Color of figcaption in dark mode
$color-figcaption: var(--figcaption) !default;


// Font size
$font-size-figcaption: #{ms.$ms-2}em !default;    // Font-size of figcaption: .75em


// Text wrap
$text-wrap-pretty-figcaption: true !default;      // Prevent orphans in figcaptions? True/false
