///////////////////////////
// CORE / VARIABLES / FOCUS
///////////////////////////


@use './color-palette' as color_palette;


// Outline color
$color-focus-outline-light-mode: color_palette.$black !default;   // :focus outline color in light mode
$color-focus-outline-dark-mode: color_palette.$white !default;    // :focus outline color in dark mode
$color-focus-outline: var(--focus-outline) !default;
