///////////////////////////
// CORE / VARIABLES / FORMS
///////////////////////////


@use "./badges" as badges;
@use "./body" as body;
@use './color-palette' as color_palette;
@use './colors-text' as colors_text;
@use './tmp-defaults' as tmp_defaults;
@use './modular-scale' as ms;
@use './sizing' as s;


// Background color
$bg-color-input-light-mode: color_palette.$white;                             // Field background color in light mode
$bg-color-input-dark-mode: color_palette.$darkest-gray-s1;                    // Field background color in dark mode
$bg-color-input: var(--bg-input, tmp_defaults.$default-bg-input);

$bg-color-input-disabled-light-mode: color_palette.$lighter-gray;             // Disabled input background color in light mode
$bg-color-input-disabled-dark-mode: color_palette.$darker-gray;               // Disabled input background color in dark mode
$bg-color-input-disabled: var(--bg-input-disabled);

$bg-color-required-light-mode: transparent;                     // Required background color in light mode
$bg-color-required-dark-mode: rgba(157,0,0,.25);              // Required background color in dark mode
$bg-color-required: var(--bg-required);

$bg-color-radio-dot: var(--body);                               // Radio "dot" color (created using background-color)

$bg-color-select-1-light-mode: $bg-color-input-light-mode;      // Select top linear-gradient background-color in light mode
$bg-color-select-1-dark-mode: $bg-color-input-dark-mode;        // Select top linear-gradient background-color in dark mode
$bg-color-select-1: var(--bg-select-1);

$bg-color-select-2-light-mode: $bg-color-input-light-mode;      // Select bottom linear-gradient background-color in light mode
$bg-color-select-2-dark-mode: $bg-color-input-dark-mode;        // Select bottom linear-gradient background-color in dark mode
$bg-color-select-2: var(--bg-select-2);


// Background position
$bg-position-arrow: s.$length-em-4;                               // Position of arrow from right edge of select


// Background size
$bg-size-arrow-select: s.$length-em-2;                            // Size of select arrow


// Border color
$border-color-fieldset-light-mode: color_palette.$light-gray;                 // Fieldset border-color in light mode
$border-color-fieldset-dark-mode: color_palette.$darker-gray;                 // Fieldset border-color in dark mode
$border-color-fieldset: var(--b-fieldset);

$border-color-input-light-mode: color_palette.$gray;                          // Input field border-color in light mode
$border-color-input-dark-mode: color_palette.$dark-gray;                      // Input field border-color in dark mode
$border-color-input: var(--b-input, tmp_defaults.$default-b-input);

$border-color-input-hover-light-mode: color_palette.$dark-gray;               // Input field border-color when hovered in light mode
$border-color-input-hover-dark-mode: color_palette.$gray;                     // Input field border-color when hovered in dark mode
$border-color-input-hover: var(--b-input-hover);

$border-color-input-focus-light-mode: color_palette.$blue;                    // Input field border-color when focused in light mode
$border-color-input-focus-dark-mode: color_palette.$cerulean;                 // Input field border-color when focused in dark mode
$border-color-input-focus: var(--b-input-focus);

$border-color-required-light-mode: transparent;                 // Required border-color in light mode
$border-color-required-dark-mode: color_palette.$scarlet-shade;               // Required border-color in dark mode
$border-color-required: var(--b-required);

$border-color-checkmark: var(--body);                           // Checkmark color (created using borders)
$border-color-input-checked: var(--body);                       // Border-color of input when checked


// Border radius
$border-radius-input-roundrect: true;                           // Input field border-radius roundrect? True/false
$border-radius-fieldset-roundrect: true;                        // Fieldset border-radius roundrect? True/false


// Border style
$border-style-input: solid;                                     // Input field border-style


// Border width
$border-width-input: 1px;                                       // Input field border-width
$border-width-checkmark: #{ms.$ms-12}em;                           // Border-width of border used to create checkmark


// Color
$color-form-help-light-mode: colors_text.$color-light-text-light-mode;      // Form help text color in light mode
$color-form-help-dark-mode: colors_text.$color-light-text-dark-mode;        // Form help text color in dark mode
$color-form-help: var(--form-help);

$color-required-label-light-mode: color_palette.$scarlet;                     // Required label text color in light mode
$color-required-label-dark-mode: color_palette.$cream;                        // Required label text color in dark mode
$color-required-label: var(--required);

$color-select: var(--body);
$color-select-arrow-light-mode: body.$color-body-light-mode;         // Select arrow color in light mode
$color-select-arrow-dark-mode: body.$color-body-dark-mode;           // Select arrow color in dark mode


// Font size
$font-size-form: #{ms.$ms00}em;                                    // Form font-size: 1em
$font-size-label: #{ms.$ms-1}em;                                   // Label font-size: .84em
$font-size-legend: #{ms.$ms-1}em;                                  // Legend font-size: .84em
$font-size-form-help: #{ms.$ms-2}em;                               // Form help font-size: .75em
$font-size-required: badges.$font-size-badge;                          // Required label font-size: .56rem
$font-size-select: #{ms.$ms00}rem;                                 // Select font size: 1rem


// Font style
$font-style-required-italic: false;                             // Italic font-style for required label? True/false


// Font weight
$font-weight-legend-bold: true;                                 // Bold legend? True/false


// Height & width
$height-width-checkbox-radio: s.$length-em-6;                     // Height & width for checkboxes and radios


// Line height
$line-height-form: #{ms.$ms03};                                    // Form line-height
$line-height-form-help: #{ms.$ms02};                               // Form help line-height
$line-height-select: #{ms.$ms03};                                  // Select line height: 1.5


// Margin
$margin-bottom-fieldset: s.$length-em-4;                          // Fieldset margin-bottom: 1em
$margin-inline-fieldset: 0;                                     // Fieldset margin-inline: 0

$margin-top-input: 0;                                           // Margin-top of inputs: 0
$margin-right-input: 0;                                         // Margin-right of inputs: 0
$margin-bottom-input: 0;                                        // Margin-bottom of inputs: 0
$margin-left-input: 0;                                          // Margin-left of inputs: 0

$margin-left-required: s.$length-em-1;                            // Margin-left of required label: .42em
$margin-bottom-form-group: s.$length-em-4;                        // Form group margin-bottom: 1em
$margin-top-form-help: s.$length-em-1;                            // Form help margin-top: .42em
$margin-right-form-controls-inline-label: s.$length-em-4;         // Form controls inline label margin-right: 1em
$margin-bottom-checkbox-radio: s.$length-em-2;                    // Margin-bottom for checkboxes and radios

$margin-top-select: 0;                                          // Margin-top of select: 0
$margin-right-select: 0;                                        // Margin-right of select: 0
$margin-bottom-select: 0;                                       // Margin-bottom of select: 0
$margin-left-select: 0;                                         // Margin-left of select: 0


// Opacity
$opacity-disabled: .75;                                         // Opacity for disabled elements


// Padding
$padding-bottom-fieldset: s.$length-em-4;                         // Padding-bottom of fieldset: 1em
$padding-left-fieldset: s.$length-vw-1;                           // Padding-left of fieldset: 3.16vw
$padding-right-fieldset: s.$length-vw-1;                          // Padding-right of fieldset: 3.16vw
$padding-top-fieldset: s.$length-em-4;                            // Padding-top of fieldset: 1em

$padding-bottom-required: badges.$padding-bottom-badge;                // Padding-bottom of required label: .42em
$padding-left-required: badges.$padding-left-badge-pill;               // Padding-left of required label: .75em
$padding-right-required: badges.$padding-right-badge-pill;             // Padding-right of required label: .75em
$padding-top-required: badges.$padding-top-badge;                      // Padding-top of required label: .42em

$padding-bottom-input: s.$length-em-2;                            // Padding-bottom of input field: .56em
$padding-left-input: s.$length-em-3;                              // Padding-left of input field: .75em
$padding-right-input: s.$length-em-3;                             // Padding-right of input field: .75em
$padding-top-input: s.$length-em-2;                               // Padding-top of input field: .56em

$padding-legend: s.$length-em-2;                                  // Padding around legend
$padding-left-checkbox-radio: s.$length-em-7;                     // Padding-left for checkboxes and radios
$padding-right-select: s.$length-em-7;                            // Select padding-right is larger to allow for arrow


// Text transform
$text-transform-select: none;                                   // Text-transform select text


// Transform
$scale-radio-start: #{ms.$ms-8};                                   // Checked radio scale value start: .32em
$scale-radio-end: #{ms.$ms-4};                                     // Checked radio scale value end: .56em


// Transition
$transition-check-duration: .05s;                               // Duration of scale transition when checkbox is checked
$transition-check-timing: ease-out;                             // Timing function of scale transition when checkbox is checked
$transition-radio-duration: .05s;                               // Duration of scale transition when radio is checked
$transition-radio-timing: ease-out;                             // Timing function of scale transition when radio is checked
