/////////////////////////////
// CORE / VARIABLES / GALLERY
/////////////////////////////


@use './sizing' as s;


// Border color
$border-color-gallery-selected-image: var(--bg-brand-alpha) !default;
$border-color-figure: var(--b) !default;


// Border style
$border-style-gallery-selected-image: solid !default;
$border-style-figure: solid !default;


// Border width
$border-width-gallery-selected-image: 2px !default;
$border-width-figure: 1px !default;


// Column gap
$column-gap-gallery-thumbnails-list: s.$length-em-3 !default;


// Height and width
$width-gallery-figcaption: 100% !default;


// Margin
$margin-left-gallery-thumbnails-list-li-first-child-div: s.$length-em-6 !default;
$margin-right-gallery-thumbnails-list-li-last-child-div: s.$length-em-6 !default;


// Padding
$padding-bottom-gallery-modal-header: s.$length-em-1 !default;
$padding-left-gallery-modal-header: s.$length-em-1 !default;
$padding-right-gallery-modal-header: s.$length-em-1 !default;
$padding-top-gallery-modal-header: s.$length-em-1 !default;
$padding-left-gallery-prev: s.$length-em-4 !default;
$padding-right-gallery-prev: s.$length-em-4 !default;
$padding-left-gallery-next: s.$length-em-4 !default;
$padding-right-gallery-next: s.$length-em-4 !default;
$padding-top-gallery-thumbnails: s.$length-em-4 !default;
$padding-bottom-gallery-thumbnails: s.$length-em-5 !default;
$padding-bottom-gallery-figure: s.$length-em-4 !default;
$padding-top-gallery-figcaption: s.$length-em-5 !default;

