///////////////////////////////////
// CORE / VARIABLES / MODULAR SCALE
///////////////////////////////////


$ms-33: .008 !default;
$ms-32: .01 !default;
$ms-31: .011 !default;
$ms-30: .013 !default;
$ms-29: .015 !default;
$ms-28: .018 !default;
$ms-27: .02 !default;
$ms-26: .024 !default;
$ms-25: 0.027 !default;
$ms-24: 0.032 !default;
$ms-23: 0.036 !default;
$ms-22: 0.042 !default;
$ms-21: 0.048 !default;
$ms-20: 0.056 !default;
$ms-19: 0.063 !default;
$ms-18: 0.075 !default;
$ms-17: 0.084 !default;
$ms-16: 0.1 !default;
$ms-15: 0.113 !default;
$ms-14: 0.133 !default;
$ms-13: 0.15 !default;
$ms-12: 0.178 !default;
$ms-11: 0.2 !default;
$ms-10: 0.237 !default;
$ms-9: 0.27 !default;
$ms-8: 0.32 !default;
$ms-7: 0.36 !default;
$ms-6: 0.42 !default;
$ms-5: 0.47 !default;
$ms-4: 0.56 !default;
$ms-3: 0.63 !default;
$ms-2: 0.75 !default;
$ms-1: 0.84 !default;
$ms00: 1 !default;
$ms01: 1.13 !default;
$ms02: 1.33 !default;
$ms03: 1.5 !default;
$ms04: 1.78 !default;
$ms05: 2 !default;
$ms06: 2.37 !default;
$ms07: 2.67 !default;
$ms08: 3.16 !default;
$ms09: 3.56 !default;
$ms10: 4.21 !default;
$ms11: 4.74 !default;
$ms12: 5.62 !default;
$ms13: 6.32 !default;
$ms14: 7.49 !default;
$ms15: 8.43 !default;
$ms16: 9.99 !default;
$ms17: 11.24 !default;
$ms18: 13.32 !default;
$ms19: 14.98 !default;
$ms20: 17.76 !default;
$ms21: 19.98 !default;
$ms22: 23.68 !default;
$ms23: 26.64 !default;
$ms24: 31.57 !default;
$ms25: 35.52 !default;
$ms26: 42.09 !default;
$ms27: 47.35 !default;
$ms28: 56.12 !default;
$ms29: 63.14 !default;
$ms30: 74.83 !default;
$ms31: 84.18 !default;
$ms32: 99.77 !default;
$ms33: 112.25 !default;
$ms34: 133.03 !default;
$ms35: 149.66 !default;
$ms36: 177.38 !default;
$ms37: 199.55 !default;
$ms38: 236.5 !default;
$ms39: 266.07 !default;
$ms40: 315.34 !default;
$ms41: 354.75 !default;
$ms42: 420.45 !default;
$ms43: 473.01 !default;
$ms44: 560.6 !default;
$ms45: 630.67 !default;
$ms46: 747.47 !default;
$ms47: 840.9 !default;
$ms48: 996.62 !default;
$ms49: 1121.2 !default;
$ms50: 1328.83 !default;
$ms51: 1494.93 !default;
$ms52: 1771.77 !default;
$ms53: 1993.24 !default;
$ms54: 2362.36 !default;
$ms55: 2657.65 !default;
$ms56: 3149.81 !default;
$ms57: 3543.54 !default;
$ms58: 4199.75 !default;
$ms59: 4724.72 !default;
$ms60: 5599.67 !default;
$ms61: 6299.62 !default;
$ms62: 7466.22 !default;
$ms63: 8399.5 !default;
$ms64: 9954.96 !default;
$ms65: 11199.33 !default;
$ms66: 13273.28 !default;
$ms67: 14932.44 !default;
$ms68: 17697.71 !default;
$ms69: 19909.92 !default;
$ms70: 23596.94 !default;
$ms71: 26546.56 !default;
$ms72: 31462.59 !default;
$ms73: 35395.42 !default;
$ms74: 41950.12 !default;
$ms75: 47193.89 !default;
$ms76: 55933.5 !default;
$ms77: 62925.19 !default;
$ms78: 74578 !default;
$ms79: 83900.25 !default;
$ms80: 99437.33 !default;
$ms81: 111867 !default;
$ms82: 132583.11 !default;
$ms83: 149156 !default;
$ms84: 176777.48 !default;
$ms85: 198874.66 !default;
$ms86: 235703.30 !default;
$ms87: 265166.22 !default;
$ms88: 314271.07 !default;
$ms89: 353554.96 !default;
$ms90: 419028.09 !default;
$ms91: 471406.61 !default;
$ms92: 558704.13 !default;
$ms93: 628542.14 !default;
$ms94: 744938.84 !default;
$ms95: 838056.19 !default;
$ms96: 993251.78 !default;
$ms97: 1117408.25 !default;
$ms98: 1324335.71 !default;
$ms99: 1489877.67 !default;
