/////////////////////////////
// CORE / VARIABLES / NOTICES
/////////////////////////////


@use './color-palette' as color_palette;
@use './sizing' as s;


// Background color
$bg-color-notice-info: color_palette.$info;           // Info notice background-color
$bg-color-notice-success: color_palette.$success;     // Success notice background-color
$bg-color-notice-warning: color_palette.$warning;     // Warning notice background-color
$bg-color-notice-danger: color_palette.$danger;       // Danger notice background-color


// Color
$color-notice-info: color_palette.$lighter-blue;      // Info notice color
$color-notice-success: color_palette.$lighter-green;  // Success notice color
$color-notice-warning: color_palette.$cream;          // Warning notice color
$color-notice-danger: color_palette.$scarlet-tint;    // Danger notice color


// Position
$left-notices-overlay: s.$length-vw-2;    // Left position of overlay notice
$right-notices-overlay: s.$length-vw-2;   // Right position of overlay notice
$top-notices-overlay: s.$length-em-8;     // Top position of overlay notice
