////////////////////////////////
// CORE / VARIABLES / PARAGRAPHS
////////////////////////////////


@use './modular-scale' as ms;
@use './typography' as txt;


// Font size
$font-size-drop-cap: #{ms.$ms11}em !default;              // Drop cap font-size: 4.74em


// Font weight
$font-weight-drop-cap: txt.$font-weight-bold !default;    // Drop cap font-weight


// Line height
// Adjust line-height for Chrome & Safari after first adjusting margin-top for Firefox
$line-height-drop-cap: #{ms.$ms-3} !default;              // Drop cap line-height: .63


// Margin
$margin-bottom-paragraph: #{ms.$ms00}rem !default;        // Paragraph margin-bottom: 1rem
$margin-top-paragraph: 0 !default;                        // Paragraph margin-top: 0
// Adjust margin-top for Firefox, then adjust line-height
$margin-top-drop-cap: #{ms.$ms-1}rem !default;            // Drop cap margin-top: .84rem


// Padding
$padding-left-drop-cap: #{ms.$ms-20}rem !default;         // Padding-left for drop cap: .06rem
$padding-right-drop-cap: #{ms.$ms-4}rem !default;         // Padding-right for drop cap: .56rem


// Text wrap
$text-wrap-pretty-paragraph: true !default;               // Prevent orphans in paragraphs? True/false
