////////////////////////////
// CORE / VARIABLES / POPUPS
////////////////////////////


@use './sizing' as s;


// Duration
$animation-duration-popup: 125ms !default;


// Margin
$margin-popup-point: s.$length-em-4 !default;


// Size of arrow/point
$size-block-popup-point: s.$length-em-3 !default;
$size-inline-popup-point: s.$length-em-4 !default;
