//////////////////////////////
// CORE / VARIABLES / PROGRESS
//////////////////////////////


@use './modular-scale' as ms;
@use './sizing' as s;


// Border color
$border-color-spinner: currentColor !default;            // Spinner border color
$border-right-color-spinner: transparent !default;       // Spinner border right color


// Border style
$border-style-spinner: solid !default;                   // Spinner border style


// Border width
$border-width-spinner: .2em !default;                    // Spinner border width


// Duration
$animation-duration-spinner: #{ms.$ms02}s !default;         // Spinner animation duration: 1.33s


// Height
$height-spinner: s.$length-em-4 !default;                  // Height of spinner: 1em


// Iteration count
$animation-iteration-count-spinner: infinite !default;   // Spinner iteration count


// Timing Function
$animation-timing-spinner: linear !default;              // Spinner animation timing function


// Width
$width-spinner: s.$length-em-4 !default;                   // Width of spinner: 1em
