////////////////////////////////
// CORE / VARIABLES / SLIDESHOWS
////////////////////////////////


@use './modular-scale' as ms;
@use './sizing' as s;


// Animation duration
// TODO: update variable names with property first
$caption-toggle-animation-duration: 500ms !default;
$caption-toggle-icon-animation-duration: 250ms !default;


// Flex
$flex-basis-slideshow-ul-first-child-li-no-js: 84% !default;    // Flex-basis of slideshow slides if no JavaScript is present


// Gap
$column-gap-slideshow-ul: s.$length-em-3 !default;              // Column gap between slideshow slides


// Padding
$padding-bottom-slide-caption: s.$length-em-4 !default;         // Padding-bottom of slide caption: 1em
$padding-left-slide-caption: #{ms.$ms01}em !default;            // Padding-left of slide caption: 1.13em
$padding-right-slide-caption: #{ms.$ms01}em !default;           // Padding-right of slide caption: 1.13em
$padding-top-slide-caption: s.$length-em-4 !default;            // Padding-top of slide caption: 1em


// Size
$size-btn-x: 2.5rem !default;                                   // Size of button along x-axis
$size-btn-y: 2.5rem !default;                                   // Size of button along y-axis
$size-clip-path: 3px !default;                                  // Size of clip-path around buttons
