///////////////////////////////
// THEME / VARIABLES / DEFAULTS
///////////////////////////////


@use "sass:color";
@use "./color-palette" as color_palette;


// Background color
$default-bg-white: color_palette.$white;
$default-bg-overlay-dark: color.adjust(color_palette.$black, $alpha: -0.06);
$default-bg-overlay-light: color.adjust(color_palette.$white, $alpha: -0.06);
$default-bg-input: color_palette.$white;
$default-bg-nav-menu: color_palette.$white;
$default-bg-nav-toggle-group: color_palette.$white;


// Border color
$default-b-input: #ccc;
$default-b-app-control: color_palette.$black;


// Font weight
$font-weight-bold: bold;
$font-weight-bolder: bolder;
$font-weight-normal: normal;
