///////////////////////////////
// THEME / VARIABLES / DEFAULTS
///////////////////////////////


@use "sass:color";
@use "./color-palette" as color_palette;


// Background color
$default-bg-white: color_palette.$white !default;
$default-bg-overlay-dark: color.adjust(color_palette.$black, $alpha: -0.06) !default;
$default-bg-overlay-light: color.adjust(color_palette.$white, $alpha: -0.06) !default;
$default-bg-input: color_palette.$white !default;
$default-bg-nav-menu: color_palette.$white !default;
$default-bg-nav-toggle-group: color_palette.$white !default;


// Border color
$default-b-input: #ccc !default;
$default-b-app-control: color_palette.$black !default;

