///////////////////////////////
// THEME / VARIABLES / DEFAULTS
///////////////////////////////


// Background color
$default-bg-white: #fff;
$default-bg-overlay-dark: fade-out(#000, .06);
$default-bg-overlay-light: fade-out(#fff, .06);
$default-bg-input: #fff;
$default-bg-nav-menu: #fff;
$default-bg-nav-toggle-group: #fff;


// Border color
$default-b-input: #ccc;
$default-b-app-control: #000;
