////////////////////////////////////
// THEME / VARIABLES / DEFAULTS
////////////////////////////////////

$default-bg-white: #fff;
$default-app-control-border-color: #000;
$default-nav-menu-bg-color: #eee;
$default-bg-nav-toggle-group: #fff;
