///////////////////////////////
// THEME / VARIABLES / DEFAULTS
///////////////////////////////


$black: #000;
$white: #fff;


// Background color
$default-bg-white: $white;
$default-bg-overlay-dark: fade-out($black, .06);
$default-bg-overlay-light: fade-out($white, .06);
$default-bg-input: $white;
$default-bg-nav-menu: $white;
$default-bg-nav-toggle-group: $white;


// Border color
$default-b-input: #ccc;
$default-b-app-control: $black;

// Popup Sizing
$point-size-popup: 0.75em;
$point-margin-popup: 1em;
