///////////////////////////
// !CORE / MIXINS / Z-INDEX
///////////////////////////


@mixin z-0($imp:null) { z-index: 0 $imp; }
@mixin z-1($imp:null) { z-index: 1 $imp; }
@mixin z-2($imp:null) { z-index: 2 $imp; }

// TODO: add additional values to handle modals, dropdowns, etc.
@mixin z-modal-fullscreen($imp:null) { z-index: $z-modal-full-screen $imp; }
@mixin z-modal-with-nav-toggle-group($imp:null) { z-index: $z-modal-with-nav-toggle-group $imp; }
