//////////////////////////
// CORE / MIXINS / PADDING
//////////////////////////


// All sides
@mixin p-0($imp:null) { padding: 0 $imp; }
@mixin p-1($imp:null) { padding: $length-em-1 $imp; }
@mixin p-2($imp:null) { padding: $length-em-2 $imp; }
@mixin p-3($imp:null) { padding: $length-em-3 $imp; }
@mixin p-4($imp:null) { padding: $length-em-4 $imp; }
@mixin p-5($imp:null) { padding: $length-em-5 $imp; }
@mixin p-6($imp:null) { padding: $length-em-6 $imp; }
@mixin p-7($imp:null) { padding: $length-em-7 $imp; }
@mixin p-8($imp:null) { padding: $length-em-8 $imp; }
@mixin p-9($imp:null) { padding: $length-em-9 $imp; }
@mixin p-10($imp:null) { padding: $length-em-10 $imp; }


// Top
@mixin pt-0($imp:null) { padding-top: 0 $imp; }
@mixin pt-1($imp:null) { padding-top: $length-em-1 $imp; }
@mixin pt-2($imp:null) { padding-top: $length-em-2 $imp; }
@mixin pt-3($imp:null) { padding-top: $length-em-3 $imp; }
@mixin pt-4($imp:null) { padding-top: $length-em-4 $imp; }
@mixin pt-5($imp:null) { padding-top: $length-em-5 $imp; }
@mixin pt-6($imp:null) { padding-top: $length-em-6 $imp; }
@mixin pt-7($imp:null) { padding-top: $length-em-7 $imp; }
@mixin pt-8($imp:null) { padding-top: $length-em-8 $imp; }
@mixin pt-9($imp:null) { padding-top: $length-em-9 $imp; }
@mixin pt-10($imp:null) { padding-top: $length-em-10 $imp; }


// Right
@mixin pr-0($imp:null) { padding-right: 0 $imp; }
@mixin pr-1($imp:null) { padding-right: $length-em-1 $imp; }
@mixin pr-2($imp:null) { padding-right: $length-em-2 $imp; }
@mixin pr-3($imp:null) { padding-right: $length-em-3 $imp; }
@mixin pr-4($imp:null) { padding-right: $length-em-4 $imp; }
@mixin pr-5($imp:null) { padding-right: $length-em-5 $imp; }
@mixin pr-6($imp:null) { padding-right: $length-em-6 $imp; }
@mixin pr-7($imp:null) { padding-right: $length-em-7 $imp; }
@mixin pr-8($imp:null) { padding-right: $length-em-8 $imp; }
@mixin pr-9($imp:null) { padding-right: $length-em-9 $imp; }
@mixin pr-10($imp:null) { padding-right: $length-em-10 $imp; }


// Bottom
@mixin pb-0($imp:null) { padding-bottom: 0 $imp; }
@mixin pb-1($imp:null) { padding-bottom: $length-em-1 $imp; }
@mixin pb-2($imp:null) { padding-bottom: $length-em-2 $imp; }
@mixin pb-3($imp:null) { padding-bottom: $length-em-3 $imp; }
@mixin pb-4($imp:null) { padding-bottom: $length-em-4 $imp; }
@mixin pb-5($imp:null) { padding-bottom: $length-em-5 $imp; }
@mixin pb-6($imp:null) { padding-bottom: $length-em-6 $imp; }
@mixin pb-7($imp:null) { padding-bottom: $length-em-7 $imp; }
@mixin pb-8($imp:null) { padding-bottom: $length-em-8 $imp; }
@mixin pb-9($imp:null) { padding-bottom: $length-em-9 $imp; }
@mixin pb-10($imp:null) { padding-bottom: $length-em-10 $imp; }


// Left
@mixin pl-0($imp:null) { padding-left: 0 $imp; }
@mixin pl-1($imp:null) { padding-left: $length-em-1 $imp; }
@mixin pl-2($imp:null) { padding-left: $length-em-2 $imp; }
@mixin pl-3($imp:null) { padding-left: $length-em-3 $imp; }
@mixin pl-4($imp:null) { padding-left: $length-em-4 $imp; }
@mixin pl-5($imp:null) { padding-left: $length-em-5 $imp; }
@mixin pl-6($imp:null) { padding-left: $length-em-6 $imp; }
@mixin pl-7($imp:null) { padding-left: $length-em-7 $imp; }
@mixin pl-8($imp:null) { padding-left: $length-em-8 $imp; }
@mixin pl-9($imp:null) { padding-left: $length-em-9 $imp; }
@mixin pl-10($imp:null) { padding-left: $length-em-10 $imp; }
