//////////////////////////////
// !CORE / MIXINS / TYPOGRAPHY
//////////////////////////////


// !Font-Size
@mixin txt-base($imp:null) { font-size: #{ms(0)}rem $imp; }
@mixin txt-3xs($imp:null) { font-size: #{ms(-4)}em $imp; }
@mixin txt-2xs($imp:null) { font-size: #{ms(-3)}em $imp; }
@mixin txt-xs($imp:null) { font-size: #{ms(-2)}em $imp; }
@mixin txt-sm($imp:null) { font-size: #{ms(-1)}em $imp; }
@mixin txt-md($imp:null) { font-size: #{ms(0)}em $imp; }
@mixin txt-lg($imp:null) { font-size: #{ms(1)}em $imp; }
@mixin txt-h6($imp:null) { font-size: #{ms(1)}em $imp; }
@mixin txt-h5($imp:null) { font-size: #{ms(2)}em $imp; }
@mixin txt-h4($imp:null) { font-size: #{ms(3)}em $imp; }
@mixin txt-h3($imp:null) { font-size: #{ms(4)}em $imp; }
@mixin txt-h2($imp:null) { font-size: #{ms(5)}em $imp; }
@mixin txt-h1($imp:null) { font-size: #{ms(6)}em $imp; }
@mixin txt-xl($imp:null) { font-size: #{ms(7)}em $imp; }
@mixin txt-2xl($imp:null) { font-size: #{ms(8)}em $imp; }
@mixin txt-3xl($imp:null) { font-size: #{ms(9)}em $imp; }
@mixin txt-4xl($imp:null) { font-size: #{ms(10)}em $imp; }
@mixin txt-5xl($imp:null) { font-size: #{ms(11)}em $imp; }
@mixin txt-6xl($imp:null) { font-size: #{ms(12)}em $imp; }


// !Horizontal Text Alignment
@mixin txt-center($imp:null) { text-align: center $imp; }
@mixin txt-left($imp:null) { text-align: left $imp; }
@mixin txt-right($imp:null) { text-align: right $imp; }


// !Vertical Text Alignment
@mixin txt-baseline($imp:null) { vertical-align: baseline $imp; }
@mixin txt-top($imp:null) { vertical-align: top $imp; }
@mixin txt-middle($imp:null) { vertical-align: middle $imp; }
@mixin txt-bottom($imp:null) { vertical-align: bottom $imp; }
@mixin txt-text-top($imp:null) { vertical-align: text-top $imp; }
@mixin txt-text-bottom($imp:null) { vertical-align: text-bottom $imp; }


// Text Decoration
@mixin txt-decor-none($imp:null) { text-decoration: none $imp; }

@mixin txt-decor-hover-on($imp:null) {
  text-decoration: underline $imp;
}

@mixin txt-decor-hover-off($imp:null) {
  text-decoration: none $imp;
}


// !Text Wrap
@mixin txt-nowrap($imp:null) { white-space: nowrap $imp; }

@mixin word-wrap($imp:null) {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

@mixin truncate($imp:null) {
  overflow: hidden $imp;
  text-overflow: ellipsis $imp;
  white-space: nowrap $imp;
}


// !Font Style
@mixin roman($imp:null) { font-style: normal $imp; }
@mixin italic($imp:null) { font-style: italic $imp; }


// !Font Weight
@mixin regular($imp:null) { font-weight: normal $imp; }
@mixin bold($imp:null) { font-weight: bold $imp; }


// !Line Height
@mixin lh-1($imp:null) { line-height: #{ms(0)} $imp; }
@mixin lh-2($imp:null) { line-height: #{ms(1)} $imp; }
@mixin lh-3($imp:null) { line-height: #{ms(2)} $imp; }
@mixin lh-4($imp:null) { line-height: #{ms(3)} $imp; }


// !Text Transform
@mixin capitalize($imp:null) { text-transform: capitalize $imp; }
@mixin lowercase($imp:null) { text-transform: lowercase $imp; }
@mixin uppercase($imp:null) { text-transform: uppercase $imp; }
@mixin case-reset($imp:null) { text-transform: none $imp; }


// !Writing Mode
@mixin txt-vertical-lr($imp:null) {
  transform: translateY(-100%) rotateZ(90deg);
  transform-origin: 0 100%;

  @supports (writing-mode: vertical-lr) {
    transform: none;
    writing-mode: vertical-lr;
  }

}
