////////////////////////////////
// !CORE / MIXINS / BORDER-WIDTH
////////////////////////////////


// !All Sides
@mixin b-0($imp:null) { border-width: 0 $imp; }
@mixin b-1($imp:null) { border-width: 1px $imp; }
@mixin b-2($imp:null) { border-width: 2px $imp; }
@mixin b-3($imp:null) { border-width: 3px $imp; }


// !Top
@mixin bt-0($imp:null) { border-top-width: 0 $imp; }
@mixin bt-1($imp:null) { border-top-width: 1px $imp; }
@mixin bt-2($imp:null) { border-top-width: 2px $imp; }
@mixin bt-3($imp:null) { border-top-width: 3px $imp; }


// !Right
@mixin br-0($imp:null) { border-right-width: 0 $imp; }
@mixin br-1($imp:null) { border-right-width: 1px $imp; }
@mixin br-2($imp:null) { border-right-width: 2px $imp; }
@mixin br-3($imp:null) { border-right-width: 3px $imp; }


// !Bottom
@mixin bb-0($imp:null) { border-bottom-width: 0 $imp; }
@mixin bb-1($imp:null) { border-bottom-width: 1px $imp; }
@mixin bb-2($imp:null) { border-bottom-width: 2px $imp; }
@mixin bb-3($imp:null) { border-bottom-width: 3px $imp; }


// !Left
@mixin bl-0($imp:null) { border-left-width: 0 $imp; }
@mixin bl-1($imp:null) { border-left-width: 1px $imp; }
@mixin bl-2($imp:null) { border-left-width: 2px $imp; }
@mixin bl-3($imp:null) { border-left-width: 3px $imp; }
