////////////////////////////
// !CORE / MIXINS / POSITION
////////////////////////////


// !Static
@mixin static($imp:null) { position: static $imp; }


// !Relative
@mixin relative($imp:null) { position: relative $imp; }


// !Absolute
@mixin absolute($imp:null) { position: absolute $imp; }


// !Fixed
@mixin fixed($imp:null) { position: fixed $imp; }


// !Sticky
@mixin sticky($imp:null) {

  @supports (position: sticky) {
    position: sticky $imp;
  }

}


// !Pin To Top
@mixin pin-top($imp:null) { top: 0 $imp; }


// !Pin To Right
@mixin pin-right($imp:null) { right: 0 $imp; }


// !Pin To Bottom
@mixin pin-bottom($imp:null) { bottom: 0 $imp; }


// !Pin To Left
@mixin pin-left($imp:null) { left: 0 $imp; }
