/////////////////////////////////
// !CORE / MIXINS / ASPECT RATIOS
/////////////////////////////////


// !Maintain aspect ratio
@mixin ratio($imp:null) {
  position: relative $imp;

  &::before {
    content: '' $imp;
    display: block $imp;
    width: 100% $imp;
  }

}


// !16×9
@mixin ratio-16x9($imp:null) { padding-top: 56.25% $imp; }


// !4×3
@mixin ratio-4x3($imp:null) { padding-top: 75% $imp; }


// !1×1
@mixin ratio-1x1($imp:null) { padding-top: 100% $imp; }


// Child
@mixin ratio-child($imp:null) {
  bottom: 0 $imp;
  left: 0 $imp;
  position: absolute $imp;
  right: 0 $imp;
  top: 0 $imp;
}
