///////////////////////////
// CORE / MIXINS / POSITION
///////////////////////////


// Flow
@mixin static($imp:null) { position: static $imp; }     // Static
@mixin relative($imp:null) { position: relative $imp; } // Relative
@mixin absolute($imp:null) { position: absolute $imp; } // Absolute
@mixin fixed($imp:null) { position: fixed $imp; }       // Fixed
@mixin sticky($imp:null) {                              // Sticky

  @supports (position: sticky) {
    position: sticky $imp;
  }

}


// Coordinates
@mixin pin-top($imp:null) { top: 0 $imp; }        // Pin To Top
@mixin pin-right($imp:null) { right: 0 $imp; }    // Pin To Right
@mixin pin-bottom($imp:null) { bottom: 0 $imp; }  // Pin To Bottom
@mixin pin-left($imp:null) { left: 0 $imp; }      // Pin To Left
