/////////////////////////////////
// !CORE / MIXINS / BORDER-RADIUS
/////////////////////////////////


// !Circle
@mixin circle($imp:null) {
  border-radius: $circle $imp;
}


// !Rounded, All Sides
@mixin rounded($imp:null) {
  border-radius: $roundrect $imp;
}


// !Rounded Top (Top Right, Top Left)
@mixin rounded-top($imp:null) {
  border-top-left-radius: $roundrect $imp;
  border-top-right-radius: $roundrect $imp;
}


// !Rounded Right (Top Right, Bottom Right)
@mixin rounded-right($imp:null) {
  border-bottom-right-radius: $roundrect $imp;
  border-top-right-radius: $roundrect $imp;
}


// !Rounded Bottom (Bottom Right, Bottom Left)
@mixin rounded-bottom($imp:null) {
  border-bottom-left-radius: $roundrect $imp;
  border-bottom-right-radius: $roundrect $imp;
}


// !Rounded Left (Bottom Left, Top Left)
@mixin rounded-left($imp:null) {
  border-bottom-left-radius: $roundrect $imp;
  border-top-left-radius: $roundrect $imp;
}


// !Sharp, All Sides
@mixin sharp {
  border-radius: 0;
}


// !Sharp Right (Top Right, Bottom Right)
@mixin sharp-right {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


// !Sharp Left (Bottom Left, Top Left)
@mixin sharp-left {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
