////////////////////
// !ELEMENTS: TABLES
////////////////////


// !Table
table {
  border-collapse: collapse;
  background-color: transparent;
}


// !Caption
caption {
  @include pt3;
  @include txt-left;
  caption-side: bottom;
  @include sm2;
  color: $color-light-text;
}


// !Table Header
th {
  @include txt-left;
}
