/////////////////////
// !ELEMENTS: ANCHORS
/////////////////////


a {
  text-decoration-skip: ink;
}


// !Link
a:link {
  color: $link-color;
  transition: color 500ms ease-out;
}


// !Visited
a:visited {
  color: scale-color($link-color, $lightness: -10%, $saturation: -100%);
}


// !Hover
a:hover {
  color: scale-color($link-color, $lightness: -20%, $saturation: 100%);
  transition: color 250ms ease-out;
}


// !Active
a:active {
  color: scale-color($link-color, $lightness: -30%, $saturation: 100%);
}
