////////////////////
// !ELEMENTS: TABLES
////////////////////


table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  @include pt3;
  @include left;
  caption-side: bottom;
  @include sm2;
  color: $color-light-text;
}

th {
  @include left;
}
