//////////////////////////////////
// !CORE / VARIABLES / BREAKPOINTS
//////////////////////////////////


// !Ems
$mq-ems    : true;
$mq-em-base: 16px !default;


// !Breakpoints
$mq-breakpoints: (
  'sm': 671.3px,  // 41.956em
  'md': 894.8px,  // 55.927em
  'lg': 1192.8px, // 74.551em
  'xl': 1590px, // 99.376em
) !default;

$mq-media: "only screen" !default;
