html{
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
h1{
  font-size: 2em;
  margin: 0.67em 0; }
hr{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }
main{
  display: block; }
pre{
  font-family: monospace, monospace;
  font-size: 1em; }
a{
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
abbr[title]{
  text-decoration: underline;
  text-decoration: underline dotted; }
b,
strong{
  font-weight: bolder; }
code,
kbd,
samp{
  font-family: monospace, monospace;
  font-size: 1em; }
small{
  font-size: 80%; }
img{
  border-style: none; }
svg:not(:root){
  overflow: hidden; }
button,
input,
optgroup,
select,
textarea{
  margin: 0; }
button{
  overflow: visible;
  text-transform: none; }
button,
[type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance: button; }
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style: none;
  padding: 0; }
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline: 1px dotted ButtonText; }
fieldset{
  padding: 0.35em 0.75em 0.625em; }
input{
  overflow: visible; }
legend{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }
progress{
  display: inline-block;
  vertical-align: baseline; }
select{
  text-transform: none; }
textarea{
  overflow: auto; }
[type="checkbox"],
[type="radio"]{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height: auto; }
[type="search"]{
  -webkit-appearance: textfield;
  outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none; }
::-webkit-file-upload-button{
  -webkit-appearance: button;
  font: inherit; }
details{
  display: block; }
summary{
  display: list-item; }
template{
  display: none; }
[hidden]{
  display: none; }
@charset "UTF-8";
.unl--serif-font {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
  font-weight: 400;
  font-style: normal; }

.unl--sans-serif-font {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.unl--brand-font {
  font-family: 'Tungsten A', 'Tungsten B', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

.unl--display-font {
  font-family: 'Tungsten A', 'Tungsten B', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-style: normal; }

.dcf--invisible {
  visibility: hidden; }

.dcf--visible {
  visibility: visible; }

.dcf--sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  word-wrap: normal; }

.dcf--sr-only.dcf--sr-only-focusable:active,
.dcf--sr-only.dcf--sr-only-focusable:focus {
  position: static;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible; }

.dcf--d-none {
  display: none; }

.dcf--d-block {
  display: block; }

.dcf--d-inline {
  display: inline; }

.dcf--d-inline-block {
  display: inline-block; }

.dcf--d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.dcf--d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.dcf--d-grid {
  display: grid; }

.dcf--d-inline-grid {
  display: inline-grid; }

.dcf--flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.dcf--flex-column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.dcf--flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.dcf--flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.dcf--flex-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.dcf--flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.dcf--flex-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end; }

.dcf--flex-justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.dcf--flex-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.dcf--flex-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.dcf--flex-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dcf--flex-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end; }

.dcf--flex-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.dcf--flex-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.dcf--flex-self-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.dcf--flex-self-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dcf--flex-self-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end; }

.dcf--flex-self-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.dcf--flex-self-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.dcf--m0 {
  margin: 0; }

.dcf--m1 {
  margin: 0.25em; }

.dcf--m2 {
  margin: 0.5em; }

.dcf--m3 {
  margin: 0.75em; }

.dcf--m4 {
  margin: 1em; }

.dcf--m5 {
  margin: 2em; }

.dcf--m6 {
  margin: 4em; }

.dcf--mt0 {
  margin-top: 0; }

.dcf--mt1 {
  margin-top: 0.25em; }

.dcf--mt2 {
  margin-top: 0.5em; }

.dcf--mt3 {
  margin-top: 0.75em; }

.dcf--mt4 {
  margin-top: 1em; }

.dcf--mt5 {
  margin-top: 2em; }

.dcf--mt6 {
  margin-top: 4em; }

.dcf--mr0 {
  margin-right: 0; }

.dcf--mr1 {
  margin-right: 0.25em; }

.dcf--mr2 {
  margin-right: 0.5em; }

.dcf--mr3 {
  margin-right: 0.75em; }

.dcf--mr4 {
  margin-right: 1em; }

.dcf--mr5 {
  margin-right: 2em; }

.dcf--mr6 {
  margin-right: 4em; }

.dcf--mb0 {
  margin-bottom: 0; }

.dcf--mb1 {
  margin-bottom: 0.25em; }

.dcf--mb2 {
  margin-bottom: 0.5em; }

.dcf--mb3 {
  margin-bottom: 0.75em; }

.dcf--mb4 {
  margin-bottom: 1em; }

.dcf--mb5 {
  margin-bottom: 2em; }

.dcf--mb6 {
  margin-bottom: 4em; }

.dcf--ml0 {
  margin-left: 0; }

.dcf--ml1 {
  margin-left: 0.25em; }

.dcf--ml2 {
  margin-left: 0.5em; }

.dcf--ml3 {
  margin-left: 0.75em; }

.dcf--ml4 {
  margin-left: 1em; }

.dcf--ml5 {
  margin-left: 2em; }

.dcf--ml6 {
  margin-left: 4em; }

.dcf--p0 {
  padding: 0; }

.dcf--p1 {
  padding: 0.25em; }

.dcf--p2 {
  padding: 0.5em; }

.dcf--p3 {
  padding: 0.75em; }

.dcf--p4 {
  padding: 1em; }

.dcf--p5 {
  padding: 2em; }

.dcf--p6 {
  padding: 4em; }

.dcf--pt0 {
  padding-top: 0; }

.dcf--pt1 {
  padding-top: 0.25em; }

.dcf--pt2 {
  padding-top: 0.5em; }

.dcf--pt3 {
  padding-top: 0.75em; }

.dcf--pt4 {
  padding-top: 1em; }

.dcf--pt5 {
  padding-top: 2em; }

.dcf--pt6 {
  padding-top: 4em; }

.dcf--pr0 {
  padding-right: 0; }

.dcf--pr1 {
  padding-right: 0.25em; }

.dcf--pr2 {
  padding-right: 0.5em; }

.dcf--pr3 {
  padding-right: 0.75em; }

.dcf--pr4 {
  padding-right: 1em; }

.dcf--pr5 {
  padding-right: 2em; }

.dcf--pr6 {
  padding-right: 4em; }

.dcf--pb0 {
  padding-bottom: 0; }

.dcf--pb1 {
  padding-bottom: 0.25em; }

.dcf--pb2 {
  padding-bottom: 0.5em; }

.dcf--pb3 {
  padding-bottom: 0.75em; }

.dcf--pb4 {
  padding-bottom: 1em; }

.dcf--pb5 {
  padding-bottom: 2em; }

.dcf--pb6 {
  padding-bottom: 4em; }

.dcf--pl0 {
  padding-left: 0; }

.dcf--pl1 {
  padding-left: 0.25em; }

.dcf--pl2 {
  padding-left: 0.5em; }

.dcf--pl3 {
  padding-left: 0.75em; }

.dcf--pl4 {
  padding-left: 1em; }

.dcf--pl5 {
  padding-left: 2em; }

.dcf--pl6 {
  padding-left: 4em; }

.dcf--align-baseline {
  vertical-align: baseline; }

.dcf--align-top {
  vertical-align: top; }

.dcf--align-middle {
  vertical-align: middle; }

.dcf--align-bottom {
  vertical-align: bottom; }

.dcf--align-text-top {
  vertical-align: text-top; }

.dcf--align-text-bottom {
  vertical-align: text-bottom; }

.dcf--text-center {
  text-align: center; }

.dcf--text-left {
  text-align: left; }

.dcf--text-right {
  text-align: right; }

.dcf--capitalize {
  text-transform: capitalize; }

.dcf--lowercase {
  text-transform: lowercase; }

.dcf--uppercase {
  text-transform: uppercase; }

.dcf--bold {
  font-weight: bold; }

.dcf--normal {
  font-weight: normal; }

.dcf--italic {
  font-style: italic; }

.dcf--nowrap {
  white-space: nowrap; }

.dcf--rounded {
  border-radius: 2px; }

.dcf--rounded-top {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px; }

.dcf--rounded-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.dcf--rounded-bottom {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }

.dcf--rounded-left {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

.dcf--rounded-circle {
  border-radius: 50%; }

.dcf--overlay-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.96); }
  @supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    .dcf--overlay-dark {
      background-color: rgba(0, 0, 0, 0.94);
      -webkit-backdrop-filter: blur(6px);
              backdrop-filter: blur(6px); } }

.dcf--overlay-light {
  background-color: rgba(255, 255, 255, 0.98); }
  @supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    .dcf--overlay-light {
      background-color: rgba(0, 0, 0, 0.96);
      -webkit-backdrop-filter: blur(6px);
              backdrop-filter: blur(6px); } }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  color: #222;
  background-color: #fff; }

main:focus {
  outline: none; }

.dcf--wrapper {
  padding-right: 5vw;
  padding-left: 5vw; }

.dcf--full-width {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw; }

form {
  line-height: 1.5; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

label {
  display: inline-block; }

input,
textarea {
  font-size: 1rem; }

select {
  display: block;
  margin-bottom: 1em; }

textarea {
  display: block;
  width: 100%;
  resize: vertical; }

.dcf--form-group {
  margin-bottom: 1em; }

.dcf--form-textual {
  display: block;
  margin-top: 0.25em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border: 1px solid #ccc; }

.dcf--form-control {
  margin-right: 0.25em; }

.dcf--form-file {
  display: block;
  margin-top: 0.25em; }

.dcf--form-required {
  padding-left: 0.5em;
  font-style: italic;
  font-size: .75em; }

.dcf--form-help {
  margin-top: 0.25em;
  font-size: .75em; }

button,
input[type="button"],
input[type="submit"],
.dcf--button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  border-radius: 2px; }

a.dcf--button {
  text-decoration: none; }

.dcf--button-primary {
  color: #fff;
  border: 1px solid #333;
  background-color: #333; }
  .dcf--button-primary:link, .dcf--button-primary:visited, .dcf--button-primary:hover, .dcf--button-primary:active {
    color: #fff; }
  .dcf--button-primary:visited {
    border-color: #322929;
    background-color: #322929; }
  .dcf--button-primary:hover {
    border-color: #2d2525;
    background-color: #2d2525;
    -webkit-transition: border-color ease-out 250ms, background-color ease-out 250ms;
    transition: border-color ease-out 250ms, background-color ease-out 250ms; }
  .dcf--button-primary:active, .dcf--button-primary.dcf--active {
    border-color: #272020;
    background-color: #272020; }

.dcf--button-secondary {
  color: #333;
  border: 1px solid #333;
  background-color: #fff; }
  .dcf--button-secondary:link, .dcf--button-secondary:visited, .dcf--button-secondary:hover, .dcf--button-secondary:active {
    color: #333; }
  .dcf--button-secondary:visited {
    color: #322929;
    border-color: currentcolor; }
  .dcf--button-secondary:hover {
    color: #2d2525;
    border-color: currentcolor;
    background-color: whitesmoke; }
  .dcf--button-secondary:active, .dcf--button-secondary.dcf--active {
    color: #272020;
    border-color: currentcolor; }

.dcf--button-inverse {
  color: #fff;
  border: 1px solid currentcolor;
  background-color: rgba(0, 0, 0, 0.1); }
  .dcf--button-inverse:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.dcf--button-lg {
  font-size: 1.25rem; }

.dcf--button-sm {
  font-size: .75rem; }

.dcf--button-block {
  display: block;
  width: 100%; }

.dcf--button-block + .dcf--button-block {
  margin-top: 0.5em; }

table {
  line-height: 1.5;
  border-collapse: collapse;
  background-color: transparent; }

caption {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
  caption-side: bottom;
  font-size: .75rem;
  color: #666; }

th {
  text-align: left; }

.dcf--table {
  width: 100%;
  max-width: 100%; }

.dcf--table th,
.dcf--table td {
  border-top: 1px solid #ccc; }

.dcf--table thead th,
.dcf--table thead td {
  padding-top: 1.25em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em; }

.dcf--table thead th {
  vertical-align: bottom; }

.dcf--table tbody th,
.dcf--table tbody td {
  padding: 0.75em; }

.dcf--table-sm thead th,
.dcf--table-sm thead td {
  padding-top: 1em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em; }

.dcf--table-sm tbody th,
.dcf--table-sm tbody td {
  padding: 0.5em; }

.dcf--table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.dcf--table-bordered,
.dcf--table-bordered th,
.dcf--table-bordered td {
  border: 1px solid #ccc; }

.dcf--table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.dcf--table-active {
  background-color: rgba(0, 0, 0, 0.1); }

.dcf--table-info {
  background-color: rgba(0, 102, 255, 0.1); }

.dcf--table-success {
  background-color: rgba(0, 153, 0, 0.1); }

.dcf--table-warning {
  background-color: rgba(255, 102, 0, 0.1); }

.dcf--table-danger {
  background-color: rgba(255, 0, 0, 0.1); }

img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

figcaption {
  margin-top: 0.5em;
  line-height: 1.5;
  color: #666; }

:root {
  font-size: 1em;
  line-height: 1; }

@media screen and (min-width: 32em) and (max-width: 127.999em) {
  :root {
    font-size: calc(1em + (1.25 - 1) * ( (100vw - 32em) / ( 128 - 32))); } }

@media screen and (min-width: 128em) {
  :root {
    font-size: 1.25em; } }

h1,
.dcf--h1,
h2,
.dcf--h2,
h3,
.dcf--h3,
h4,
.dcf--h4,
h5,
.dcf--h5,
legend,
h6,
.dcf--h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25; }
  p + h1, address + h1,
  ol + h1,
  ul + h1,
  dl + h1,
  p +
  .dcf--h1,
  address +
  .dcf--h1,
  ol +
  .dcf--h1,
  ul +
  .dcf--h1,
  dl +
  .dcf--h1,
  p +
  h2,
  address +
  h2,
  ol +
  h2,
  ul +
  h2,
  dl +
  h2,
  p +
  .dcf--h2,
  address +
  .dcf--h2,
  ol +
  .dcf--h2,
  ul +
  .dcf--h2,
  dl +
  .dcf--h2,
  p +
  h3,
  address +
  h3,
  ol +
  h3,
  ul +
  h3,
  dl +
  h3,
  p +
  .dcf--h3,
  address +
  .dcf--h3,
  ol +
  .dcf--h3,
  ul +
  .dcf--h3,
  dl +
  .dcf--h3,
  p +
  h4,
  address +
  h4,
  ol +
  h4,
  ul +
  h4,
  dl +
  h4,
  p +
  .dcf--h4,
  address +
  .dcf--h4,
  ol +
  .dcf--h4,
  ul +
  .dcf--h4,
  dl +
  .dcf--h4,
  p +
  h5,
  address +
  h5,
  ol +
  h5,
  ul +
  h5,
  dl +
  h5,
  p +
  .dcf--h5,
  address +
  .dcf--h5,
  p + legend,
  address + legend,
  ol +
  .dcf--h5,
  ol + legend,
  ul +
  .dcf--h5,
  ul + legend,
  dl +
  .dcf--h5,
  dl + legend,
  p +
  h6,
  address +
  h6,
  ol +
  h6,
  ul +
  h6,
  dl +
  h6,
  p +
  .dcf--h6,
  address +
  .dcf--h6,
  ol +
  .dcf--h6,
  ul +
  .dcf--h6,
  dl +
  .dcf--h6 {
    margin-top: 2em; }
  h1 > small,
  .dcf--h1 > small,
  h2 > small,
  .dcf--h2 > small,
  h3 > small,
  .dcf--h3 > small,
  h4 > small,
  .dcf--h4 > small,
  h5 > small,
  .dcf--h5 > small, legend > small,
  h6 > small,
  .dcf--h6 > small {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-left: 0.25em; }

h1,
.dcf--h1 {
  font-size: 2.5rem; }

h2,
.dcf--h2 {
  font-size: 2rem; }

h3,
.dcf--h3 {
  font-size: 1.75rem; }

h4,
.dcf--h4 {
  font-size: 1.5rem; }

h5,
.dcf--h5,
legend {
  font-size: 1.25rem; }

h6,
.dcf--h6 {
  font-size: 1rem; }

.dcf--display-1 {
  font-size: 6rem; }

.dcf--display-2 {
  font-size: 5rem; }

.dcf--display-3 {
  font-size: 4rem; }

.dcf--display-4 {
  font-size: 3rem; }

p, address {
  max-width: 36rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5; }

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink; }

a:link {
  color: #d00000;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out; }

a:visited {
  color: #5e5e5e; }

a:hover {
  color: #a60000;
  -webkit-transition: color 250ms ease-out;
  transition: color 250ms ease-out; }

a:active {
  color: #920000; }

body:lang(en) {
  quotes: '\201C' '\201D' '\2018' '\2019' '\201C' '\201D' '\2018' '\2019'; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

blockquote {
  max-width: 36rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em;
  line-height: 1.5; }

cite {
  font-style: normal; }

.dcf--blockquote {
  position: relative;
  max-width: 36rem;
  margin-left: 0;
  padding-top: 1em;
  padding-bottom: 1em; }

.dcf--blockquote:before {
  content: open-quote;
  position: absolute;
  font-size: 8em;
  line-height: 1; }

.dcf--blockquote p, .dcf--blockquote address {
  padding-top: 3em;
  font-size: 1.5rem; }

.dcf--blockquote p:after, .dcf--blockquote address:after {
  content: close-quote; }

.dcf--blockquote footer:before {
  content: '\2014\2009'; }

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.5; }
  dl dl,
  dl ol,
  dl ul,
  ol dl,
  ol ol,
  ol ul,
  ul dl,
  ul ol,
  ul ul {
    margin-top: 0.5em; }

ol,
ul {
  padding-left: 1.5em; }

li, dt, dd {
  max-width: 36em;
  margin-top: 0; }

li {
  margin-bottom: 0.5em; }

dt, dd {
  margin-bottom: 0.25em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

dd + dt {
  margin-top: 1em; }

.dcf--list-unstyled, .dcf--pagination {
  list-style: none;
  padding-left: 0; }

.dcf--list-inline-item {
  display: inline-block; }

.dcf--list-inline-item:not(:last-child) {
  margin-right: 0.5em; }

.dcf--lead {
  font-size: 1.25rem; }

mark,
.dcf--mark {
  padding-top: .125em;
  padding-right: 0.25em;
  padding-bottom: .125em;
  padding-left: 0.25em;
  background-color: #ff0; }

small {
  font-size: 1em; }

.dcf--small, figcaption {
  font-size: .75em; }

sup,
sub {
  position: relative;
  vertical-align: baseline;
  font-size: .75rem; }

sup {
  top: -.5em; }

sub {
  top: .25em; }

abbr {
  letter-spacing: .05em; }

abbr[title] {
  position: relative;
  text-decoration: none; }
  abbr[title]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px dotted currentColor;
    opacity: .5; }

.dcf--initialism {
  font-size: 87.5%; }

address {
  font-style: normal; }

.dcf--article p, .dcf--article address,
.dcf--article dl,
.dcf--article ol,
.dcf--article ul {
  margin-bottom: 0; }
  .dcf--article p + p, .dcf--article address + p, .dcf--article p + address, .dcf--article address + address,
  .dcf--article p + dl,
  .dcf--article address + dl,
  .dcf--article p + ol,
  .dcf--article address + ol,
  .dcf--article p + ul,
  .dcf--article address + ul,
  .dcf--article dl + p,
  .dcf--article dl + address,
  .dcf--article dl + dl,
  .dcf--article dl + ol,
  .dcf--article dl + ul,
  .dcf--article ol + p,
  .dcf--article ol + address,
  .dcf--article ol + dl,
  .dcf--article ol + ol,
  .dcf--article ol + ul,
  .dcf--article ul + p,
  .dcf--article ul + address,
  .dcf--article ul + dl,
  .dcf--article ul + ol,
  .dcf--article ul + ul {
    margin-top: 0.25em;
    text-indent: 1.5em; }

code,
kbd,
pre {
  line-height: 1.5;
  border-radius: 2px; }

code,
kbd {
  padding-top: .125rem;
  padding-right: .25rem;
  padding-bottom: .125rem;
  padding-left: .25rem;
  font-size: 87.5%; }

code,
pre {
  word-break: normal;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }

code {
  color: #555555;
  background-color: rgba(0, 0, 0, 0.05); }

pre code {
  display: block;
  padding: 0;
  white-space: pre;
  overflow-x: scroll;
  background-color: transparent; }

.dcf--pre {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05); }

kbd {
  color: #0f0;
  background-color: #000; }

kbd kbd {
  padding: 0;
  font-size: 100%; }

.dcf--header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ddd; }

.dcf--header a {
  text-decoration: none; }

.dcf--search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative; }

.dcf--search-input {
  width: 100%;
  margin-top: 0;
  border-right-width: 3em; }

.dcf--search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  border: 0;
  background-color: transparent; }

.dcf--search-icon {
  height: 1em;
  width: 1em; }

@media (min-width: 48em) {
  .dcf--search-toggle {
    display: none; } }

.dcf--skip-nav {
  position: absolute;
  top: 0.25em;
  left: 0.25em; }
  .dcf--skip-nav a {
    color: #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.96); }
    @supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
      .dcf--skip-nav a {
        background-color: rgba(0, 0, 0, 0.94);
        -webkit-backdrop-filter: blur(6px);
                backdrop-filter: blur(6px); } }

.dcf--primary-nav ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.dcf--primary-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.dcf--primary-nav ul ul {
  font-size: .75rem; }

.dcf--breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  font-size: .75rem; }

.dcf--breadcrumbs li {
  margin-right: 0.5em; }

.dcf--footer-local {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #ddd; }

.dcf--footer-global {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #ccc; }

.dcf--card {
  font-size: 87.5%;
  border: 1px solid #ccc; }

.dcf--card img {
  width: 100%; }

.dcf--card-block {
  padding-top: 2em;
  padding-right: 5%;
  padding-bottom: 2em;
  padding-left: 5%; }

.dcf--card-block p:last-child, .dcf--card-block address:last-child {
  margin-bottom: 0; }

.dcf--badge {
  display: inline-block;
  margin-left: 0.25em;
  padding-top: .25rem;
  padding-right: 0.5em;
  padding-bottom: .25rem;
  padding-left: 0.5em;
  font-size: .5em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  border-radius: 2px; }

.dcf--badge-default {
  background-color: #666; }

.dcf--badge-pill {
  padding-right: 0.75em;
  padding-left: 0.75em;
  border-radius: 1em; }

.dcf--modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%; }

.dcf--modal-content {
  width: 80%;
  height: auto; }

.dcf--close-modal {
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  border: 0;
  background-color: transparent; }

.dcf--pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  padding-left: 0; }

.dcf--page-link {
  display: block;
  margin-left: -1px;
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  text-decoration: none; }

a.dcf--page-link {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  -webkit-transition: color 500ms ease-out, border-color 500ms ease-out;
  transition: color 500ms ease-out, border-color 500ms ease-out; }

a.dcf--page-link:hover {
  border-color: currentcolor;
  -webkit-transition: color 250ms ease-out, border-color 250ms ease-out;
  transition: color 250ms ease-out, border-color 250ms ease-out; }

.dcf--page-item:hover + .dcf--page-item .dcf--page-link {
  border-left-color: transparent; }

.dcf--page-item:first-child .dcf--page-link {
  margin-left: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

.dcf--page-item:last-child .dcf--page-link {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.dcf--disabled, button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
.dcf--button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .7; }

.dcf--modal-overlay {
  -webkit-transition: opacity 0.5s ease-out, visibility 0s linear 0.6s;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.6s; }
  .dcf--modal-open .dcf--modal-overlay {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }

html {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
  font-weight: 400;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -.03em; }
  h1 > small,
  h2 > small,
  h3 > small,
  h4 > small,
  h5 > small,
  h6 > small {
    font-weight: 400; }

figcaption {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

table {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

input {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--button {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--badge {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--pagination {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.rd-color-box {
  height: 8em;
  width: 8em;
  border: 1px solid #eee; }
  .rd-color-box.primary {
    background-color: #d00000; }
  .rd-color-box.accent {
    background-color: #fefdfa; }

.unl--form-required {
  color: #d00000; }
