///////////////
// !BASE: FORMS
///////////////

// See _base-buttons for styling input[type="button"], input[type="submit"]

form,
input,
textarea {
  font-size: 1rem;
  line-height: 1.5;
}

fieldset {
  @include m0;
  @include p0;
  @include b0;
}

legend {
  @extend .dcf--h5;
}

label {
  @include d-inline-block;
}

select {
  @include d-block;
  @include mb4;
}

textarea {
  @include d-block;
  @include w100;
  resize: vertical;
}

.dcf--form-group {
  @include mb4;
}

.dcf--input-textual {
  @include d-block;
  padding-top: .8em;
  @include pr4;
  padding-bottom: .7em;
  @include pl4;
  border: 1px solid $border-color;
  appearance: none;
}

.dcf--input-textual:focus {
  outline: none;
  border-color: $button-color;
}

.dcf--form-group .dcf--input-textual {
  @include mt1;
  border-radius: $roundrect;
}

.dcf--input-control {
  @include mr1;
}

.dcf--input-file {
  @include d-block;
  @include mt1;
}

.dcf--input-required {
  @include pl2;
  @include italic;
  @include sm-txt-2;
}

.dcf--form-help {
  @include mt1;
  @include sm-txt-2;
}