/////////////////
// !THEME: LAYOUT
/////////////////


.rd-color-box {
  height: 8em;
  width: 8em;
  border: 1px solid $color-border;

  &.primary {
    background-color: $scarlet;
  }

  &.accent {
    background-color: $cream;
  }

}

body.unl {
  background-color: $scarlet;
}

.unl--header {
  border-top: 3px solid $scarlet;
  background-color: $color-body-bg;
}

.dcf--main {
  background-color: $color-body-bg;
}

.unl--header a:visited {
  color: $color-link;
}

.unl--header a:hover {
  color: $color-link-hover;
}

.unl--input-required {
  color: $scarlet;
}

