////////////////////////////////
// CORE / MIXINS / ASPECT RATIOS
////////////////////////////////


// Aspect ratios
@mixin ratio-16x9($imp:null)  { aspect-ratio: 16 / 9 $imp; }  // 16:9 Landscape
@mixin ratio-9x16($imp:null)  { aspect-ratio: 9 / 16 $imp; }  // 9:16 Portrait
@mixin ratio-4x3($imp:null)   { aspect-ratio: 4 / 3 $imp; }   // 4:3  Landscape
@mixin ratio-3x4($imp:null)   { aspect-ratio: 3 / 4 $imp; }   // 3:4  Portrait
@mixin ratio-1x1($imp:null)   { aspect-ratio: 1 / 1 $imp; }   // 1:1  Square
