//////////////////////
// CORE / MIXINS / GAP
//////////////////////


// Gap (Flexbox & Grid)
@mixin gap-1($imp:null) { gap: $length-em-1 $imp; }
@mixin gap-2($imp:null) { gap: $length-em-2 $imp; }
@mixin gap-3($imp:null) { gap: $length-em-3 $imp; }
@mixin gap-4($imp:null) { gap: $length-em-4 $imp; }
@mixin gap-5($imp:null) { gap: $length-em-5 $imp; }
@mixin gap-6($imp:null) { gap: $length-em-6 $imp; }
@mixin gap-7($imp:null) { gap: $length-em-7 $imp; }
@mixin gap-8($imp:null) { gap: $length-em-8 $imp; }
@mixin gap-9($imp:null) { gap: $length-em-9 $imp; }
@mixin gap-10($imp:null) { gap: $length-em-10 $imp; }


// Grid column gap
@mixin col-gap-1($imp:null) { grid-column-gap: $length-em-1 $imp; }
@mixin col-gap-2($imp:null) { grid-column-gap: $length-em-2 $imp; }
@mixin col-gap-3($imp:null) { grid-column-gap: $length-em-3 $imp; }
@mixin col-gap-4($imp:null) { grid-column-gap: $length-em-4 $imp; }
@mixin col-gap-5($imp:null) { grid-column-gap: $length-em-5 $imp; }
@mixin col-gap-6($imp:null) { grid-column-gap: $length-em-6 $imp; }
@mixin col-gap-7($imp:null) { grid-column-gap: $length-em-7 $imp; }
@mixin col-gap-8($imp:null) { grid-column-gap: $length-em-8 $imp; }
@mixin col-gap-9($imp:null) { grid-column-gap: $length-em-9 $imp; }
@mixin col-gap-10($imp:null) { grid-column-gap: $length-em-10 $imp; }
@mixin col-gap-vw($imp:null) { grid-column-gap: $length-vw-1 $imp; }


// Grid row gap
@mixin row-gap-1($imp:null) { grid-row-gap: $length-em-1 $imp; }
@mixin row-gap-2($imp:null) { grid-row-gap: $length-em-2 $imp; }
@mixin row-gap-3($imp:null) { grid-row-gap: $length-em-3 $imp; }
@mixin row-gap-4($imp:null) { grid-row-gap: $length-em-4 $imp; }
@mixin row-gap-5($imp:null) { grid-row-gap: $length-em-5 $imp; }
@mixin row-gap-6($imp:null) { grid-row-gap: $length-em-6 $imp; }
@mixin row-gap-7($imp:null) { grid-row-gap: $length-em-7 $imp; }
@mixin row-gap-8($imp:null) { grid-row-gap: $length-em-8 $imp; }
@mixin row-gap-9($imp:null) { grid-row-gap: $length-em-9 $imp; }
@mixin row-gap-10($imp:null) { grid-row-gap: $length-em-10 $imp; }
