/////////////////////////
// CORE / MIXINS / COLORS
/////////////////////////


// Inverse (light text for dark backgrounds)
@mixin inverse($imp:null) { color: var(--inverse) $imp; }
@mixin inverse-link($imp:null) { color: var(--inverse-link) $imp; }         // Link
@mixin inverse-visited($imp:null) { color: var(--inverse-visited) $imp; }   // Visited
@mixin inverse-hover($imp:null) { color: var(--inverse-hover) $imp; }       // Hover
@mixin inverse-active($imp:null) { color: var(--inverse-active) $imp; }     // Active
