/////////////////////////////
// CORE / MIXINS / OBJECT-FIT
/////////////////////////////


// Contain
@mixin obj-fit-contain($imp:null) { object-fit: contain $imp; }


// Cover
@mixin obj-fit-cover($imp:null) { object-fit: cover $imp; }


// None
@mixin obj-fit-none($imp:null) { object-fit: none $imp; }
