/////////////////////////////
// !CORE / UTILITIES / COLORS
/////////////////////////////


// !Inverse (light text for dark backgrounds)
.dcf-inverse { @include inverse(!important); }
a.dcf-inverse:link { @include inverse-link(!important); }       // Link
a.dcf-inverse:visited { @include inverse-visited(!important); } // Visited
a.dcf-inverse:hover { @include inverse-hover(!important); }     // Hover
a.dcf-inverse:active { @include inverse-active(!important); }   // Active
