//////////////////////////////
// !CORE / UTILITIES / FLEXBOX
//////////////////////////////


// Flexbox display rules (.dcf-flex and .dcf-inlineflex) located in _utilities.display


// !Direction (Columns and Rows)
.dcf-flex-col { @include flex-col(!important); }
.dcf-flex-col-rev { @include flex-col-rev(!important); }
.dcf-flex-row { @include flex-row(!important); }
.dcf-flex-row-rev { @include flex-row-rev(!important); }


// !Wrap
.dcf-flex-wrap { @include flex-wrap(!important); }
.dcf-flex-wrap-rev { @include flex-wrap-rev(!important); }
.dcf-flex-nowrap { @include flex-nowrap(!important); }


// !Grow & Shrink
.dcf-flex-none { @include flex-none(!important); }
.dcf-flex-initial { @include flex-initial(!important); }
.dcf-flex-auto { @include flex-auto(!important); }
.dcf-flex-1 { @include flex-1(!important); }
.dcf-flex-grow-1 { @include flex-grow-1(!important); }
.dcf-flex-shrink-0 { @include flex-shrink-0(!important); }
