///////////////////////////
// !CORE / UTILITIES / GRID
///////////////////////////


// Grid display rules (.dcf--d-grid and .dcf--d-inline-grid) located in _utilities.display


// !Grid Column Gap
.dcf-col-gap-1 { @include col-gap-1(!important); }
.dcf-col-gap-2 { @include col-gap-2(!important); }
.dcf-col-gap-3 { @include col-gap-3(!important); }
.dcf-col-gap-4 { @include col-gap-4(!important); }
.dcf-col-gap-5 { @include col-gap-5(!important); }
.dcf-col-gap-6 { @include col-gap-6(!important); }
.dcf-col-gap-7 { @include col-gap-7(!important); }
.dcf-col-gap-8 { @include col-gap-8(!important); }
.dcf-col-gap-9 { @include col-gap-9(!important); }
.dcf-col-gap-10 { @include col-gap-10(!important); }
.dcf-col-gap-vw { @include col-gap-vw(!important); }


// !Grid Row Gap
.dcf-row-gap-1 { @include row-gap-1(!important); }
.dcf-row-gap-2 { @include row-gap-2(!important); }
.dcf-row-gap-3 { @include row-gap-3(!important); }
.dcf-row-gap-4 { @include row-gap-4(!important); }
.dcf-row-gap-5 { @include row-gap-5(!important); }
.dcf-row-gap-6 { @include row-gap-6(!important); }
.dcf-row-gap-7 { @include row-gap-7(!important); }
.dcf-row-gap-8 { @include row-gap-8(!important); }
.dcf-row-gap-9 { @include row-gap-9(!important); }
.dcf-row-gap-10 { @include row-gap-10(!important); }
