//////////////////////////////
// !CORE / COMPONENTS / FOOTER
//////////////////////////////


// !Footer - both Local and Global


// !Local Footer
// .dcf-c-footer__local {
// }


// !Global Footer
// .dcf-c-footer__global {
// }


@supports (display: grid) {

  .dcf-c-footer__local {

    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));

  }

  .dcf-c-footer__global {

    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));

  }

}


@include mq(md, max, width) {

  .dcf-c-footer__global {
    padding-bottom: #{ms(12)}em;
  }

}


@include mq(md, min, width) {

  .dcf-c-footer__global {
    @include pb6;
  }

}
