/////////////////////////////
// !CORE / COMPONENTS / CARDS
/////////////////////////////


// !Individual Card
.dcf-c-card {
  margin-bottom: 0;
}


// !Card Image
.dcf-c-card img {
  display: block;
  width: 100%;
}


// !Card Block
.dcf-c-card__block {
  @include pb5;
  @include pl6;
  @include pt5;
  @include pr6;
}


.dcf-c-card-block p:last-child {
  margin-bottom: 0;
}
