//////////////////////////////
// !CORE / COMPONENTS / HEADER
//////////////////////////////


// .dcf-c-header {
//   border-bottom: 1px solid $color-border;
// }

.dcf-c-header a {
  @include txt-decor-none;
}

.dcf-c-header button {
  color: $color-link;
}

.dcf-c-header button:hover {
  color: $color-link-hover;
}

.dcf-c-header button:active {
  color: $color-link-active;
}


@include mq(md, max, width) {

  .dcf-c-header::after {
    content: '';
    @include fixed;
    height: 4em;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 4px 0 fade-out($color-body, .75);
    @include bg-white;
  }

}




@include mq(md, min, width) {

  @supports (display: grid) {

    .dcf-c-header {
      @include grid;
      grid-template-columns: 1fr auto auto;
      grid-column-gap: 2em;
      grid-template-areas: "first nav2 nav2" "logo search idm" "nav1 nav1 nav1";
    }

    .dcf-c-institution-title {
      grid-area: first;
    }

    .dcf-c-logo {
      grid-area: logo;
    }

  }

}
