////////////////////////
// !COMPONENTS: ARTICLES
////////////////////////


.dcf-c-article__body p:not(.dcf-c-lead),
.dcf-c-article__body dl,
.dcf-c-article__body ol,
.dcf-c-article__body ul {
  @include mb0;
}


.dcf-c-article p,
.dcf-c-article dl,
.dcf-c-article ol,
.dcf-c-article ul,
.dcf-c-article blockquote {

  + p,
  + dl,
  + ol,
  + ul {
    @include mt1;
    text-indent: 1.5em;
  }

}


.dcf-c-author-img img {
  @include block;
  width: #{ms(16)}em;
}


@include mq(md, max, width) {

  .dcf-c-article__share li {
    @include inline;
    @include mr4;
  }
}


@include mq(md) {

  .dcf-c-article__share div[role="heading"] {
    @include mb5;
  }

  @supports (display: grid) {

    .dcf-c-article {
      @include grid;
      grid-gap: 0 5vw;
      grid-template-columns: #{ms(16)}em 1fr;
      grid-template-areas:
        "share header"
        "share body"
        "footer footer";
    }

    .dcf-c-article__header {
      grid-area: header;
    }

    .dcf-c-article__body {
      grid-area: body;
    }

    .dcf-c-article__share {
      grid-area: share;

      .dcf-u-sticky {
        top: #{ms(4)}em;
      }
    }

    .dcf-c-article__footer {
      grid-area: footer;
    }

  }
}
