///////////////////////////////
// !CORE / COMPONENTS / BUTTONS
///////////////////////////////


// !Button
.dcf-c-btn {
  cursor: pointer;
  display: inline-block;
//   font-family: inherit;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
//   -webkit-appearance: none;
}

a.dcf-c-btn {
  text-decoration: none;
}


// !Active
// .dcf-c-active {
//
// }

// button.dcf-c-active,
// .dcf-c-btn.dcf-c-active {
// //   @extend .dcf-c-active;
// }


// !Disabled
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
.dcf-c-btn:disabled {
  @include disabled;
}
