//////////////////////////
// !COMPONENTS: PAGINATION
//////////////////////////


.dcf-c-pagination {
  @include flex;
  @include mt5;
  @include pl0;
  list-style: none;
}

// .dcf-c-page-link {
//   @include d-block;
//   margin-left: -1px;
// //   @include pt2;
//   padding-top: .8em;
//   @include pr4;
// //   @include pb2;
//   padding-bottom: .7em;
//   @include pl4;
//   text-decoration: none;
// //   border-width: 1px;
// //   border-style: solid;
// //   border-color: #ccc;
// //   transition: color 1s ease-out, border-color 1s ease-out;
// }

// a.dcf-c-page-link {
//   @include b1;
//   border-color: $color-border;
//   transition: color 500ms ease-out, border-color 500ms ease-out;
// }
//
// a.dcf-c-page-link:hover {
//   border-color: currentcolor;
//   transition: color 250ms ease-out, border-color 250ms ease-out;
// }

// .dcf-c-page-link:hover {
//   margin-right: 0;
//   z-index: 1;
//   border-color: currentcolor;
//   transition: color .25s ease-out, border-color .25s ease-out;
// }

// .dcf-c-page-item:hover + .dcf-c-page-item .dcf-c-page-link {
//   border-left-color: transparent;
// }

// .dcf-c-page-item:first-child .dcf-c-page-link {
//   @include ml0;
//   @include rounded-left;
// }
//
// .dcf-c-page-item:last-child .dcf-c-page-link {
//   @include rounded-right;
// }


.dcf-c-pagination__item {
  @include mb0;
}


.dcf-c-pagination__item .dcf-c-btn:focus {
  z-index: 1;
}


.dcf-c-pagination__item:first-child > .dcf-c-btn {
  @include sharp-right;
}


.dcf-c-pagination__item:last-child > .dcf-c-btn {
  @include sharp-left;
}


.dcf-c-pagination__item:not(:first-child):not(:last-child) > .dcf-c-btn {
  @include sharp;
}


.dcf-c-pagination__item + .dcf-c-pagination__item .dcf-c-btn {
  margin-left: -1px;
}
