/////////////////////////////
// !CORE / COMPONENTS / MARKS
/////////////////////////////


// Marked (highlighted) text
.dcf-c-mark {
  background-color: #ff0;
  padding-bottom: .125em;
  @include pl1;
  @include pr1;
  padding-top: .125em;
}
