//////////////////////////////
// !CORE / COMPONENTS / EVENTS
//////////////////////////////


// !Caption
.dcf-c-calendar__caption {
  caption-side: top;
  font-size: 1em;
//   background-color: $color-body;
}


// !Calendar Cells
.dcf-c-calendar__cell {
  width: 14.28%;
}


// !Calendar Weekdays
.dcf-c-calendar__weekday {
  color: $color-light-text;
//   background-color: mix($color-body-bg, $color-body, 92%);
}


// !Calendar Date
a.dcf-c-calendar__date {
  outline: 2px solid transparent;
  transition: all $hover-off;
}


a.dcf-c-calendar__date:hover {
  outline: 2px solid $color-link-hover;
  transition: all $hover-on;
}


a.dcf-c-calendar__date:active {
  outline: 2px solid $color-link-active;
}


a.dcf-c-calendar__date:focus {
  outline: 2px solid $color-link-hover;
}


// !Calendar Date, Today
a.dcf-c-calendar__date--today {
  background-color: $color-body;
}


// !Calendar Date, Active
a.dcf-c-calendar__date--active {
  background-color: $color-link;
  transition: all $hover-off;
}


a.dcf-c-calendar__date--active:hover {
  background-color: $color-link-hover;
  transition: all $hover-on;
}


a.dcf-c-calendar__date--active:focus {
  background-color: $color-link-hover;
  transition: all $hover-on;
}


// !Calendar Date, Not Current Month
.dcf-c-calendar__not-current-month {
  background-color: mix($color-body-bg, $color-body, 96%);
}


.dcf-c-events {
}

.dcf-c-events__heading {
}

.dcf-c-events__more {
}

.dcf-c-events__subscribe {
}

.dcf-c-events__listing {
}

.dcf-c-event {
}



@supports (display: grid) {

  .dcf-c-events {
    @include grid;
    grid-template-columns: auto;
    grid-template-areas:
      "heading"
      "listing"
      "more";

//     @include mq(sm, min, width) {
//     }

//     @include mq(md, min, width) {
//       grid-template-columns: 1fr auto;
//       grid-template-rows: auto;
//       grid-template-areas:
//         "heading listing"
//         "subscribe listing"
//         "more listing";
//     }

    @include mq(lg, min, width) {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "heading more"
        "listing listing";
    }
  }

  .dcf-c-events__heading {
    grid-area: heading;
    @include mb0;
  }

  .dcf-c-events__more {
    grid-area: more;
  }

  .dcf-c-events__listing {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(20)}em, 1fr)); // 17.71em
    grid-area: listing;
  }

  .dcf-c-event {
    @include mb0;
  }

}




// !Event Listing
// .dcf-c-events-grid {
//
//   @supports (display: grid) {
//     grid-template-columns: repeat(auto-fit, minmax(#{ms(20)}em, 1fr));
//     grid-gap: 1em;
//
//     @include mq(md, min, width) {
//       grid-template-columns: 1fr 1fr;
//       grid-template-areas:
//         "web directory";
//       grid-gap: #{ms(8)}em 5vw;
//     }
//
//
//   }
// }

// .dcf-c-upcoming-events .dcf-c-list-unstyled {
//
//   @include mq(sm, min, width) {
//     columns: 2;
//     column-gap: #ms(0)em;
//   }
// }
//
// .dcf-c-upcoming-events .dcf-c-list-unstyled li {
//
//   @include mq(sm, min, width) {
//     column-break-inside: avoid;
//   }
// }


.dcf-c-event__info {
  flex: 1 0 1px;
}


.dcf-c-event__date-time {
  flex: 0 1 #{ms(10)}em; // 4.21em
}
