/////////////////////////////
// !CORE / COMPONENTS / ICONS
/////////////////////////////



a .dcf-c-icon,
button .dcf-c-icon {
  fill: currentcolor;
}

.dcf-c-icon--inline {
  height: #{ms(0)}em;
  width: #{ms(0)}em;
}

.dcf-c-icon--x {
  @include relative;
  top: #{ms(-14)}em;
}

.dcf-c-icon--hang {
  @include absolute;
  left: 0;
}
