//////////////////////////////
// !CORE / COMPONENTS / BADGES
//////////////////////////////


// !Default (Roundrect) Badges
.dcf-badge {
  background-color: $color-badge;
  color: #fff;
  display: inline-block;
  font-size: #{ms(-4)}em; // .56em
  @include lh3;
  padding-bottom: #{ms(-18)}rem; // .08rem
  padding-top: #{ms(-18)}rem; // .08rem
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.dcf-badge-roundrect {
  @include rounded;
  @include pl1;
  @include pr1;
}


// !Pill Badges
.dcf-badge-pill {
  border-radius: $pill;
  @include pl2;
  @include pr2;
}
