/////////////////////////////
// !CORE / COMPONENTS / ICONS
/////////////////////////////


a .dcf-c-icon,
button .dcf-c-icon {
  fill: currentColor;
}


.dcf-c-icon--inline {
  height: #{ms(0)}em; // 1em
  width: #{ms(0)}em; // 1em
}


.dcf-c-icon--x {
  position: relative;
  top: #{ms(-14)}em; // .13em
}


.dcf-c-icon--hang {
  left: 0;
  position: absolute;
}
