//////////////////////////////
// !CORE / COMPONENTS / BADGES
//////////////////////////////


// !Default (Roundrect) Badges
.dcf-c-badge {
  @include inlineblock;
  padding-top: #{ms(-18)}rem; // .08rem
  padding-bottom: #{ms(-18)}rem; // .08rem
  font-size: -#{ms(-4)}em; // -.56em
  @include lh3;
  color: #fff;
  @include txt-center;
  @include txt-top;
  @include txt-nowrap;
  background-color: $color-badge;
}

.dcf-c-badge--roundrect {
  @include pr1;
  @include pl1;
  @include rounded;
}


// !Pill Badges
.dcf-c-badge--pill {
  @include pr2;
  @include pl2;
  border-radius: $pill;
}
