//////////////////////////////
// !CORE / COMPONENTS / ALERTS
//////////////////////////////


.dcf-c-alert {
  @include grid;
//   grid-gap: 1em;
  grid-template-areas:
    "header footer"
    "msg footer";
}

.dcf-c-alert__header {
  grid-area: header;
}

.dcf-c-alert__msg {
  grid-area: msg;
}

.dcf-c-alert__footer {
  grid-area: footer;
}
