//////////////////////////////
// !CORE / COMPONENTS / SEARCH
//////////////////////////////


// !Search Results
.dcf-c-search-results-wrapper {
  height: calc(100% - #{ms(16)}em); // 100% - 9.97em
}

.dcf-c-search-results {
  @include pr6;

//   @supports (display: grid) {
//     @include grid;
//     grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
//     grid-gap: #{ms(16)}em 5vw;
//   }
}

.dcf-c-search-results__directory {

  @supports (display: grid) {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr)); // 13.29em
    grid-gap: #{ms(8)}em 5vw;
  }
}


@include mq(md, max, width) {

  .dcf-c-search__toggle {
    left: 50%;
  }

}

// @include mq(sm, min, width) {
//
//   .dcf-c-search-results {
//
//     @supports (display: grid) {
//       @include grid;
//       grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
//       grid-gap: #{ms(16)}em 5vw;
//     }
//   }
// }


// @include mq(sm, min, width) {
//
//   @supports (display: grid) {
//
//     .dcf-c-search-results__people {
//       @include grid;
//       grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
//       grid-gap: #{ms(16)}em 5vw;
//     }
//   }
// }


@include mq(md, min, width) {

  @supports (display: grid) {

    .dcf-c-search {
      grid-area: search;
    }

    .dcf-c-search-results {
      @include grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "web directory";
      grid-gap: #{ms(8)}em 5vw;
    }

//     .dcf-c-search-results {
//       @include grid;
//       grid-template-columns: 2fr 1fr 1fr;
//       grid-template-areas:
//         "pages people places";
//       grid-gap: #{ms(8)}em 5vw;
//     }

    .dcf-c-search-results__web {
      grid-area: web;
    }

    .dcf-c-search-results__directory {
      grid-area: directory;
    }
  }
}
