//////////////////////////////
// !CORE / COMPONENTS / BADGES
//////////////////////////////


// !Default (Roundrect) Badges
.dcf-c-badge {
  @include inlineblock;
  padding-top: #{ms(-10)}rem; // .238rem
  padding-bottom: #{ms(-10)}rem; // .238rem
  @include sm4;
  @include lh3;
  color: #fff;
  @include txt-center;
  @include txt-top;
  @include txt-nowrap;
  background-color: $color-badge;
}

.dcf-c-badge--default {
  @include pr2;
  @include pl2;
  @include rounded;
}


// !Pill Badges
.dcf-c-badge--pill {
  @include pr4;
  @include pl4;
  border-radius: $pill;
}
