//////////////////////////////
// !CORE / COMPONENTS / ALERTS
//////////////////////////////


.dcf-alert {
  display: grid;
  grid-template-areas: "header footer" "msg footer";
}


.dcf-alert__header {
  grid-area: header;
}


.dcf-alert__msg {
  grid-area: msg;
}


.dcf-alert__footer {
  grid-area: footer;
}
