/////////////////////////////
// !CORE / COMPONENTS / FORMS
/////////////////////////////


.dcf-input-text {
  appearance: none;
  display: block;
  font-family: inherit;
}


.dcf-input-file {
  display: block;
}
