////////////////////////////////////
// !CORE / COMPONENTS / INPUT GROUPS
////////////////////////////////////


.dcf-c-input-group {
  display: flex;
  width: 100%;
}


// !Input Group Input Field
.dcf-c-input-group .dcf-c-input-text {
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
  width: 1%;
}


// !Input Group Button
.dcf-c-input-group .dcf-c-btn {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}


// !Input Group Add-on
.dcf-c-input-group__addon {
  align-items: center;
  display: flex;
  text-align: center;
  white-space: nowrap;
}
