//////////////////////////////
// !CORE / COMPONENTS / HEROES
//////////////////////////////


// .dcf-c-hero {
//
// }
//
// .dcf-c-hero__fg {
//
// }
//
// .dcf-c-hero__bg {
//
// }
//
// .dcf-c-hero__video {
//
// }
//
// .dcf-c-hero__img {
//
// }

.dcf-c-hero video,
.dcf-c-hero img {
  display: block;
  width: 100%;

  @supports (object-fit: cover) {
    height: 100%;
    object-fit: cover;
  }

}

@include mq(md) {

  .dcf-c-hero {
    height: 75vh;
    min-height: #{ms(24)}em; // 31.475em
    position: relative;
  }

  .dcf-c-hero__layer {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .dcf-c-hero__fg {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
  }

  .dcf-c-hero__bg {
    overflow: hidden;
    z-index: 1;
  }

}
