//////////////////////////////
// !CORE / COMPONENTS / MODALS
//////////////////////////////


// !Modal Overlay
.dcf-c-modal__overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity .5s ease-out, visibility 0s linear .6s;
  visibility: hidden;
  width: 100%;
  z-index: 999;

  &.dcf-is-open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .2s ease-out;
    visibility: visible;
  }

}


// !Modal Content
.dcf-c-modal__content {
  height: auto;
  max-height: 100%;
  width: 90%;
}


// !Modal Controls
.dcf-c-close-modal {
  @include bg-transparent;
  @include b0;
  cursor: pointer;
  position: absolute;
  right: 1%;
  top: 1%;
}
