/////////////////////
// !COMPONENTS: MARKS
/////////////////////


// Marked (highlighted) text
.dcf-c-mark {
  padding-top: .125em;
  @include pr1;
  padding-bottom: .125em;
  @include pl1;
  background-color: #ff0;
}
