/////////////////////
// !COMPONENTS: ICONS
/////////////////////


.dcf-c-icon {
  height: #{ms(0)}em;
  width: #{ms(0)}em;
}

.dcf-c-icon--inline {
  @include relative;
  bottom: -.125em;
  margin-right: #{ms(-4)}rem;
}
