///////////////////////////////////
// !CORE / COMPONENTS / BLOCKQUOTES
///////////////////////////////////


.dcf-blockquote {
  @include mb7;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}


.dcf-blockquote::before {
  content: open-quote;
  font-size: #{ms(16)}em; // 9.97em
  @include lh1;
  position: absolute;
}


.dcf-blockquote p {
  font-size: #{ms(2)}em; // 1.33em
  padding-top: #{ms(9)}em; // 3.56em
}


.dcf-blockquote p::after {
  content: close-quote;
}


// !Attribution
.dcf-attribution {
  @include mt4;
}


.dcf-attribution::before {
  content: '— '; // em dash (&mdash;) followed by a thin space (&thinsp;)
}
