//////////////////////////////
// !CORE / COMPONENTS / MODALS
//////////////////////////////


// !Modal Overlay
.dcf-c-modal__overlay {
  @include flex;
  @include ai-center;
  @include jc-center;
  @include fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  @include invisible;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s ease-out, visibility 0s linear .6s;

  &.dcf-is-open {
    @include visible;
    pointer-events: auto;
    opacity: 1;
    transition: opacity .2s ease-out;
  }

}


// !Modal Content
.dcf-c-modal__content {
  width: 90%;
  height: auto;
  max-height: 100%;
}


// !Modal Controls
.dcf-c-close-modal {
  @include absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  @include b0;
  @include bg-transparent;
}
