//////////////////////////////////
// !CORE / COMPONENTS / NAVIGATION
//////////////////////////////////


// !Skip Navigation
.dcf-c-skipnav {
  top: #{ms(-4)}em; // .56em
  left: #{ms(-4)}em; // .56em
}


// !Dropdown


// !Menu Toggle
// .dcf-c-icon-menu-top {
//   transition: transform .4s ease-out;
// }
//
// .dcf-c-icon-menu-middle {
//   opacity: 1;
//   transition: opacity .4s ease-out;
// }
//
// .dcf-c-icon-menu-bottom {
//   transition: transform .4s ease-out;
// }
//
//
// .dcf-c-menu-toggle.dcf-c-is-pressed .dcf-c-icon-menu-top {
//   transform: rotate(45deg);
//   transition: transform .2s ease-out;
// }
//
// .dcf-c-menu-toggle.dcf-c-is-pressed .dcf-c-icon-menu-middle {
//   opacity: 0;
//   transition: opacity .2s ease-out;
// }
//
// .dcf-c-menu-toggle.dcf-c-is-pressed .dcf-c-icon-menu-bottom {
//   transform: rotate(-45deg);
//   transition: transform .2s ease-out;
// }




// !Primary Navigation
.dcf-c-nav__primary ul {
  @include mb0;
  @include pl0;
  list-style: none;
}


.dcf-c-nav__primary > ul {
//   @include d-flex;
//   @include f-col;
  @include sm2;

  @supports (display: grid) {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));
    grid-gap: 1em 5vw;
  }

}

// .dcf-c-nav-primary > ul >  li {
//   @include mb0;
// }
//
// .dcf-c-nav-primary li:last-child {
//   @include mb0;
// }

.dcf-c-nav__primary ul ul {
  @include sm1;
  @include pt4;
}

// .dcf-c-nav-primary a {
//   @include pr4;
// }

@include mq(md) {

  .dcf-c-nav-toggle {
    @include none;
  }

  .dcf-c-nav__primary > ul {
    @include flex;
    @include flex-row;
    @include jc-between;
  }

  .dcf-c-nav__primary > ul > li:not(:last-child) {
    margin-right: 2vw;
  }

}


// !Secondary Navigation

.dcf-c-nav__secondary li {
  @include inline;
}

.dcf-c-nav__secondary li:not(:last-child) {
  margin-right: 2vw;
}






@include mq(md, max, width) {

  .dcf-c-mobile-nav-toggle {
    @include fixed;
    width: 25%;
    bottom: 0;
    height: 4em;
    z-index: 2;
  }

  .dcf-c-nav-toggle {
    left: 0;
  }

}





@include mq(md, min, width) {

  .dcf-c-nav-toggle {
    @include none;
  }

  .dcf-c-nav__primary {
    grid-area: nav1;
    @include relative;
  }

  .dcf-c-nav__primary ul ul {
    @include absolute;
    @include sr-only;
  }

  .dcf-c-nav__secondary {
//     @include absolute;
//     top: calc(1em + 3px);
//     right: 5vw;
    grid-area: nav2;
  }
}
