////////////////////////////////////
// !CORE / COMPONENTS / INPUT GROUPS
////////////////////////////////////


.dcf-c-input-group {
  @include flex;
  @include w100;
}


// !Input Group Input Field
.dcf-c-input-group .dcf-c-input-textual {
  flex: 1 1 auto;
  width: 1%;
  @include mt0;
  @include mb0;
  @include rounded-left;
}

.dcf-c-input-group .dcf-c-input-textual:not(:last-child) {
  border-radius: $roundrect 0 0 $roundrect;
}

.dcf-c-input-group-addon + .dcf-c-input-textual {
  border-radius: 0 $roundrect $roundrect 0;
}


// !Input Group Button
.dcf-c-input-group .dcf-c-btn {
  @include flex;
  @include ai-center;
  @include mt0;
  @include mb0;
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


// !Input Group Add-on
.dcf-c-input-group-addon {
  @include flex;
  @include ai-center;
  @include pt2;
  @include pr3;
  @include pb2;
  @include pl3;
  @include txt-nowrap;
  @include txt-center;
  color: $color-light-text;
  border-style: solid;
  border-color: $color-border;
  background-color: #eee; // convert to variable
}

.dcf-c-input-group-addon:not(:last-child) {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  @include rounded-left;
}

.dcf-c-input-group-addon:last-child {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  @include rounded-right;
}
