////////////////////////////////
// !CORE / COMPONENTS / ARTICLES
////////////////////////////////


.dcf-article__body dl {
  @include pl6;
}


.dcf-article__body dl,
.dcf-article__body ol,
.dcf-article__body ul {
  margin-bottom: 0;
}


.dcf-article p,
.dcf-article dl,
.dcf-article ol,
.dcf-article ul,
.dcf-article blockquote {

  + p,
  + dl,
  + ol,
  + ul {
    @include mt1;
  }

  + p {
    text-indent: #{ms(4)}em; // 1.77em
  }

}


.dcf-article__body p:not(.dcf-lead) {
  margin-bottom: 0;
}


.dcf-author-img img {
  display: block;
  width: #{ms(8)}em; // 3.16em
}


@include mq(sm, max, width) {

  .dcf-article__share li {
    display: inline-flex;
    margin-bottom: 0;
    @include mr4;
  }

}


@include mq(sm, min, width) {

  .dcf-article__share div[role="heading"] {
    @include mb5;
  }

  .dcf-article__share li {
    @include mb4;
  }

}


@supports (display: grid) {

  @include mq(sm, min, width) {

    .dcf-article {
      display: grid;
      grid-template-columns: #{ms(8)}em 1fr; // 3.16em
      grid-template-areas: "share header" "share body" "footer footer";
    }

    .dcf-article__header {
      grid-area: header;
    }

    .dcf-article__body {
      grid-area: body;
    }

    .dcf-article__share {
      grid-area: share;

      .dcf-u-sticky {
        top: #{ms(2)}em; // 1.33em
      }

      div[role="heading"] {
        @include mb6;
      }

    }

    .dcf-article__footer {
      grid-area: footer;
    }

  }

}
