//////////////////////////////
// !CORE / COMPONENTS / QUOTES
//////////////////////////////


.dcf-c-blockquote {
  @include relative;
  @include ml0;
  @include pt4;
  @include pb4;
}


.dcf-c-blockquote::before {
  content: open-quote;
  @include absolute;
  font-size: #{ms(16)}em; // 9.97em
  @include lh1;
}


.dcf-c-blockquote p {
  padding-top: #{ms(9)}em; // 3.95em
  font-size: #{ms(2)}em; // 1.33em
}


.dcf-c-blockquote p::after {
  content: close-quote;
}


// !Attribution
.dcf-c-attribution {
  @include mt4;
}

.dcf-c-attribution:before {
  content: '— '; // em dash (&mdash;) followed by a thin space (&thinsp;)
}
