//////////////////////////////
// !CORE / COMPONENTS / TABLES
//////////////////////////////


.dcf-c-table thead,
.dcf-c-table tbody {
  @include bb;
  border-color: $color-border;
  @include txt-md;
}


.dcf-c-table thead th,
.dcf-c-table thead td {
  padding-bottom: #{ms(-4)}rem;
  vertical-align: bottom;
}


.dcf-c-table tbody th,
.dcf-c-table tbody td {
  padding-bottom: #{ms(-4)}rem;
  padding-top: #{ms(-4)}rem;
  vertical-align: top;
}


.dcf-c-table th:not(:last-child),
.dcf-c-table td:not(:last-child) {
  padding-right: #{ms(2)}rem;
}
