//////////////////////////////
// !CORE / COMPONENTS / HEADER
//////////////////////////////


// .dcf-c-header {
//   border-bottom: 1px solid $color-border;
// }

.dcf-c-header a {
  text-decoration: none;
}

.dcf-c-header button {
  color: $color-link;
}

.dcf-c-header button:hover {
  color: $color-link-hover;
}

.dcf-c-header button:active {
  color: $color-link-active;
}
