//////////////////////
// !COMPONENTS: HEROES
//////////////////////


// .dcf-c-hero {
//
// }
//
// .dcf-c-hero__fg {
//
// }
//
// .dcf-c-hero__bg {
//
// }
//
// .dcf-c-hero__video {
//
// }
//
// .dcf-c-hero__img {
//
// }

.dcf-c-hero video,
.dcf-c-hero img {
  @include block;
  @include w100;

  @supports (object-fit: cover) {
    @include h100;
    object-fit: cover;
  }

}

@include mq(md) {

  .dcf-c-hero {
    @include relative;
    height: 75vh;
    min-height: #{ms(24)}em; // 31.475em
  }

  .dcf-c-hero__layer {
    @include absolute;
    @include h100;
    @include w100;
  }

  .dcf-c-hero__fg {
    @include flex;
    @include flex-col;
    @include ai-flexstart;
    @include jc-flexend;
    z-index: 2;
  }

  .dcf-c-hero__bg {
    @include overflow-hidden;
    z-index: 1;
  }

}
