/////////////////////
// !VARIABLES: SIZING
/////////////////////


// !Modular Scale
@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 1 1.075 1.155 1.241,
  ratio: $fourth,
);


// !Font Size
$min_font_size: ms(0);
$max_font_size: ms(4);


// !Linear Inetrpolation
$min_lerp_width: ms(48); // 31.475em
$max_lerp_width: ms(68); // 132.501em


// !Spacing
$length0: 0;
$length1: #{ms(-12)}em;
$length2: #{ms(-8)}em;
$length3: #{ms(-4)}em;
$length4: #{ms(0)}em;
$length5: #{ms(4)}em;
$length6: #{ms(8)}em;
