//////////////////////////
// !CORE / UTILITIES / SVG
//////////////////////////


.dcf-fill-current { @include fill-current(!important); }
.dcf-stroke-current { @include stroke-current(!important); }
