/////////////////////////////
// CORE / UTILITIES / PADDING
/////////////////////////////


// All sides
.dcf-p-0 { @include p-0(!important); }
.dcf-p-1 { @include p-1(!important); }
.dcf-p-2 { @include p-2(!important); }
.dcf-p-3 { @include p-3(!important); }
.dcf-p-4 { @include p-4(!important); }
.dcf-p-5 { @include p-5(!important); }
.dcf-p-6 { @include p-6(!important); }
.dcf-p-7 { @include p-7(!important); }
.dcf-p-8 { @include p-8(!important); }
.dcf-p-9 { @include p-9(!important); }
.dcf-p-10 { @include p-10(!important); }


// Top
.dcf-pt-0 { @include pt-0(!important); }
.dcf-pt-1 { @include pt-1(!important); }
.dcf-pt-2 { @include pt-2(!important); }
.dcf-pt-3 { @include pt-3(!important); }
.dcf-pt-4 { @include pt-4(!important); }
.dcf-pt-5 { @include pt-5(!important); }
.dcf-pt-6 { @include pt-6(!important); }
.dcf-pt-7 { @include pt-7(!important); }
.dcf-pt-8 { @include pt-8(!important); }
.dcf-pt-9 { @include pt-9(!important); }
.dcf-pt-10 { @include pt-10(!important); }


// Right
.dcf-pr-0 { @include pr-0(!important); }
.dcf-pr-1 { @include pr-1(!important); }
.dcf-pr-2 { @include pr-2(!important); }
.dcf-pr-3 { @include pr-3(!important); }
.dcf-pr-4 { @include pr-4(!important); }
.dcf-pr-5 { @include pr-5(!important); }
.dcf-pr-6 { @include pr-6(!important); }
.dcf-pr-7 { @include pr-7(!important); }
.dcf-pr-8 { @include pr-8(!important); }
.dcf-pr-9 { @include pr-9(!important); }
.dcf-pr-10 { @include pr-10(!important); }


// Bottom
.dcf-pb-0 { @include pb-0(!important); }
.dcf-pb-1 { @include pb-1(!important); }
.dcf-pb-2 { @include pb-2(!important); }
.dcf-pb-3 { @include pb-3(!important); }
.dcf-pb-4 { @include pb-4(!important); }
.dcf-pb-5 { @include pb-5(!important); }
.dcf-pb-6 { @include pb-6(!important); }
.dcf-pb-7 { @include pb-7(!important); }
.dcf-pb-8 { @include pb-8(!important); }
.dcf-pb-9 { @include pb-9(!important); }
.dcf-pb-10 { @include pb-10(!important); }


// Left
.dcf-pl-0 { @include pl-0(!important); }
.dcf-pl-1 { @include pl-1(!important); }
.dcf-pl-2 { @include pl-2(!important); }
.dcf-pl-3 { @include pl-3(!important); }
.dcf-pl-4 { @include pl-4(!important); }
.dcf-pl-5 { @include pl-5(!important); }
.dcf-pl-6 { @include pl-6(!important); }
.dcf-pl-7 { @include pl-7(!important); }
.dcf-pl-8 { @include pl-8(!important); }
.dcf-pl-9 { @include pl-9(!important); }
.dcf-pl-10 { @include pl-10(!important); }
