//////////////////////////
// !CORE / OBJECTS / LISTS
//////////////////////////


// !Bare List
.dcf-o-list-bare {
  list-style: none;
  padding-left: 0;
}


// !Inline List
.dcf-o-list-inline-item {
  display: inline-block;
}


.dcf-o-list-inline-item::before {
  content: "\200B"; // add zero-width space
}


.dcf-o-list-inline-item:not(:last-child) {
  @include mr2;
}
