////////////////////////////
// !CORE / OBJECTS / STRETCH
////////////////////////////


.dcf-o-stretch {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}
