///////////////////////////
// !CORE / OBJECTS / DIALOG
///////////////////////////


.dcf-o-dialog {
  background-color: #fff;
  border: 1px solid transparent; // prevent margin collapse
  @include ml2;
  @include mr2;

//   .dcf-o-dialog__header {
//     @include font-sans; // add at the theme level
//   }

//   .dcf-o-dialog__body {
//   }

//   .dcf-o-dialog__footer {
//   }

  .dcf-o-dialog__close {
    @include absolute;
    top: 0;
    right: $length2;
    @include pt0;
    @include pr3;
    @include pb0;
    @include pl3;
    @include b0;

    &::before {
      content: '\00D7';
      @include lg4;
    }

  }

}
