/////////////////////////
// !CORE / OBJECTS / GRID
/////////////////////////



.dcf-o-grid {
}

.dcf-o-grid-odd {
}

.dcf-o-grid-even {
}


@supports (display: grid) {

  .dcf-o-grid {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(20)}em, 1fr));
  }


  .dcf-o-grid-odd {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(20)}em, 1fr));
  }


  .dcf-o-grid-even {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(20)}em, 1fr));

    @include mq(sm, min, width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(xl, min, width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

}
