/////////////////////
// !THEME: TYPOGRAPHY
/////////////////////


html {
  @include font-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-sans;
  @include bold;
  letter-spacing: -.03em;
}


.dcf-c-subhead {
//   color: $light-text;
  @include font-sans;
}


.dcf-c-article-3 {
//   color: $light-text;
  @include font-sans;
}


.dcf-c-article-aside {
  @include font-sans;
}


.dcf-c-figcaption {
  @include font-sans;
}


table {
  @include font-sans;
}


.dcf-c-input-textual {
  @include font-sans;
}


.dcf-c-input-select select {
  @include font-sans;
}


.dcf-c-btn {
  @include font-sans;
}


.dcf-c-badge {
  @include font-sans;
}


.dcf-c-pagination {
  @include font-sans;
}


// .dcf-c-header {
//   @include font-sans;
// }


.dcf-c-footer__local {
  @include font-sans;
}


.dcf-c-article__meta {
  @include font-sans;
}

.unl-t-nav__primary ul {
  @include font-sans;
}

.unl-t-nav__primary > ul > li > a {
  @include bold;
  @include uppercase;
  @include ls1;
}



.unl .dcf-c-dropcap:first-letter {
  margin-top: #{ms(-4)}rem; // first, adjust margin-top for Firefox
  padding-right: #{ms(-4)}rem;
  font-size: #{ms(11)}em;
  line-height: .68; // then, adjust line-height for Chrome and Safari
}
