/////////////////
// !THEME: LAYOUT
/////////////////


.rd-color-box {
  height: 8em;
  width: 8em;
  border: 1px solid $color-border;

  &.primary {
    background-color: $scarlet;
  }

  &.accent {
    background-color: $cream;
  }

}

.unl-t-color-test {
  background-color: $color-test;
}

// body.unl {
//   background-color: $scarlet;
// }

.unl-t-header {
  border-top: 3px solid $scarlet;
  background-color: $cream;
}

.unl-t-ls-ital {
  padding-right: #{ms(-24)}em;
}

.dcf-o-main {
  background-color: $color-body-bg;
}

.unl-t-header a:visited {
  color: $color-link;
}

.unl-t-header a:hover {
  color: $color-link-hover;
}

.unl--input-required {
  color: $scarlet;
}

.unl-t-hero-h {
  @include inline;
  color: #fff;
//   box-decoration-break: clone;
//   box-shadow: .316em 0 0 rgba(208,0,0,.9), -.316em 0 0 rgba(208,0,0,.9);
//   background-color: rgba(208,0,0,.9);
}
