////////////////////////////
// CORE / COMPONENTS / ICONS
////////////////////////////


a .dcf-icon,
button .dcf-icon {
  fill: currentColor;
}


.dcf-icon-inline {
  height: #{$ms00}em; // 1em
  width: #{$ms00}em;  // 1em
}


.dcf-icon-x {
  position: relative;
  top: #{$ms-14}em    // .13em
}


.dcf-icon-hang {
  left: 0;
  position: absolute;
}
