//////////////////////////////////
// CORE / COMPONENTS / BREADCRUMBS
//////////////////////////////////


.dcf-breadcrumbs li {
  align-items: center;
  display: flex;
}


.dcf-breadcrumbs li:not(:last-child) {
  margin-right: $margin-breadcrumbs;
}


.dcf-breadcrumbs li:not(:last-child)::after {
  border-bottom: $border-width-breadcrumb-arrow solid transparent;
  border-left: $border-width-breadcrumb-arrow solid $border-color-breadcrumb-arrow;
  border-top: $border-width-breadcrumb-arrow solid transparent;
  content: '';
  height: 0;
  margin-left: $margin-breadcrumbs;
  width: 0;
}
