//////////////////////////////////
// CORE / COMPONENTS / PAGINATION
/////////////////////////////////


.dcf-pagination-selected .dcf-btn {
  cursor: not-allowed !important;
}


.dcf-pagination span {
  padding: $padding-block-pagination-span $padding-inline-pagination-span;
}


.dcf-pagination li {
  margin: 0;
}


.dcf-pagination-first::before,
.dcf-pagination-prev::before {
  margin-right: $margin-right-pagination-first-prev-before;
}


.dcf-pagination-first::before {
  content: $content-pagination-first-before;
}


.dcf-pagination-prev::before {
  content: $content-pagination-prev-before;
}


.dcf-pagination-next::after,
.dcf-pagination-last::after {
  margin-left: $margin-left-pagination-next-last-after;
}


.dcf-pagination-next::after {
  content: $content-pagination-next-after;
}


.dcf-pagination-last::after {
  content: $content-pagination-last-after;
}
