///////////////////////////
// CORE / COMPONENTS / APP
///////////////////////////


@include mq(md, max, width) {

  .app .dcf-app-controls ul:not(:last-child) {
    flex-direction: column;
  }

}


@include mq(md, min, width) {

  .app .dcf-app-controls {
    display: flex;
    justify-content: space-between;
  }


  .app .dcf-app-controls ul:not(:last-child) {
    border-left: 1px solid $border-color-app-control;
    display: flex;
  }


  .app .dcf-app-controls li {
    border-right: 1px solid $border-color-app-control;
  }

}
