////////////////////////////
// !CORE / ELEMENTS / TABLES
////////////////////////////


// !Table
table {
  border-collapse: collapse;
  background-color: transparent;
}


// !Caption
caption {
  padding-top: #{ms(-4)}rem;
  @include txt-left;
  caption-side: bottom;
  @include sm2;
  color: $color-light-text;
}


// !Table Header
th {
  @include txt-left;
}
