//////////////////////////
// !CORE / ELEMENTS / CODE
//////////////////////////


code,
kbd,
pre {
  border-radius: $roundrect;
}


code,
kbd {
  padding: #{ms(-14)}rem #{ms(-10)}rem; // .13rem .24rem
  @include txt-md;
}


code,
pre {
  word-break: normal;
  hyphens: none;
}


code {
  color: lighten($color-body, 10%);
  background-color: rgba(0,0,0,.05);
}


pre {
  tab-size: 2;
}


pre code {
  @include block;
  @include p0;
  white-space: pre;
  overflow-x: scroll;
  background-color: transparent;
}


kbd {
  color: #0f0;
  background-color: #000;
}


kbd kbd {
  @include p0;
  font-size: 100%;
}

// samp {
//
// }
