////////////////////////////
// !CORE / ELEMENTS / DIALOG
////////////////////////////


dialog {
  width: 80vw; // restrict width when browser doesn't support fit-content
  padding: 0; // force padding 0 otherwise click close will not work accurately
  border: none !important;
  background-color: transparent;
  transform-origin: center;

  &::backdrop {
    @include bg-overlay-dark;
  }

  &[open] {
    animation: appear 300ms forwards ease-out; // should there be a default animation?
  }

}
