/////////////////////////////
// !CORE / ELEMENTS / BUTTONS
/////////////////////////////


// !Button
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
//   font-family: inherit;
  font-size: #{ms(0)}em; // 1em
  @include lh3;
  @include pb-2;
  @include pl-4;
  @include pr-4;
  @include pt-2;
  text-align: center;
//   -webkit-appearance: none;
//   -webkit-transition: none;
}
