///////////////////////////
// !CORE / ELEMENTS / LISTS
///////////////////////////


ol,
ul {
  @include pl6;
}


dl,
ol,
ul {
  @include mb4;
  margin-top: 0;

  dl,
  ol,
  ul {
    @include mt2; // pt2 instead?
  }

}


li,
dt,
dd {
  margin-top: 0;
  @include measure;
}


li {
  @include mb2;
}

// !Description List
// dl {
//
//   p + & {
//     padding-left: 1.5em;
//   }
// }


dt,
dd {
  @include mb1;
}


dt {
  font-weight: bold;
}


dd {
  @include ml0;
}


dd + dt {
  @include mt4;
}


// dd:not(:last-child) {
//   @include mb2;
// }
