///////////////////////////////
// !CORE / ELEMENTS / SUP & SUB
///////////////////////////////


// !Superscript & Subscript
sup,
sub {
  @include relative;
  @include txt-baseline;
  font-size: -#{ms(-3)}em; // -.63em
}


// !Superscript
sup {
  top: -#{ms(-4)}em; // -.56em
}


// !Subscript
sub {
  top: #{ms(-10)}em; // .24em
}
