///////////////////////////
// !CORE / ELEMENTS / MARKS
///////////////////////////


// Marked (highlighted) text
mark {
  padding-top: #{ms(-14)}em; // .13em
  @include pr1;
  padding-bottom: #{ms(-14)}em; // .13em
  @include pl1;
  background-color: $color-mark;
}
