///////////////////////////
// !CORE / ELEMENTS / FORMS
///////////////////////////


form,
input,
textarea {
  font-size: #{ms(0)}em; // 1em
  @include lh3;
}


fieldset {
  @include m0;
  @include p0;
  @include b0;
}


legend {
  @extend .dcf-c-h5;  // ?
}


label {
  @include inlineblock;
}


select {
  @include block;
  @include mb4;
}


textarea {
  @include block;
  width: 100%;
  resize: vertical;
}
