//////////////////////////
// !VARIABLES: BREAKPOINTS
//////////////////////////


// !Ems
$mq-ems    : true;
$mq-em-base: 16px !default;


// !Breakpoints
$mq-breakpoints: (
  'sm': 673.5px,  // 42.092em
  'md': 898px,  // 56.123em
  'lg': 1197.3px, // 74.831em
  'xl': 1596.4px, // 99.775em
) !default;

$mq-media: "only screen" !default;


// !Linear Inetrpolation
// Values in ems
$min_lerp_width: 31.569;
$max_lerp_width: 133.033;
