////////////////////
// !BASE: TYPOGRAPHY
////////////////////


// !:root
:root {
  font-size: #{$min_font_size}em;
  @include lh1;
}

@media screen and (min-width: #{$min_lerp_width}em) {

  :root {
    font-size: calc(#{$min_font_size}em + (#{$max_font_size} - #{$min_font_size}) * ( (100vw - #{$min_lerp_width}em) / ( #{$max_lerp_width} - #{$min_lerp_width})));
  }

}

@media screen and (min-width: #{$max_lerp_width}em) {

  :root {
    font-size: #{$max_font_size}em;
  }

}
