//////////////////////
// CORE / PRINT / BASE
//////////////////////


// Define page margins
@page {
  margin: $margin-top-print-page $margin-right-print-page $margin-bottom-print-page $margin-left-print-page;
}


// Set font-size for print
:root {
  font-size: $font-size-print;
}


// Do not let elements extend to the edge of the page when printed
.dcf-bleed {
  left: initial;
  margin-inline: 0;
  position: static;
  right: initial;
  width: auto;
}


// Remove page wrapper padding
.dcf-wrapper {
  padding-inline: 0;
}


// Display Flexbox and CSS Grid items as blocks when printed
.dcf-main .dcf-d-flex,
.dcf-main .dcf-d-grid,
.dcf-main [class*=' dcf-grid'],
.dcf-main [class^='dcf-grid'] {
  @include d-block(!important);
}
