//////////////////////////////
// !CORE / JAVASCRIPT / STATES
//////////////////////////////


.dcf-fade-in {
  opacity: 0;
  animation: appear $timing-fade-in forwards $easing-fade-in;
}


.dcf-fade-out {
  opacity: 1;
  animation: disappear $timing-fade-out forwards $easing-fade-out;
}


.dcf-slide-down {
  transform: translateY(-50%);
  animation: appear $timing-slide-down forwards $easing-slide-down;
}


.dcf-slide-up {
  transform: translateY(50%);
  animation: appear $timing-slide-up forwards $easing-slide-up;
}
