/////////////////////////////
// CORE / JAVASCRIPT / STATES
/////////////////////////////


[loading="lazy"],
.dcf-lazy-load {
  opacity: 0;
}


.dcf-fade-in {
  animation: appear $timing-fade-in forwards $easing-fade-in;
}


.dcf-fade-out {
  animation: disappear $timing-fade-out forwards $easing-fade-out;
}
