//////////////////////////////
// CORE / MIXINS / BACKGROUNDS
//////////////////////////////


// Color
@mixin bg-transparent($imp:null) { background-color: transparent $imp; }
@mixin bg-white($imp:null) { background-color: $bg-color-white $imp; }
@mixin bg-foreground($imp:null) { background-color: $bg-color-foreground $imp; }
@mixin bg-overlay-dark($imp:null) { background-color: $bg-color-overlay-dark $imp; }
@mixin bg-overlay-light($imp:null) { background-color: $bg-color-overlay-light $imp; }
@mixin bg-overlay-light-at-dark($imp:null) { background-color: $bg-color-overlay-light-light-mode $imp; }


// Position
@mixin bg-center($imp:null) { background-position: center $imp; }
@mixin bg-top($imp:null) { background-position: top $imp; }
@mixin bg-right($imp:null) { background-position: right $imp; }
@mixin bg-right-top($imp:null) { background-position: right top $imp; }
@mixin bg-right-bottom($imp:null) { background-position: right bottom $imp; }
@mixin bg-bottom($imp:null) { background-position: bottom $imp; }
@mixin bg-left($imp:null) { background-position: left $imp; }
@mixin bg-left-top($imp:null) { background-position: left top $imp; }
@mixin bg-left-bottom($imp:null) { background-position: left bottom $imp; }


// Repeat
@mixin bg-no-repeat($imp:null) { background-repeat: no-repeat $imp; }
@mixin bg-repeat($imp:null) { background-repeat: repeat $imp; }
@mixin bg-repeat-x($imp:null) { background-repeat: repeat-x $imp; }
@mixin bg-repeat-y($imp:null) { background-repeat: repeat-y $imp; }


// Size
@mixin bg-contain($imp:null) { background-size: contain $imp; }
@mixin bg-cover($imp:null) { background-size: cover $imp; }


// None
@mixin bg-none($imp:null) { background: none $imp; }
