/////////////////////////////
// CORE / MIXINS / VISIBILITY
/////////////////////////////


// Invisible
@mixin invisible($imp:null) {
  visibility: hidden $imp;
}


// Visible
@mixin visible($imp:null) {
  visibility: visible $imp;
}


// Screen reader only
@mixin sr-only($imp:null) {
  clip: rect(0 0 0 0) $imp;   // Fallback for older browsers
  clip-path: inset(50%) $imp; // Make content disappear with inset rectangle
  height: 1px $imp;           // Some screen readers ignore zero height
  overflow: hidden $imp;      // Hide resized content
  position: absolute $imp;    // Remove item from normal flow
  width: 1px $imp;            // Some screen readers ignore zero width
  white-space: nowrap $imp;   // Fix smushed, falsely pronounced text
}
