///////////////////////////////
// CORE / MIXINS / BORDER-COLOR
///////////////////////////////


// currentColor
@mixin b-current($imp:null) { border-color: currentColor $imp; }          // All Sides
@mixin bt-current($imp:null) { border-top-color: currentColor $imp; }     // Top
@mixin br-current($imp:null) { border-right-color: currentColor $imp; }   // Right
@mixin bb-current($imp:null) { border-bottom-color: currentColor $imp; }  // Bottom
@mixin bl-current($imp:null) { border-left-color: currentColor $imp; }    // Left


// Transparent
@mixin b-transparent($imp:null) { border-color: transparent $imp; }         // All Sides
@mixin bt-transparent($imp:null) { border-top-color: transparent $imp; }    // Top
@mixin br-transparent($imp:null) { border-right-color: transparent $imp; }  // Right
@mixin bb-transparent($imp:null) { border-bottom-color: transparent $imp; } // Bottom
@mixin bl-transparent($imp:null) { border-left-color: transparent $imp; }   // Left
