///////////////////////////////
// !THEME / COMPONENTS / SEARCH
///////////////////////////////


@include mq(md, max, width) {

  .example .dcf-search {
    display: none;
  }


  .example .dcf-nav-toggle-btn-search {
    left: 33%;
  }

}


@include mq(md, min, width) {

  .example .dcf-search {
    display: flex;
  }

}
