/////////////////////////////////////
// !THEME / COMPONENTS / INPUT GROUPS
/////////////////////////////////////


// !Input Group Text Input
.example .dcf-input-group .dcf-input-text:not(:first-child) {
  @include sharp-left;
}


.example .dcf-input-group .dcf-input-text:not(:last-child) {
  @include sharp-right;
}


// !Input Group Button
.example .dcf-input-group .dcf-btn {
  @include sharp-left;
  margin-left: -1px;
}


// !Input Group Add-on
.example .dcf-input-group-addon {
  @include bg-gray-lightest;
  border: 1px solid $color-border;
  color: $color-light-text;
  @include pb-2;
  @include pl-3;
  @include pr-3;
  @include pt-2;
}


.example .dcf-input-group-addon:first-child {
  @include rounded-left;
  border-right-width: 0;
}


.example .dcf-input-group-addon:last-child {
  @include rounded-right;
  border-left-width: 0;
}
