//////////////////////////////////////////////////
// !THEME / COMPONENTS / IDM (IDENTITY MANAGEMENT)
//////////////////////////////////////////////////


@include mq(md, max, width) {

  .example .dcf-idm {
    display: none;
  }


  .example .dcf-nav-toggle-btn-idm {
    left: 66%;
  }

}


@include mq(md, min, width) {

  .example .dcf-idm {
    display: flex;
  }

}


// !Notification Center / Dashboard
// .example .dcf-dashboard {
//
//   @supports (display: grid) {
//     display: grid;
//     grid-template-areas: "one two";
//     grid-template-columns: 1fr 1fr;
//     grid-gap: #{ms(8)}em 5vw;
//   }
//
// }
