//////////////////////////////
// !THEME / COMPONENTS / FORMS
//////////////////////////////


// Legend
.example .dcf-form legend {
  @include mb-1;
}


// Form group
.example .dcf-form-group {
  @include mb-4;
}


.example .dcf-form-group input ~ label {
	@include ml-2;
}


.example .dcf-form-group[disabled] label,
.example .dcf-form-group input[disabled] ~ label {
  cursor: not-allowed !important;
  opacity: .7;
}


// Input: Text
.example .dcf-form input[type="email"],
.example .dcf-form input[type="number"],
.example .dcf-form input[type="password"],
.example .dcf-form input[type="search"],
.example .dcf-form input[type="tel"],
.example .dcf-form input[type="text"],
.example .dcf-form input[type="url"],
.example .dcf-form textarea {
  border: 1px solid $color-border-input;
  border-radius: $roundrect;
  box-shadow: inset 0 1px 2px fade-out($color-border,1);
  @include pb-2;
  @include pl-3;
  @include pr-3;
  @include pt-2;
  transition: border-color $hover-off, box-shadow $hover-off;
}


.example .dcf-form input[type="email"]:hover,
.example .dcf-form input[type="number"]:hover,
.example .dcf-form input[type="password"]:hover,
.example .dcf-form input[type="search"]:hover,
.example .dcf-form input[type="tel"]:hover,
.example .dcf-form input[type="text"]:hover,
.example .dcf-form input[type="url"]:hover,
.example .dcf-form textarea:hover {
  border-color: $color-border-input-hover;
  box-shadow: inset 0 1px 2px fade-out($color-border,.5);
  transition: border-color $hover-on, box-shadow $hover-on;
}


.example .dcf-form input[type="email"]:focus,
.example .dcf-form input[type="number"]:focus,
.example .dcf-form input[type="password"]:focus,
.example .dcf-form input[type="search"]:focus,
.example .dcf-form input[type="tel"]:focus,
.example .dcf-form input[type="text"]:focus,
.example .dcf-form input[type="url"]:focus,
.example .dcf-form textarea:focus {
  border-color: $color-border-input-focus;
  outline: none;
}


// Input: File
.example .dcf-form input[type="file"] {
  @include mb-2;
  @include mt-2;
}


// Required
.example .dcf-required {
  color: #d00;
  @include txt-xs;
  font-style: italic;
  @include pl-2;
}


// Form Help
.example .dcf-form-help {
  color: $color-light-text;
  @include txt-xs;
  @include mt-1;
}
