///////////////////////////////////////////
// !THEME / COMPONENTS / FORMS - CHECKBOXES
///////////////////////////////////////////


// Custom styled checkbox https://scottaohara.github.io/a11y_styled_form_controls/src/checkbox/

.example .dcf-input-checkbox {
  @include mb-2;
  @include pl-6;
  position: relative;
}


.example .dcf-input-checkbox input[type="checkbox"] {
  cursor: pointer;
  height: $length-em-6;
  left: 0;
  margin: 0;
  opacity: 0; // Hide the actual checkbox
  position: absolute;
  top: 0;
  width: $length-em-7; // Slightly wider to avoid hover state gaps between the label::before and the label
  z-index: 1;
}


.example .dcf-input-checkbox label {
  cursor: pointer;
  touch-action: manipulation;
}


// Create checkbox and checkmark
.example .dcf-input-checkbox label::before,
.example .dcf-input-checkbox label::after {
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}


// Style checkbox
.example .dcf-input-checkbox label::before {
  border: 1px solid $color-border-input;
  border-radius: $roundrect;
  box-shadow: inset 0 1px 2px fade-out($color-border-input,.5);
  height: $length-em-6;
  transition: border-color $hover-off, box-shadow $hover-off;
  width: $length-em-6;
}


// Style checkmark
.example .dcf-input-checkbox label::after {
  background: transparent;
  border-color: transparent $color-brand-alpha $color-brand-alpha;
  border-style: solid;
  border-width: 0 0 5px 5px;
  height: $length-em-2;
  width: $length-em-4;
  transform: rotate(-45deg) translate(-.15em,.7em) scale(0);
  transition: transform $hover-on;
}


// Show checkmark
.example .dcf-input-checkbox label:hover::before,
.example .dcf-input-checkbox input[type="checkbox"]:hover + label::before { // enable hover state on label::before
  border-color: $color-border-input-hover;
  box-shadow: inset 0 1px 2px fade-out($color-border-input,.5);
  transition: border-color $hover-on, box-shadow $hover-on;
}


// Checked state
.example .dcf-input-checkbox input[type="checkbox"]:checked + label::after {
  transform: rotate(-45deg) translate(-.15em,.7em) scale(1);
}


// Checked, focus state
.example .dcf-input-checkbox input[type="checkbox"]:checked + label::before,
.example .dcf-input-checkbox input[type="checkbox"]:focus + label::before {
  border-color: $color-border-input-focus;
}
