///////////////////////////////
// THEME / COMPONENTS / BUTTONS
///////////////////////////////



.example .dcf-btn {
  transition: all $hover-off;
}


.example .dcf-btn:hover {
  transition: all $hover-on;
}



// Primary Button
.example .dcf-btn-primary:visited {
  background-color: $color-anchor-visited;
  border-color: $color-anchor-visited;
}


.example .dcf-btn-primary:hover {
  background-color: $color-anchor-hover;
  border-color: $color-anchor-hover;
}


.example .dcf-btn-primary:active,
.example .dcf-btn-primary.dcf-active {
  background-color: $color-anchor-active;
  border-color: $color-anchor-active;
}


// Secondary Button
.example .dcf-btn-secondary:visited {
  color: $color-anchor-visited;
}


.example .dcf-btn-secondary:hover {
  background-color: lighten($color-button-secondary,56%);
  color: $color-anchor-hover;
}


.example .dcf-btn-secondary:active,
.example .dcf-btn-secondary.dcf-active {
  color: $color-anchor-active;
}


// Tertiary Button
.example .dcf-btn-tertiary:visited {
  color: $color-anchor-visited;
}


.example .dcf-btn-tertiary:hover {
  background-color: lighten($color-button-tertiary,56%);
  color: $color-anchor-hover;
}


.example .dcf-btn-tertiary:active,
.example .dcf-btn-tertiary.dcf-active {
  color: $color-anchor-active;
}


// Inverse Buttons
.example .dcf-btn-inverse-primary:hover {
  background-color: fade-out($bg-color-button-inverse-primary, .16);
}


.example .dcf-btn-inverse-secondary:hover,
.example .dcf-btn-inverse-tertiary:hover {
  background-color: fade-out($color-button-inverse-secondary, .84);
}
