/////////////////////////////////
// !THEME / COMPONENTS / ARTICLES
/////////////////////////////////


.example .dcf-article-body dl {
  @include pl-6;
}


.example .dcf-article-body dl,
.example .dcf-article-body ol,
.example .dcf-article-body ul {
  margin-bottom: 0;
}


.example .dcf-article p,
.example .dcf-article dl,
.example .dcf-article ol,
.example .dcf-article ul,
.example .dcf-article blockquote {

  + p,
  + dl,
  + ol,
  + ul {
    @include mt-1;
  }

  + p {
    text-indent: #{ms(4)}em; // 1.77em
  }

}


.example .dcf-article-body p:not(.dcf-lead) {
  margin-bottom: 0;
}


.example .dcf-author-img img {
  display: block;
  width: #{ms(8)}em; // 3.16em
}


@include mq(sm, max, width) {

  .example .dcf-article-share li {
    display: inline-flex;
    margin-bottom: 0;
    @include mr-4;
  }

}


@include mq(sm, min, width) {

  .example .dcf-article-share div[role="heading"] {
    @include mb-5;
  }

  .example .dcf-article-share li {
    @include mb-4;
  }

}


@supports (display: grid) {

  @include mq(sm, min, width) {

    .example .dcf-article {
      display: grid;
      grid-template-columns: #{ms(8)}em 1fr; // 3.16em
      grid-template-areas: "share header" "share body" "footer footer";
    }

    .example .dcf-article-header {
      grid-area: header;
    }

    .example .dcf-article-body {
      grid-area: body;
    }

    .example .dcf-article-share {
      grid-area: share;

      .dcf-u-sticky {
        top: #{ms(2)}em; // 1.33em
      }

      div[role="heading"] {
        @include mb-6;
      }

    }

    .example .dcf-article-footer {
      grid-area: footer;
    }

  }

}
