///////////////////////////////////////////
// !THEME / COMPONENTS / FORMS - RADIOS
///////////////////////////////////////////
// Custom styled radios https://scottaohara.github.io/a11y_styled_form_controls/src/radio-button/

.example .dcf-input-radio {
	position: relative;
	@include pl-6;
	@include mb-2;

	input[type="radio"] {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		width: $length-em-6;
		height: $length-em-6;
		z-index: 1;
		margin: 0;
		zoom: 1;
		opacity: 0;
	}

	label {
		cursor: pointer;
		touch-action: manipulation;
	}

	label::before, label::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: $length-em-6;
		height: $length-em-6;
		border-radius: $circle;
	}

	label::before {
		border: 1px solid $color-border;
		box-shadow: inset 0 1px 2px fade-out($color-border,0.5);
		transition: border-color $hover-off, box-shadow $hover-off;
	}

	label::after {
		background-color: $color-button;
		opacity: 0;
		transform: translate(0.4px,0.1px) scale(0.4);
		transition: transform $hover-on;
	}

	// display selection
	input[type="radio"]:checked + label::after {
		border-radius: $circle;
		transform: translate(0.4px,0.1px) scale(0.5);
		box-shadow: -1px 2px 5px 1px fade-out($color-button, 0.7);
		opacity: 0.9;
		transition: opacity $hover-on transform $hover-on;
	}

	input[type="radio"]:checked + label::before {
		border-color: $color-button;
		box-shadow: inset 0 1px 2px fade-out($color-button, 0.6);
	}
}
