///////////////////////////////
// !THEME / COMPONENTS / EVENTS
///////////////////////////////


// !Caption
.example .dcf-calendar-caption {
  caption-side: top;
  font-size: 1em;
//   background-color: $color-body;
}


// !Calendar Cells
.example .dcf-calendar-cell {
  width: 14.28%;
}


// !Calendar Weekdays
.example .dcf-calendar-weekday {
  color: $color-light-text;
//   background-color: mix($color-body-bg, $color-body, 92%);
}


// !Calendar Date
.example a.dcf-calendar-date {
  outline: 2px solid transparent;
  transition: all $hover-off;
}


.example a.dcf-calendar-date:hover {
  outline: 2px solid $color-link-hover;
  transition: all $hover-on;
}


.example a.dcf-calendar-date:active {
  outline: 2px solid $color-link-active;
}


.example a.dcf-calendar-date:focus {
  outline: 2px solid $color-link-hover;
}


// !Calendar Date, Today
.example a.dcf-calendar-date-today {
  background-color: $color-body;
}


// !Calendar Date, Active
.example a.dcf-calendar-date-active {
  background-color: $color-link;
  transition: all $hover-off;
}


.example a.dcf-calendar-date-active:hover {
  background-color: $color-link-hover;
  transition: all $hover-on;
}


.example a.dcf-calendar-date-active:focus {
  background-color: $color-link-hover;
  transition: all $hover-on;
}


// !Calendar Date, Not Current Month
.example .dcf-calendar-not-current-month {
  background-color: mix($color-body-bg, $color-body, 96%);
}


// .example .dcf-events {
// }
//
// .example .dcf-events-heading {
// }
//
// .example .dcf-events-more {
// }
//
// .example .dcf-events-subscribe {
// }
//
// .example .dcf-events-listing {
// }
//
// .example .dcf-event {
// }



@supports (display: grid) {

  .example .dcf-events {
    display: grid;
    grid-template-areas: "heading" "listing" "more";
    grid-template-columns: auto;

//     @include mq(sm, min, width) {
//     }

//     @include mq(md, min, width) {
//       grid-template-columns: 1fr auto;
//       grid-template-rows: auto;
//       grid-template-areas:
//         "heading listing"
//         "subscribe listing"
//         "more listing";
//     }

    @include mq(lg, min, width) {
      grid-template-areas: "heading more" "listing listing";
      grid-template-columns: 1fr auto;
    }

  }

  .example .dcf-events-heading {
    grid-area: heading;
    margin-bottom: 0;
  }

  .example .dcf-events-more {
    grid-area: more;
  }

  .example .dcf-events-listing {
    display: grid;
    grid-area: listing;
    grid-template-columns: repeat(auto-fit, minmax(#{ms(20)}em, 1fr)); // 17.71em
  }

  .example .dcf-event {
    margin-bottom: 0;
  }

}




// !Event Listing
// .example .dcf-events-grid {
//
//   @supports (display: grid) {
//     grid-template-columns: repeat(auto-fit, minmax(#{ms(20)}em, 1fr));
//     grid-gap: 1em;
//
//     @include mq(md, min, width) {
//       grid-template-columns: 1fr 1fr;
//       grid-template-areas:
//         "web directory";
//       grid-gap: #{ms(8)}em 5vw;
//     }
//
//
//   }
// }

// .example .dcf-upcoming-events .dcf-list-unstyled {
//
//   @include mq(sm, min, width) {
//     columns: 2;
//     column-gap: #ms(0)em;
//   }
// }
//
// .example .dcf-upcoming-events .dcf-list-unstyled li {
//
//   @include mq(sm, min, width) {
//     column-break-inside: avoid;
//   }
// }


.example .dcf-event-info {
  flex: 1 0 1px;
}


.example .dcf-event-date-time {
  flex: 0 1 #{ms(10)}em; // 4.21em
}
