///////////////////////////////
// !THEME / COMPONENTS / SEARCH
///////////////////////////////


// !Search Results
// .example .dcf-search-results-wrapper {
//   height: calc(100% - #{ms(16)}em); // 100% - 9.97em
// }


// .example .dcf-search-results {
//   @include pr-6;
//
//   @supports (display: grid) {
//     @include grid;
//     grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
//     grid-gap: #{ms(16)}em 5vw;
//   }
// }


// .example .dcf-search-results-directory {
//
//   @supports (display: grid) {
//     display: grid;
//     grid-gap: #{ms(8)}em 5vw;
//     grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr)); // 13.29em
//   }
//
// }


@include mq(md, max, width) {

  .example .dcf-search {
    display: none;
  }


  .example .dcf-nav-toggle-btn-search {
    left: 33%;
  }

}


@include mq(md, min, width) {

  .example .dcf-search {
    display: flex;
  }

}


// @include mq(sm, min, width) {
//
//   .example .dcf-search-results {
//
//     @supports (display: grid) {
//       @include grid;
//       grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
//       grid-gap: #{ms(16)}em 5vw;
//     }
//   }
// }


// @include mq(sm, min, width) {
//
//   @supports (display: grid) {
//
//     .example .dcf-search-results-people {
//       @include grid;
//       grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
//       grid-gap: #{ms(16)}em 5vw;
//     }
//   }
// }


