//////////////////////////////
// !THEME / COMPONENTS / FORMS
//////////////////////////////


// Fieldset
.example .dcf-form fieldset {
  border: 1px solid $color-border;
  border-radius: $roundrect;
  padding: $length-em-4 $length-vw-1;
}


.example .dcf-form fieldset:not(:last-child) {
  @include mb-4;
}


// Legend
.example .dcf-form legend {
  margin-left: -#{$length-em-2}; // Left align legend with form elements
  padding-left: $length-em-2;
  padding-right: $length-em-2;
}


// Form group
.example .dcf-form-group {
  @include mb-4;
}


.example input[disabled] ~ label,
.example .dcf-form-group[disabled] label {
  cursor: not-allowed !important;
  opacity: .7;
}


// Input: General
.example .dcf-form input:not([type="submit"]),
.example .dcf-form textarea {
  border: 1px solid $color-border-input;
  border-radius: $roundrect;
  box-shadow: inset 0 1px 2px fade-out($color-border-input-hover,1);
  transition: border-color $hover-off, box-shadow $hover-off;
}

// apply padding to input that needs it
.example .dcf-form input:not([type="submit"]):not([type="range"]),
.example .dcf-form textarea {
  @include pb-2;
  @include pl-3;
  @include pr-3;
  @include pt-2;
}

.example .dcf-form input:not([type="submit"]):focus,
.example .dcf-form textarea:focus {
  border-color: $color-border-input-focus;
  outline: none;
}

.example .dcf-form input:not([type="submit"]):enabled:hover,
.example .dcf-form textarea:enabled:hover {
  border-color: $color-border-input-hover;
  box-shadow: inset 0 1px 2px fade-out($color-border-input-hover,.5);
  transition: border-color $hover-on, box-shadow $hover-on;
}


// Required
.example .dcf-required {
  color: #d00;
  @include txt-xs;
  font-style: italic;
  @include pl-1;
}


// Form Help
.example .dcf-form-help {
  color: $color-light-text;
  @include txt-xs;
  @include mt-1;
}
