///////////////////////////////
// CORE / UTILITIES / ANIMATION
///////////////////////////////

@use "../variables" as var;
@use "../functions/" as func;

.dcf-motion-none {
  animation-duration: .001ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: .001ms !important;
  transition-delay: .001ms !important;
}

// Fade
.dcf-js .dcf-fade-in {
  @if (func.to-number(var.$animation-delay-fade-in) != 0) {
    animation-delay: var.$animation-delay-fade-in;
  }
  animation-duration: var.$animation-duration-fade-in;
  animation-timing-function: var.$animation-timing-fn-fade-in;
  opacity: 0; // Starting opacity
}


// Move
.dcf-js .dcf-move-left {
  @if (func.to-number(var.$animation-delay-move-left) != 0) {
    animation-delay: var.$animation-delay-move-left;
  }
  animation-duration: var.$animation-duration-move-left;
  animation-timing-function: var.$animation-timing-fn-move-left;
  transform: translateX(var.$animation-transform-move-left);
}


.dcf-js .dcf-move-right {
  @if (func.to-number(var.$animation-delay-move-right) != 0) {
    animation-delay: var.$animation-delay-move-right;
  }
  animation-duration: var.$animation-duration-move-right;
  animation-timing-function: var.$animation-timing-fn-move-right;
  transform: translateX(var.$animation-transform-move-right);
}


.dcf-js .dcf-move-up {
  @if (func.to-number(var.$animation-delay-move-up) != 0) {
    animation-delay: var.$animation-delay-move-up;
  }
  animation-duration: var.$animation-duration-move-up;
  animation-timing-function: var.$animation-timing-fn-move-up;
  transform: translateY(var.$animation-transform-move-up);
}


// Animated
.dcf-js .dcf-animated {
  animation-fill-mode: forwards;
  animation-name: appear;
}
