////////////////////////////////////
// CORE / UTILITIES / HEIGHT & WIDTH
////////////////////////////////////


// Height
.dcf-h-auto { @include h-auto(!important); }
.dcf-h-0 { @include h-0(!important); }
.dcf-h-1 { @include h-1(!important); }
.dcf-h-2 { @include h-2(!important); }
.dcf-h-3 { @include h-3(!important); }
.dcf-h-4 { @include h-4(!important); }
.dcf-h-5 { @include h-5(!important); }
.dcf-h-6 { @include h-6(!important); }
.dcf-h-7 { @include h-7(!important); }
.dcf-h-8 { @include h-8(!important); }
.dcf-h-9 { @include h-9(!important); }
.dcf-h-10 { @include h-10(!important); }
.dcf-h-11 { @include h-11(!important); }
.dcf-h-12 { @include h-12(!important); }
.dcf-h-100\% { @include h-100pc(!important); } // .dcf-h-100%
.dcf-h-100vh { @include h-100vh(!important); }


// Minimum height
.dcf-h-min-0 { @include h-min-0(!important); }
.dcf-h-min-100vh { @include h-min-100vh(!important); }


// Maximum height
.dcf-h-max-100\% { @include h-max-100pc(!important); } // .dcf-h-max-100%
.dcf-h-max-100vh { @include h-max-100vh(!important); }


// Width
.dcf-w-auto { @include w-auto(!important); }
.dcf-w-0 { @include w-0(!important); }
.dcf-w-1 { @include w-1(!important); }
.dcf-w-2 { @include w-2(!important); }
.dcf-w-3 { @include w-3(!important); }
.dcf-w-4 { @include w-4(!important); }
.dcf-w-5 { @include w-5(!important); }
.dcf-w-6 { @include w-6(!important); }
.dcf-w-7 { @include w-7(!important); }
.dcf-w-8 { @include w-8(!important); }
.dcf-w-9 { @include w-9(!important); }
.dcf-w-10 { @include w-10(!important); }
.dcf-w-11 { @include w-11(!important); }
.dcf-w-12 { @include w-12(!important); }
.dcf-w-100\% { @include w-100pc(!important); } // .dcf-w-100%
.dcf-w-100vw { @include w-100vw(!important); }


// Minimum width
.dcf-w-min-0 { @include w-min-0(!important); }


// Maximum width
.dcf-w-max-3xs { @include w-max-3xs(!important); }
.dcf-w-max-2xs { @include w-max-2xs(!important); }
.dcf-w-max-xs { @include w-max-xs(!important); }
.dcf-w-max-sm { @include w-max-sm(!important); }
// scss-lint:disable SingleLinePerSelector
.dcf-measure, .dcf-w-max-md { @include w-max-md(!important); } // TODO: deprecate .dcf-measure
.dcf-w-max-lg { @include w-max-lg(!important); }
.dcf-w-max-xl { @include w-max-xl(!important); }
.dcf-w-max-2xl { @include w-max-2xl(!important); }
.dcf-w-max-3xl { @include w-max-3xl(!important); }
.dcf-w-max-4xl { @include w-max-4xl(!important); }
.dcf-w-max-100\% { @include w-max-100pc(!important); } // .dcf-w-max-100%
.dcf-w-max-100vw { @include w-max-100vw(!important); }
