//////////////////////////////
// CORE / UTILITIES / POSITION
//////////////////////////////


// Flow
.dcf-static { @include static(!important); }          // Static
.dcf-relative { @include relative(!important); }      // Relative
.dcf-absolute { @include absolute(!important); }      // Absolute
.dcf-fixed { @include fixed(!important); }            // Fixed
.dcf-sticky { @include sticky(!important); }          // Sticky


// Coordinates
.dcf-pin-top, // Deprecate .dcf-pin-top
.dcf-top-0 {
  @include top-0(!important);
}

.dcf-top-50\% {
  @include top-50pc(!important);
}

.dcf-top-100\% {
  @include top-100pc(!important);
}


.dcf-pin-right, // Deprecate .dcf-pin-right
.dcf-right-0 {
  @include right-0(!important);
}

.dcf-right-50\% {
  @include right-50pc(!important);
}

.dcf-right-100\% {
  @include right-100pc(!important);
}


.dcf-pin-bottom, // Deprecate .dcf-pin-bottom
.dcf-bottom-0 {
  @include bottom-0(!important);
}

.dcf-bottom-50\% {
  @include bottom-50pc(!important);
}

.dcf-bottom-100\% {
  @include bottom-100pc(!important);
}


.dcf-pin-left, // Deprecate .dcf-pin-left
.dcf-left-0 {
  @include left-0(!important);
}

.dcf-left-50\% {
  @include left-50pc(!important);
}

.dcf-left-100\% {
  @include left-100pc(!important);
}
