////////////////////////////
// CORE / ELEMENTS / BUTTONS
////////////////////////////


// Button
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  @include txt-md;
  @include lh-4;
  @include pb-2;
  @include pl-4;
  @include pr-4;
  @include pt-2;
  text-align: center;
}
