//////////////////////////////
// !CORE / ELEMENTS / HEADINGS
//////////////////////////////


h1 { @include txt-h1; } // 2.37em
h2 { @include txt-h2; } // 2em
h3 { @include txt-h3; } // 1.77em
h4 { @include txt-h4; } // 1.5em
h5 { @include txt-h5; } // 1.33em
h6 { @include txt-h6; } // 1.13em


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  @include lh-2;
  margin-bottom: #{ms(0)}rem; // 1rem
  margin-top: 0;

  dl + &,
  ol + &,
  ul + &,
  & + &,
  p:not(.dcf-subhead) + & {
    @include mt-5;
  }

}
