///////////////////////////
// !CORE / ELEMENTS / LISTS
///////////////////////////


ol,
ul {
  @include pl-6;
}


dl,
ol,
ul {
  @include mb-4;
  margin-top: 0;

  dl,
  ol,
  ul {
    @include mt-2; // pt2 instead?
  }

}


li,
dt,
dd {
  margin-top: 0;
}


li:not(:last-child) {
  @include mb-2;
}

// !Description List
// dl {
//
//   p + & {
//     padding-left: 1.5em;
//   }
// }


dt,
dd:not(:last-child) {
  @include mb-1;
}


dt {
  font-weight: bold;
}


dd {
  @include ml-0;
}


dd + dt {
  @include mt-4;
}
