////////////////////////////
// !CORE / ELEMENTS / TABLES
////////////////////////////


// !Table
table {
  background-color: transparent;
  border-collapse: collapse;
}


// !Caption
caption {
  caption-side: bottom;
  color: $color-light-text;
  @include txt-xs;
  padding-top: #{ms(-4)}rem;
  text-align: left;
}


// !Table Header
th {
  text-align: left;
}
