//////////////////////////
// CORE / ELEMENTS / LISTS
//////////////////////////


ol,
ul {
  @include pl-6;
}


dl,
ol,
ul {
  @include mb-4;
  margin-top: 0;

  dl,
  ol,
  ul {
    @include mt-3;
  }

}


li,
dt,
dd {
  margin-top: 0;
}


li {
  @include mb-2;
}


dt {
  font-weight: bold;
}


dd {
  @include ml-0;
}


dt,
dd {
  @include mb-1;
}


dd + dt {
  @include mt-4;
}
