///////////////////////////
// !CORE / ELEMENTS / FORMS
///////////////////////////


form,
input,
textarea {
  @include txt-md;
  @include lh-4;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


legend {
  padding: 0;
}


label {
  display: inline-block;
}


select {
  display: block;
  @include mb-4;
}


textarea {
  display: block;
  resize: vertical;
  width: 100%;
}
