/////////////////////////
// !CORE / OBJECTS / GRID
/////////////////////////


// !Grid Fallback Styles
// Flexbox styles for browsers that don't support CSS Grid

.dcf-grid,
.dcf-grid-halves,
.dcf-grid-halves\@sm,
.dcf-grid-halves\@md,
.dcf-grid-halves\@lg,
.dcf-grid-halves\@xl,
.dcf-grid-thirds,
.dcf-grid-thirds\@sm,
.dcf-grid-thirds\@md,
.dcf-grid-thirds\@lg,
.dcf-grid-thirds\@xl,
.dcf-grid-fourths,
.dcf-grid-fourths\@sm,
.dcf-grid-fourths\@md,
.dcf-grid-fourths\@lg,
.dcf-grid-fourths\@xl,
.dcf-grid-fifths\@md,
.dcf-grid-fifths\@lg,
.dcf-grid-fifths\@xl,
.dcf-grid-sixths\@md,
.dcf-grid-sixths\@lg,
.dcf-grid-sixths\@xl {
  display: flex;
  flex-wrap: wrap;
}

.dcf-grid-halves > * {
  flex-basis: 50%;
}

.dcf-grid-thirds > * {
  flex-basis: 33%;
}

.dcf-grid-fourths > * {
  flex-basis: 25%;
}

[class*='dcf-grid-col'] {
  flex-basis: 100%;
}

.dcf-grid-col-50\%-l {
  flex-basis: 50%;
}

.dcf-grid-col-50\%-r {
  flex-basis: 50%;
}

.dcf-grid-col-33\%-l {
  flex-basis: 33%;
}

.dcf-grid-col-33\%-r {
  flex-basis: 33%;
}

.dcf-grid-col-67\%-l {
  flex-basis: 67%;
}

.dcf-grid-col-67\%-r {
  flex-basis: 67%;
}

.dcf-grid-col-25\%-l {
  flex-basis: 25%;
}

.dcf-grid-col-25\%-r {
  flex-basis: 25%;
}

.dcf-grid-col-75\%-l {
  flex-basis: 75%;
}

.dcf-grid-col-75\%-r {
  flex-basis: 75%;
}


@include mq(sm, min, width) {

  .dcf-grid-halves\@sm > * {
    flex-basis: 50%;
  }

  .dcf-grid-thirds\@sm > * {
    flex-basis: 33%;
  }

  .dcf-grid-fourths\@sm > * {
    flex-basis: 25%;
  }

  .dcf-grid-col-50\%-l\@sm {
    flex-basis: 50%;
  }

  .dcf-grid-col-50\%-r\@sm {
    flex-basis: 50%;
  }

  .dcf-grid-col-33\%-l\@sm {
    flex-basis: 33%;
  }

  .dcf-grid-col-33\%-r\@sm {
    flex-basis: 33%;
  }

  .dcf-grid-col-67\%-l\@sm {
    flex-basis: 67%;
  }

  .dcf-grid-col-67\%-r\@sm {
    flex-basis: 67%;
  }

  .dcf-grid-col-25\%-l\@sm {
    flex-basis: 25%;
  }

  .dcf-grid-col-25\%-r\@sm {
    flex-basis: 25%;
  }

  .dcf-grid-col-75\%-l\@sm {
    flex-basis: 75%;
  }

  .dcf-grid-col-75\%-r\@sm {
    flex-basis: 75%;
  }

}


@include mq(md, min, width) {

  .dcf-grid-halves\@md > * {
    flex-basis: 50%;
  }

  .dcf-grid-thirds\@md > * {
    flex-basis: 33%;
  }

  .dcf-grid-fourths\@md > * {
    flex-basis: 25%;
  }

  .dcf-grid-fifths\@md > * {
    flex-basis: 20%;
  }

  .dcf-grid-sixths\@md > * {
    flex-basis: 16.66%;
  }

  .dcf-grid-col-50\%-l\@md {
    flex-basis: 50%;
  }

  .dcf-grid-col-50\%-r\@md {
    flex-basis: 50%;
  }

  .dcf-grid-col-33\%-l\@md {
    flex-basis: 33%;
  }

  .dcf-grid-col-33\%-r\@md {
    flex-basis: 33%;
  }

  .dcf-grid-col-67\%-l\@md {
    flex-basis: 67%;
  }

  .dcf-grid-col-67\%-r\@md {
    flex-basis: 67%;
  }

  .dcf-grid-col-25\%-l\@md {
    flex-basis: 25%;
  }

  .dcf-grid-col-25\%-r\@md {
    flex-basis: 25%;
  }

  .dcf-grid-col-75\%-l\@md {
    flex-basis: 75%;
  }

  .dcf-grid-col-75\%-r\@md {
    flex-basis: 75%;
  }

}


@include mq(lg, min, width) {

  .dcf-grid-halves\@lg > * {
    flex-basis: 50%;
  }

  .dcf-grid-thirds\@lg > * {
    flex-basis: 33%;
  }

  .dcf-grid-fourths\@lg > * {
    flex-basis: 25%;
  }

  .dcf-grid-fifths\@lg > * {
    flex-basis: 20%;
  }

  .dcf-grid-sixths\@lg > * {
    flex-basis: 16.66%;
  }

  .dcf-grid-col-50\%-l\@lg {
    flex-basis: 50%;
  }

  .dcf-grid-col-50\%-r\@lg {
    flex-basis: 50%;
  }

  .dcf-grid-col-33\%-l\@lg {
    flex-basis: 33%;
  }

  .dcf-grid-col-33\%-r\@lg {
    flex-basis: 33%;
  }

  .dcf-grid-col-67\%-l\@lg {
    flex-basis: 67%;
  }

  .dcf-grid-col-67\%-r\@lg {
    flex-basis: 67%;
  }

  .dcf-grid-col-25\%-l\@lg {
    flex-basis: 25%;
  }

  .dcf-grid-col-25\%-r\@lg {
    flex-basis: 25%;
  }

  .dcf-grid-col-75\%-l\@lg {
    flex-basis: 75%;
  }

  .dcf-grid-col-75\%-r\@lg {
    flex-basis: 75%;
  }

}


@include mq(xl, min, width) {

  .dcf-grid-halves\@xl > * {
    flex-basis: 50%;
  }

  .dcf-grid-thirds\@xl > * {
    flex-basis: 33%;
  }

  .dcf-grid-fourths\@xl > * {
    flex-basis: 25%;
  }

  .dcf-grid-fifths\@xl > * {
    flex-basis: 20%;
  }

  .dcf-grid-sixths\@xl > * {
    flex-basis: 16.66%;
  }

  .dcf-grid-col-50\%-l\@xl {
    flex-basis: 50%;
  }

  .dcf-grid-col-50\%-r\@xl {
    flex-basis: 50%;
  }

  .dcf-grid-col-33\%-l\@xl {
    flex-basis: 33%;
  }

  .dcf-grid-col-33\%-r\@xl {
    flex-basis: 33%;
  }

  .dcf-grid-col-67\%-l\@xl {
    flex-basis: 67%;
  }

  .dcf-grid-col-67\%-r\@xl {
    flex-basis: 67%;
  }

  .dcf-grid-col-25\%-l\@xl {
    flex-basis: 25%;
  }

  .dcf-grid-col-25\%-r\@xl {
    flex-basis: 25%;
  }

  .dcf-grid-col-75\%-l\@xl {
    flex-basis: 75%;
  }

  .dcf-grid-col-75\%-r\@xl {
    flex-basis: 75%;
  }

}


// !CSS Grid

@supports (display: grid) {

  .dcf-grid,
  .dcf-grid-halves,
  .dcf-grid-halves\@sm,
  .dcf-grid-halves\@md,
  .dcf-grid-halves\@lg,
  .dcf-grid-halves\@xl,
  .dcf-grid-thirds,
  .dcf-grid-thirds\@sm,
  .dcf-grid-thirds\@md,
  .dcf-grid-thirds\@lg,
  .dcf-grid-thirds\@xl,
  .dcf-grid-fourths,
  .dcf-grid-fourths\@sm,
  .dcf-grid-fourths\@md,
  .dcf-grid-fourths\@lg,
  .dcf-grid-fourths\@xl,
  .dcf-grid-fifths\@md,
  .dcf-grid-fifths\@lg,
  .dcf-grid-fifths\@xl,
  .dcf-grid-sixths\@md,
  .dcf-grid-sixths\@lg,
  .dcf-grid-sixths\@xl {
    display: grid;
  }

  .dcf-grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .dcf-grid-halves {
    grid-template-columns: repeat(2, 1fr);
  }

  .dcf-grid-thirds {
    grid-template-columns: repeat(3, 1fr);
  }

  .dcf-grid-fourths {
    grid-template-columns: repeat(4, 1fr);
  }

  [class*='dcf-grid-col'] {
    grid-column: 1 / span 12;
  }

  .dcf-grid-col-50\%-l {
    grid-column: 1 / span 6;
  }

  .dcf-grid-col-50\%-r {
    grid-column: span 6 / -1;
  }

  .dcf-grid-col-33\%-l {
    grid-column: 1 / span 4;
  }

  .dcf-grid-col-33\%-r {
    grid-column: span 4 / -1;
  }

  .dcf-grid-col-67\%-l {
    grid-column: 1 / span 8;
  }

  .dcf-grid-col-67\%-r {
    grid-column: span 8 / -1;
  }

  .dcf-grid-col-25\%-l {
    grid-column: 1 / span 3;
  }

  .dcf-grid-col-25\%-r {
    grid-column: span 3 / -1;
  }

  .dcf-grid-col-75\%-l {
    grid-column: 1 / span 9;
  }

  .dcf-grid-col-75\%-r {
    grid-column: span 9 / -1;
  }


  @include mq(sm, min, width) {

    .dcf-grid-halves\@sm {
      grid-template-columns: repeat(2, 1fr);
    }

    .dcf-grid-thirds\@sm {
      grid-template-columns: repeat(3, 1fr);
    }

    .dcf-grid-fourths\@sm {
      grid-template-columns: repeat(4, 1fr);
    }

    .dcf-grid-col-50\%-l\@sm {
      grid-column: 1 / span 6;
    }

    .dcf-grid-col-50\%-r\@sm {
      grid-column: span 6 / -1;
    }

    .dcf-grid-col-33\%-l\@sm {
      grid-column: 1 / span 4;
    }

    .dcf-grid-col-33\%-r\@sm {
      grid-column: span 4 / -1;
    }

    .dcf-grid-col-67\%-l\@sm {
      grid-column: 1 / span 8;
    }

    .dcf-grid-col-67\%-r\@sm {
      grid-column: span 8 / -1;
    }

    .dcf-grid-col-25\%-l\@sm {
      grid-column: 1 / span 3;
    }

    .dcf-grid-col-25\%-r\@sm {
      grid-column: span 3 / -1;
    }

    .dcf-grid-col-75\%-l\@sm {
      grid-column: 1 / span 9;
    }

    .dcf-grid-col-75\%-r\@sm {
      grid-column: span 9 / -1;
    }

  }


  @include mq(md, min, width) {

    .dcf-grid-halves\@md {
      grid-template-columns: repeat(2, 1fr);
    }

    .dcf-grid-thirds\@md {
      grid-template-columns: repeat(3, 1fr);
    }

    .dcf-grid-fourths\@md {
      grid-template-columns: repeat(4, 1fr);
    }

    .dcf-grid-fifths\@md {
      grid-template-columns: repeat(5, 1fr);
    }

    .dcf-grid-sixths\@md {
      grid-template-columns: repeat(6, 1fr);
    }

    .dcf-grid-col-50\%-l\@md {
      grid-column: 1 / span 6;
    }

    .dcf-grid-col-50\%-r\@md {
      grid-column: span 6 / -1;
    }

    .dcf-grid-col-33\%-l\@md {
      grid-column: 1 / span 4;
    }

    .dcf-grid-col-33\%-r\@md {
      grid-column: span 4 / -1;
    }

    .dcf-grid-col-67\%-l\@md {
      grid-column: 1 / span 8;
    }

    .dcf-grid-col-67\%-r\@md {
      grid-column: span 8 / -1;
    }

    .dcf-grid-col-25\%-l\@md {
      grid-column: 1 / span 3;
    }

    .dcf-grid-col-25\%-r\@md {
      grid-column: span 3 / -1;
    }

    .dcf-grid-col-75\%-l\@md {
      grid-column: 1 / span 9;
    }

    .dcf-grid-col-75\%-r\@md {
      grid-column: span 9 / -1;
    }

  }


  @include mq(lg, min, width) {

    .dcf-grid-halves\@lg {
      grid-template-columns: repeat(2, 1fr);
    }

    .dcf-grid-thirds\@lg {
      grid-template-columns: repeat(3, 1fr);
    }

    .dcf-grid-fourths\@lg {
      grid-template-columns: repeat(4, 1fr);
    }

    .dcf-grid-fifths\@lg {
      grid-template-columns: repeat(5, 1fr);
    }

    .dcf-grid-sixths\@lg {
      grid-template-columns: repeat(6, 1fr);
    }

    .dcf-grid-col-50\%-l\@lg {
      grid-column: 1 / span 6;
    }

    .dcf-grid-col-50\%-r\@lg {
      grid-column: span 6 / -1;
    }

    .dcf-grid-col-33\%-l\@lg {
      grid-column: 1 / span 4;
    }

    .dcf-grid-col-33\%-r\@lg {
      grid-column: span 4 / -1;
    }

    .dcf-grid-col-67\%-l\@lg {
      grid-column: 1 / span 8;
    }

    .dcf-grid-col-67\%-r\@lg {
      grid-column: span 8 / -1;
    }

    .dcf-grid-col-25\%-l\@lg {
      grid-column: 1 / span 3;
    }

    .dcf-grid-col-25\%-r\@lg {
      grid-column: span 3 / -1;
    }

    .dcf-grid-col-75\%-l\@lg {
      grid-column: 1 / span 9;
    }

    .dcf-grid-col-75\%-r\@lg {
      grid-column: span 9 / -1;
    }

  }


  @include mq(xl, min, width) {

    .dcf-grid-halves\@xl {
      grid-template-columns: repeat(2, 1fr);
    }

    .dcf-grid-thirds\@xl {
      grid-template-columns: repeat(3, 1fr);
    }

    .dcf-grid-fourths\@xl {
      grid-template-columns: repeat(4, 1fr);
    }

    .dcf-grid-fifths\@xl {
      grid-template-columns: repeat(5, 1fr);
    }

    .dcf-grid-sixths\@xl {
      grid-template-columns: repeat(6, 1fr);
    }

    .dcf-grid-col-50\%-l\@xl {
      grid-column: 1 / span 6;
    }

    .dcf-grid-col-50\%-r\@xl {
      grid-column: span 6 / -1;
    }

    .dcf-grid-col-33\%-l\@xl {
      grid-column: 1 / span 4;
    }

    .dcf-grid-col-33\%-r\@xl {
      grid-column: span 4 / -1;
    }

    .dcf-grid-col-67\%-l\@xl {
      grid-column: 1 / span 8;
    }

    .dcf-grid-col-67\%-r\@xl {
      grid-column: span 8 / -1;
    }

    .dcf-grid-col-25\%-l\@xl {
      grid-column: 1 / span 3;
    }

    .dcf-grid-col-25\%-r\@xl {
      grid-column: span 3 / -1;
    }

    .dcf-grid-col-75\%-l\@xl {
      grid-column: 1 / span 9;
    }

    .dcf-grid-col-75\%-r\@xl {
      grid-column: span 9 / -1;
    }

  }

}
