/////////////////
// !MIXINS: FONTS
/////////////////


// !Serif
@mixin serif-font {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
  font-weight: 400;
  font-style: normal;
}


// !Sans Serif
@mixin sans-serif-font {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}


// !Display
@mixin display-font {
  font-family: 'Tungsten A', 'Tungsten B', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}
