///////////////////////
// !MODULE: INPUT GROUP
///////////////////////

.dcf--input-group {
  @include d-inline-flex;
  @include f-ai-center;
  @include w100;
//   @include relative;
//   line-height: 1.5;
}

// .dcf--input-group label {
//   @include f-column;
//   @include f-jc-center;
//   @include pt3;
//   @include pb3;
// }

.dcf--input-group label {
//   @include d-flex;
//   @include f-as-baseline;
  padding-top: .8em;
  padding-bottom: .7em;
}

.dcf--input-group .dcf--input-textual {
//   @include d-flex;
//   @include f-as-baseline;
  flex: 1 1 auto;
  @include w0;
//   @include relative;
  @include rounded-left;
}

.dcf--input-group-btn {
//   @include d-flex;
//   @include f-ai-center;
//   @include f-jc-center;
//   @include relative;
//   font-size: 0;
//   @include nowrap;
//   @include middle;
}

.dcf--input-group-btn > .dcf--btn {
//   position: absolute;
//   right: 0;
//   height: 100%;
//   @include pt2;
//   @include pr4;
//   @include pb2;
//   @include pl4;
//   @include b1;
//   @include rounded-right;
//   @include relative;
//   @include f-as-baseline;
//   flex: 1 1 0%;
  margin-left: -1px;
//   @include nowrap;
//   border-width: 1px;
//   border-style: solid;
//   border-top-right-radius: $roundrect;
//   border-bottom-right-radius: $roundrect;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
//   border-color: $border-color;
//   background-color: $border-color;
}

.dcf--input-group .dcf--btn {
//   @include f-as-baseline;
  @include f-as-stretch;
//   flex: 1 1 0%;
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.dcf--input-group-addon {
  padding-top: .8em;
//   @include pt3;
  @include pr4;
//   @include pb3;
  padding-bottom: .7em;
  @include pl4;
//   @include b1;
  border-style: solid;
  border-color: $border-color;
  background-color: #eee;
}

.dcf--input-group-addon:not(:last-child) {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  @include rounded-left;
}

.dcf--input-group-addon:last-child {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  @include rounded-right;
}

.dcf--input-group-addon + .dcf--input-textual {
  border-radius: 0 $roundrect $roundrect 0;
}
