/////////////////////////////
// CORE / COMPONENTS / BADGES
/////////////////////////////


@use "../variables/" as var;


// Default badges
.dcf-badge {
  background-color: var.$bg-color-badge;
  color: var.$color-badge;
  display: inline-block;
  font-size: var.$font-size-badge;
  line-height: var.$line-height-badge;
  padding: var.$padding-top-badge var.$padding-right-badge var.$padding-bottom-badge var.$padding-left-badge;
  text-align: center;
  vertical-align: var.$vertical-align-badge;
  white-space: nowrap;
}


// Roundrect badges
.dcf-badge-roundrect {
  border-radius: var.$roundrect;
}


// Pill badges
.dcf-badge-pill {
  border-radius: var.$pill;
  padding-left: var.$padding-left-badge-pill;
  padding-right: var.$padding-right-badge-pill;
}
