//////////////////////////////
// CORE / COMPONENTS / BUTTONS
//////////////////////////////


@use "../variables/" as var;
@use "../functions/" as func;


.dcf-btn,
.dcf-btn-as-link {
  appearance: none;
  cursor: pointer;
}


.dcf-btn {
  @if (var.$border-radius-button-roundrect) {
    border-radius: var.$roundrect;
  }
  border-style: var.$border-style-button;
  border-width: var.$border-width-button;
  display: inline-block;
  @if (func.to-number(var.$font-size-button) != func.to-number(#{var.$ms00}em)) {
    font-size: var.$font-size-button;
  }
  @if (var.$font-weight-button-bold) {
    font-weight: bold;
  }
  line-height: var.$line-height-button;
  @if (func.to-number(var.$margin-bottom-button) != func.to-number(0)) {
    margin-bottom: var.$margin-bottom-button;
  }
  @if (func.to-number(var.$margin-left-button) != func.to-number(0)) {
    margin-left: var.$margin-left-button;
  }
  @if (func.to-number(var.$margin-right-button) != func.to-number(0)) {
    margin-right: var.$margin-right-button;
  }
  @if (func.to-number(var.$margin-top-button) != func.to-number(0)) {
    margin-top: var.$margin-top-button;
  }
  // margin: var.$margin-top-button var.$margin-right-button var.$margin-bottom-button var.$margin-left-button;
  padding: var.$padding-top-button var.$padding-right-button var.$padding-bottom-button var.$padding-left-button;
  text-align: center;
  @if (var.$text-transform-button-uppercase) {
    text-transform: uppercase;
  }
}


.dcf-btn-as-link {
  background-color: transparent;
  border: 0;
  color: var.$color-link;
  display: inline;
  line-height: unset;
  padding: unset;
  text-align: unset;
  text-decoration: underline;
}


a.dcf-btn-primary,
a.dcf-btn-secondary,
a.dcf-btn-inverse-primary,
a.dcf-btn-inverse-secondary {
  text-decoration: none;  // Display tertiary buttons with underlines
}


.dcf-btn-primary,
.dcf-btn-primary:link {
  background-color: var.$bg-color-button-primary;
  border-color: var.$border-color-button-primary;
  color: var.$color-button-primary;
}


.dcf-btn-secondary,
.dcf-btn-secondary:link {
  background-color: var.$bg-color-button-secondary;
  border-color: var.$border-color-button-secondary;
  color: var.$color-button-secondary;
}


.dcf-btn-tertiary,
.dcf-btn-tertiary:link {
  background-color: var.$bg-color-button-tertiary;
  border-color: var.$border-color-button-tertiary;
  color: var.$color-button-tertiary;
}


.dcf-btn-inverse-primary,
.dcf-btn-inverse-primary:link {
  background-color: var.$bg-color-button-inverse-primary;
  border-color: var.$border-color-button-inverse-primary;
  color: var.$color-button-inverse-primary;
}


.dcf-btn-inverse-secondary,
.dcf-btn-inverse-secondary:link {
  background-color: var.$bg-color-button-inverse-secondary;
  border-color: var.$border-color-button-inverse-secondary;
  color: var.$color-button-inverse-secondary;
}


.dcf-btn-inverse-tertiary,
.dcf-btn-inverse-tertiary:link {
  background-color: var.$bg-color-button-inverse-tertiary;
  border-color: var.$border-color-button-inverse-tertiary;
  color: var.$color-button-inverse-tertiary;
  text-decoration: underline;
}


.dcf-btn-icon {
  align-items: center;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: var.$length-em-2;
}


@media screen and (prefers-color-scheme: dark) {

  .dcf-btn-primary\@dark,
  .dcf-btn-primary\@dark:link {
    background-color: var.$bg-color-button-primary-light-mode;
    border-color: var.$border-color-button-primary-light-mode;
    color: var.$color-button-primary-light-mode;
  }


  .dcf-btn-secondary\@dark,
  .dcf-btn-secondary\@dark:link {
    background-color: var.$bg-color-button-secondary-light-mode;
    color: var.$color-button-secondary-light-mode;
  }


  .dcf-btn-tertiary\@dark,
  .dcf-btn-tertiary\@dark:link {
    color: var.$color-button-tertiary-light-mode;
  }

}
