//////////////////////////////
// CORE / COMPONENTS / BUTTONS
//////////////////////////////


.dcf-btn {
  appearance: none;
  @if ($border-radius-button-roundrect) {
    border-radius: $roundrect;
  }
  border-style: $border-style-button;
  border-width: $border-width-button;
  cursor: pointer;
  display: inline-block;
  @if (to-number($font-size-button) != to-number(#{ms(0)}em)) {
    font-size: $font-size-button;
  }
  @if ($font-weight-button-bold) {
    font-weight: bold;
  }
  line-height: $line-height-button;
  padding: $padding-top-button $padding-right-button $padding-bottom-button $padding-left-button;
  text-align: center;
  @if ($text-transform-button-uppercase) {
    text-transform: uppercase;
  }
}


a.dcf-btn-primary,
a.dcf-btn-secondary,
a.dcf-btn-inverse-primary,
a.dcf-btn-inverse-secondary {
  text-decoration: none;  // Display tertiary buttons with underlines
}


.dcf-btn-primary,
.dcf-btn-primary:link {
  background-color: var(--bg-btn-primary);
  border-color: var(--b-btn-primary);
  color: var(--btn-primary);
}


.dcf-btn-secondary,
.dcf-btn-secondary:link {
  background-color: var(--bg-btn-secondary);
  border-color: var(--b-btn-secondary);
  color: var(--btn-secondary);
}


.dcf-btn-tertiary,
.dcf-btn-tertiary:link {
  background-color: var(--bg-btn-tertiary);
  border-color: var(--b-btn-tertiary);
  color: var(--btn-tertiary);
}


.dcf-btn-inverse-primary,
.dcf-btn-inverse-primary:link {
  background-color: var(--bg-btn-inverse-primary);
  border-color: var(--b-btn-inverse-primary);
  color: var(--btn-inverse-primary);
}


.dcf-btn-inverse-secondary,
.dcf-btn-inverse-secondary:link {
  background-color: var(--bg-btn-inverse-secondary);
  border-color: var(--b-btn-inverse-secondary);
  color: var(--btn-inverse-secondary);
}


.dcf-btn-inverse-tertiary,
.dcf-btn-inverse-tertiary:link {
  background-color: var(--bg-btn-inverse-tertiary);
  border-color: var(--b-btn-inverse-tertiary);
  color: var(--btn-inverse-tertiary);
  text-decoration: underline;
}


.dcf-btn-icon {
  align-items: center;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: $length-em-1;
}
