//////////////////////////////////
// CORE / COMPONENTS / BLOCKQUOTES
//////////////////////////////////


.dcf-blockquote {
  margin: $margin-top-blockquote $margin-right-blockquote $margin-bottom-blockquote $margin-left-blockquote;
  position: relative;
}


.dcf-blockquote::before {
  @include lh-1;
  content: open-quote;
  font-size: $font-size-blockquote-open-quote;
  position: absolute;
}


.dcf-blockquote > p {
  font-size: $font-size-blockquote-p;
  padding-top: $padding-top-blockquote-p;
}


.dcf-blockquote > p::after {
  content: close-quote;
}


// Attribution
.dcf-attribution {
  margin-top: $margin-top-attribution;
}


.dcf-attribution::before {
  content: '— '; // em dash (&mdash;) followed by a thin space (&thinsp;)
}
