////////////////////////////
// CORE / COMPONENTS / CARDS
////////////////////////////


// Individual card
.dcf-card {
  background-color: var(--bg-card);
  font-size: $font-size-card;
  margin-bottom: 0;
}


// Card image
.dcf-card img {
  display: block;
  width: 100%;
}


// Card block
.dcf-card-block {
  padding: $padding-top-card-block $padding-right-card-block $padding-bottom-card-block $padding-left-card-block;
}


.dcf-card-block *:last-child {
  margin-bottom: 0;
}
