////////////////////////////
// CORE / COMPONENTS / LISTS
////////////////////////////


// Bare list
// TODO: deprecate, use [role="list"] instead, see generic/_generic.attributes.scss
.dcf-list-bare {
  // Fix list-style: none in VoiceOver and Safari: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
  list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  padding-left: 0;
}


// Inline list
.dcf-list-inline li {
  display: inline-block;
}


.dcf-list-inline li:not(:last-child) {
  margin-right: $margin-right-li-inline;
}
