/////////////////////////////////
// CORE / COMPONENTS / POPUPS
/////////////////////////////////


.dcf-popup {
  width: fit-content;
}

// This is to hide the popup on load
// Not is used since aria-hidden="true" might not be set yet
.dcf-popup-content:not([aria-hidden="false"]) {
  opacity: 0;
}

// We set up the transition after since we do not want to fade out during load up
.dcf-popup-content {
  transition: opacity $popup-toggle-animation-duration $animation-timing-fn-fade-in;
}

.dcf-popup:not([data-alignment="start"]):not([data-alignment="end"]) {
  & .dcf-popup-content {
    transform: translateX(-50%);
  }

  &[data-position="left"] .dcf-popup-content,
  &[data-position="right"] .dcf-popup-content {
    transform: translateY(-50%);
  }
}

// Point/arrow guy
.dcf-popup[data-point="true"] {

  // Bottom & Center
  & .dcf-popup-content {
    margin-top: $popup-toggle-margin;

    &::before {
      content: "";
      height: $popup-toggle-point-size;
      width: $popup-toggle-point-size;
      position: absolute;
      top: calc(-1 * $popup-toggle-point-size / 2);
      left: calc(50% - $popup-toggle-point-size / 2);
      z-index: -1;
      background: inherit;
      transform: rotateZ(45deg);
    }
  }

  // Top Center
  &[data-position="top"] .dcf-popup-content {
    margin-top: 0;
    margin-bottom: $popup-toggle-margin;

    &::before {
      top: calc(100% - $popup-toggle-point-size / 2);
    }
  }

  // Left Center
  &[data-position="left"] .dcf-popup-content {
    margin-top: 0;
    margin-right: $popup-toggle-margin;

    &::before {
      top: calc(50% - $popup-toggle-point-size / 2);
      left: calc(100% - $popup-toggle-point-size / 2);
    }
  }

  // Right Center
  &[data-position="right"] .dcf-popup-content {
    margin-top: 0;
    margin-left: $popup-toggle-margin;

    &::before {
      top: calc(50% - $popup-toggle-point-size / 2);
      left: calc(-1 * $popup-toggle-point-size / 2);
    }
  }

  // Bottom Start
  // Top Start
  &[data-alignment="start"]:not([data-position="left"]):not([data-position="right"]) .dcf-popup-content::before,
  &[data-position="bottom"][data-alignment="start"] .dcf-popup-content::before,
  &[data-position="top"][data-alignment="start"] .dcf-popup-content::before {
    left: $popup-toggle-point-size;
  }

  // Bottom End
  // Top End
  &[data-alignment="end"]:not([data-position="left"]):not([data-position="right"]) .dcf-popup-content::before,
  &[data-position="bottom"][data-alignment="end"] .dcf-popup-content::before,
  &[data-position="top"][data-alignment="end"] .dcf-popup-content::before {
    left: calc(100% - $popup-toggle-point-size * 2);
  }

  // left start
  // right start
  &[data-position="left"][data-alignment="start"] .dcf-popup-content::before,
  &[data-position="right"][data-alignment="start"] .dcf-popup-content::before {
    top: $popup-toggle-point-size;
  }

  // left end
  // right end
  &[data-position="left"][data-alignment="end"] .dcf-popup-content::before,
  &[data-position="right"][data-alignment="end"] .dcf-popup-content::before {
    top: calc(100% - $popup-toggle-point-size * 2);
  }
}

