/////////////////////////////
// CORE / COMPONENTS / POPUPS
/////////////////////////////


.dcf-popup {
  width: fit-content;
}

// This is to hide the popup on load
// Not is used since aria-hidden="true" might not be set yet
.dcf-popup-content:not([aria-hidden="false"]) {
  opacity: 0;
}

.dcf-popup:not([data-alignment="start"]):not([data-alignment="end"]) {
  & .dcf-popup-content {
    transform: translateX(-50%);
  }

  &[data-position="left"] .dcf-popup-content,
  &[data-position="right"] .dcf-popup-content {
    transform: translateY(-50%);
  }
}

// Point/arrow guy
.dcf-popup[data-point="true"] {

  // Bottom & Center
  & .dcf-popup-content {
    margin-top: $margin-point-popup;

    &::before {
      background-color: inherit;
      content: "";
      height: $point-size-popup;
      left: calc(50% - #{$point-size-popup} / 2);
      position: absolute;
      top: calc(-1 * #{$point-size-popup} / 2);
      transform: rotateZ(45deg);
      width: $point-size-popup;
      z-index: -1;
    }
  }

  // Top Center
  &[data-position="top"] .dcf-popup-content {
    margin-bottom: $margin-point-popup;
    margin-top: 0;

    &::before {
      top: calc(100% - #{$point-size-popup} / 2);
    }
  }

  // Left Center
  &[data-position="left"] .dcf-popup-content {
    margin-right: $margin-point-popup;
    margin-top: 0;

    &::before {
      left: calc(100% - #{$point-size-popup} / 2);
      top: calc(50% - #{$point-size-popup} / 2);
    }
  }

  // Right Center
  &[data-position="right"] .dcf-popup-content {
    margin-left: $margin-point-popup;
    margin-top: 0;

    &::before {
      left: calc(-1 * #{$point-size-popup} / 2);
      top: calc(50% - #{$point-size-popup} / 2);
    }
  }

  // Bottom Start
  // Top Start
  &[data-alignment="start"]:not([data-position="left"]):not([data-position="right"]) .dcf-popup-content::before,
  &[data-position="bottom"][data-alignment="start"] .dcf-popup-content::before,
  &[data-position="top"][data-alignment="start"] .dcf-popup-content::before {
    left: $point-size-popup;
  }

  // Bottom End
  // Top End
  &[data-alignment="end"]:not([data-position="left"]):not([data-position="right"]) .dcf-popup-content::before,
  &[data-position="bottom"][data-alignment="end"] .dcf-popup-content::before,
  &[data-position="top"][data-alignment="end"] .dcf-popup-content::before {
    left: calc(100% - #{$point-size-popup} * 2);
  }

  // left start
  // right start
  &[data-position="left"][data-alignment="start"] .dcf-popup-content::before,
  &[data-position="right"][data-alignment="start"] .dcf-popup-content::before {
    top: $point-size-popup;
  }

  // left end
  // right end
  &[data-position="left"][data-alignment="end"] .dcf-popup-content::before,
  &[data-position="right"][data-alignment="end"] .dcf-popup-content::before {
    top: calc(100% - #{$point-size-popup} * 2);
  }
}
