/////////////////////////////
// CORE / COMPONENTS / MODALS
/////////////////////////////


// Modal
.dcf-modal {
  z-index: $z-modal-fullscreen;
}


// Modal wrapper
.dcf-modal-wrapper {
  background-color: $bg-color-modal-wrapper-light-mode;
  max-height: $height-max-modal-wrapper;
  width: $width-modal-wrapper;
}


// Modal header
.dcf-modal-header {
  background-color: $bg-color-modal-header-light-mode;
}


// Modal content
.dcf-modal-content > *:last-child {
  margin-bottom: 0;
}
