////////////////////////////
// CORE / COMPONENTS / FORMS
////////////////////////////


// Fieldset
.dcf-form fieldset {
  border: $border-width-input $border-style-input $border-color-fieldset;
  @if ($border-radius-fieldset-roundrect) {
    border-radius: $roundrect;
  }
  padding: $padding-top-fieldset $padding-right-fieldset $padding-bottom-fieldset $padding-left-fieldset;
}


.dcf-form fieldset:not(:last-child) {
  margin-bottom: $margin-bottom-fieldset;
}


// Legend
.dcf-legend, // TODO: deprecate .dcf-legend?
.dcf-form legend {
  @if (to-number($font-size-legend) != to-number(#{ms(0)}em)) {
    font-size: $font-size-legend;
  }
  @if ($font-weight-legend-bold) {
    font-weight: bold;
  }
  margin-left: -#{$padding-legend}; // Left align legend with form elements
  padding-left: $padding-legend;
  padding-right: $padding-legend;
}


// Label
@if (to-number($font-size-label) != to-number(#{ms(0)}em)) {
  .dcf-label, // TODO: deprecate .dcf-label?
  .dcf-form label {
    font-size: $font-size-label;
  }
}


// Form group
.dcf-form-group {
  margin-bottom: $margin-bottom-form-group;
}


.dcf-form-group:disabled label {
  cursor: not-allowed !important;
  opacity: $opacity-disabled;
}


// Required
.dcf-required {
  color: $color-required-label;
  font-size: $font-size-required;
  @if ($font-style-required-italic) {
    font-style: italic;
  }
  margin-left: $margin-left-required;
  padding: $padding-top-required $padding-right-required $padding-bottom-required $padding-left-required;
}


// Form help
.dcf-form-help {
  color: $color-form-help;
  display: inline-block;
  font-size: $font-size-form-help;
  line-height: $line-height-form-help;
  margin-top: $margin-top-form-help;
}


// Inputs
.dcf-input-text, // TODO: deprecate .dcf-input-text?
.dcf-form input:not([type="file"]):not([type="submit"]),
.dcf-form textarea {
  background-color: $bg-color-input;
  border: $border-width-input $border-style-input $border-color-input;
  @if ($border-radius-input-roundrect) {
    border-radius: $roundrect;
  } @else {
    border-radius: 0;
  }
}


.dcf-input-text, // TODO: deprecate .dcf-input-text?
.dcf-form input:not([type="checkbox"]):not([type="file"]):not([type="radio"]):not([type="range"]):not([type="submit"]),
.dcf-form textarea {
  padding: $padding-top-input $padding-right-input $padding-bottom-input $padding-left-input;
}


.dcf-input-text:focus, // TODO: deprecate .dcf-input-text?
.dcf-form input:not([type="submit"]):focus,
.dcf-form textarea:focus {
  border-color: $border-color-input-focus;
  outline: none;
}


.dcf-input-text:enabled:hover, // TODO: deprecate .dcf-input-text?
.dcf-form input:not([type="submit"]):enabled:hover,
.dcf-form textarea:enabled:hover {
  border-color: $border-color-input-hover;
}


.dcf-input-text, // TODO: deprecate .dcf-input-text?
.dcf-input-file, // TODO: deprecate .dcf-input-file?
.dcf-form textarea,
.dcf-form input:not([type="button"]):not([type="color"]):not([type="range"]):not([type="reset"]):not([type="submit"]) {
  appearance: none;
  color: inherit;
  font-family: inherit;
}


.dcf-input-text, // TODO: deprecate .dcf-input-text?
.dcf-input-file, // TODO: deprecate .dcf-input-file?
.dcf-form textarea,
.dcf-form input:not([type="button"]):not([type="color"]):not([type="reset"]):not([type="submit"]) {
  display: block;
}


// Custom styled checkboxes https://scottaohara.github.io/a11y_styled_form_controls/src/checkbox/
// and radio buttons https://scottaohara.github.io/a11y_styled_form_controls/src/radio-button/

.dcf-input-checkbox,
.dcf-input-radio {
  margin-bottom: $margin-bottom-checkbox-radio;
}


// Relatively position the containers (parents) so the inputs (children) can be absolutely positioned
.dcf-input-checkbox,
.dcf-input-radio,
.dcf-input-switch {
  position: relative;
}


// Hide the actual input, toggled by label instead
.dcf-input-checkbox input[type="checkbox"],
.dcf-input-radio input[type="radio"],
.dcf-input-switch input[type="radio"] {
  cursor: pointer;
  height: 1px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 1;
}


// Style label for checkboxes, radios and switches
.dcf-input-checkbox label,
.dcf-input-radio label,
.dcf-input-switch label {
  cursor: pointer;
  touch-action: manipulation;
}


.dcf-input-checkbox label,
.dcf-input-radio label {
  padding-left: $padding-left-checkbox-radio;
  @if (to-number($height-width-checkbox-radio) < to-number(#{ms(4)}em)) {
    vertical-align: top;
  } @else {
    vertical-align: text-top;
  }
}


.dcf-input-switch label {
  border-style: $border-style-button;
  border-width: $border-width-button;
  @if (to-number($font-size-button) != to-number(#{ms(0)}em)) {
    font-size: $font-size-button;
  }
  @if ($font-weight-button-bold) {
    font-weight: bold;
  }
  line-height: $line-height-button;
  padding: $padding-top-button $padding-right-button $padding-bottom-button $padding-left-button;
  text-align: center;
  @if ($text-transform-button-uppercase) {
    text-transform: uppercase;
  }
}


@if ($border-radius-button-roundrect) {

  .dcf-input-switch:first-child label {
    border-radius: $roundrect 0 0 $roundrect;
  }


  .dcf-input-switch:last-child label {
    border-radius: 0 $roundrect $roundrect 0;
  }

}


// Checked or "active" switch
.dcf-input-switch input[type="radio"]:checked + label {
  background-color: $bg-color-button-primary;
  border-color: $border-color-button-primary;
  color: $color-button-primary;
}


// Unchecked or "inactive" switch
.dcf-input-switch input[type="radio"]:not(:checked) + label {
  background-color: $bg-color-button-tertiary;
  border-color: $border-color-button-tertiary;
  color: $color-button-tertiary;
}


// Create checkbox, checkmark, radio input and radio button
.dcf-input-checkbox label::before,
.dcf-input-checkbox label::after,
.dcf-input-radio label::before,
.dcf-input-radio label::after {
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}


// Style checkbox and radio input
.dcf-input-checkbox label::before,
.dcf-input-radio label::before {
  background-color: $bg-color-input;
  border: $border-width-input solid $border-color-input;
  height: $height-width-checkbox-radio;
  width: $height-width-checkbox-radio;
}


// Style checkbox
@if ($border-radius-input-roundrect) {
  .dcf-input-checkbox label::before {
    border-radius: $roundrect;
  }
}

// Style checkmark
.dcf-input-checkbox label::after {
  background-color: transparent;
  border-color: transparent $border-color-checkmark $border-color-checkmark;
  border-style: solid;
  border-width: 0 0 $border-width-checkmark $border-width-checkmark;
  height: to-number($height-width-checkbox-radio) * to-number(#{ms(-8)});
  opacity: 0;
  top: to-number($height-width-checkbox-radio) * to-number(#{ms(-2)});
  transform: rotate(-45deg) translate(percentage(to-number(#{ms(-4)})), -(percentage(to-number(#{ms(-2)})))) scale(.5);
  transition: opacity $transition-check-duration $transition-check-timing, transform $transition-check-duration $transition-check-timing;
  width: to-number($height-width-checkbox-radio) * to-number(#{ms(-2)});
}


// Style radio input and selection
.dcf-input-radio label::before,
.dcf-input-radio label::after {
  @include circle;
}


// Style radio selection
.dcf-input-radio label::after {
  background-color: $bg-color-radio-dot;
  height: $height-width-checkbox-radio;
  opacity: 0;
  top: 0;
  transform: scale($scale-radio-start);
  transition: transform $transition-radio-duration $transition-radio-timing;
  width: $height-width-checkbox-radio;
}


// Checkbox and radio focus state
.dcf-input-checkbox input[type="checkbox"]:focus + label::before,
.dcf-input-radio input[type="radio"]:focus + label::before {
  border-color: $border-color-input-focus;
}


// Checkbox and radio checked state
.dcf-input-checkbox input[type="checkbox"]:checked + label::before,
.dcf-input-radio input[type="radio"]:checked + label::before {
  border-color: $border-color-input-checked;
}


// Show checkmark when checkbox is checked
.dcf-input-checkbox input[type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: rotate(-45deg) translate(percentage(to-number(#{ms(-4)})), -(percentage(to-number(#{ms(-2)})))) scale(1);
}


// Show radio button when checked
.dcf-input-radio input[type="radio"]:checked + label::after {
  opacity: 1;
  transform: scale($scale-radio-end);
  transition: transform $transition-radio-duration $transition-radio-timing;
}


// Checkbox and radio hover state
.dcf-input-checkbox input[type="checkbox"]:enabled + label:hover::before,
.dcf-input-radio input[type="radio"]:enabled + label:hover::before,
.dcf-input-checkbox input[type="checkbox"]:enabled:hover + label::before,
.dcf-input-radio input[type="radio"]:enabled:hover + label::before {
  border-color: $border-color-input-hover;
}


// Select -- based on Filament Group's select-css: https://www.filamentgroup.com/lab/select-css.html

.dcf-input-select, // TODO: deprecate .dcf-input-select?
.dcf-form select {
  appearance: none;
  background-color: $bg-color-select-2; // This is necessary for select options dropdown/popover in dark mode
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{encodecolor($color-select-arrow-light-mode)}' d='M23.9 2.3c-.1-.2-.2-.3-.4-.3H.5c-.2 0-.3.1-.4.3-.1.1-.1.3 0 .5l11.5 19c.1.1.3.2.4.2s.3-.1.4-.2l11.5-19c.1-.2.1-.4 0-.5z'/%3E%3C/svg%3E"), linear-gradient($bg-color-select-1, $bg-color-select-2);
  background-position: right $bg-position-arrow top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: $bg-size-arrow-select $bg-size-arrow-select, 100%;
  border: $border-width-input solid $border-color-input;
  @if ($border-radius-input-roundrect) {
    border-radius: $roundrect;
  } @else {
    border-radius: 0;
  }
  box-sizing: border-box;
  color: $color-select;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: $font-size-select; // Font size must be ≥16px to prevent iOS page zoom on focus
  line-height: $line-height-select;
  max-width: 100%;
  padding: $padding-top-input $padding-right-select $padding-bottom-input $padding-left-input;
  width: 100%;
}


@media (prefers-color-scheme: dark) {

  .dcf-input-select, // TODO: deprecate .dcf-input-select?
  .dcf-form select {
    // Change select arrow color for dark mode
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{encodecolor($color-select-arrow-dark-mode)}' d='M23.9 2.3c-.1-.2-.2-.3-.4-.3H.5c-.2 0-.3.1-.4.3-.1.1-.1.3 0 .5l11.5 19c.1.1.3.2.4.2s.3-.1.4-.2l11.5-19c.1-.2.1-.4 0-.5z'/%3E%3C/svg%3E"), linear-gradient($bg-color-select-1, $bg-color-select-2);
  }
}


.dcf-input-select::-ms-expand, // TODO: deprecate .dcf-input-select?
.dcf-form select::-ms-expand {
  display: none;
}


.dcf-input-select:hover, // TODO: deprecate .dcf-input-select?
.dcf-form select:hover {
  border-color: $border-color-input-hover;
}


.dcf-input-select:focus, // TODO: deprecate .dcf-input-select?
.dcf-form select:focus {
  border-color: $border-color-input-focus;
  outline: none;
}


// Display form controls inline instead of stacked at the small breakpoint
@include mq(sm) {

  .dcf-input-group-form, // TODO: deprecate .dcf-input-group-form?
  .dcf-form-controls-inline {
    align-items: baseline; // Align to baseline in case there is a difference in size between the label and its corresponding input
    display: flex;
    flex-wrap: wrap; // Allow input to wrap at narrower viewport widths
  }


  .dcf-form-controls-inline label {
    flex-shrink: 0; // Force input to wrap when label text is long
    margin-right: $margin-right-form-controls-inline-label;
  }


  .dcf-form-controls-inline input,
  .dcf-form-controls-inline select,
  .dcf-form-controls-inline label + span {
    flex: 1 1 1px; // Let input or select grow, shrink and wrap as needed
  }


  .dcf-form-controls-inline .dcf-form-help {
    flex-basis: 100%; // Place help text on its own line
  }

}
