//////////////////////////////
// CORE / COMPONENTS / BUTTONS
//////////////////////////////


.dcf-btn {
  appearance: none;
  @if ($border-radius-button-roundrect) {
    border-radius: $roundrect;
  }
  border-style: $border-style-button;
  border-width: $border-width-button;
  cursor: pointer;
  display: inline-block;
  @if (to-number($font-size-button) != to-number(#{ms(0)}em)) {
    font-size: $font-size-button;
  }
  @if ($font-weight-button-bold) {
    font-weight: bold;
  }
  line-height: $line-height-button;
  padding: $padding-top-button $padding-right-button $padding-bottom-button $padding-left-button;
  text-align: center;
  @if ($text-transform-button-uppercase) {
    text-transform: uppercase;
  }
}


a.dcf-btn-primary,
a.dcf-btn-secondary,
a.dcf-btn-inverse-primary,
a.dcf-btn-inverse-secondary {
  text-decoration: none;  // Display tertiary buttons with underlines
}


.dcf-btn-primary,
.dcf-btn-primary:link {
  background-color: $bg-color-button-primary;
  border-color: $border-color-button-primary;
  color: $color-button-primary;
}


.dcf-btn-secondary,
.dcf-btn-secondary:link {
  background-color: $bg-color-button-secondary;
  border-color: $border-color-button-secondary;
  color: $color-button-secondary;
}


.dcf-btn-tertiary,
.dcf-btn-tertiary:link {
  background-color: $bg-color-button-tertiary;
  border-color: $border-color-button-tertiary;
  color: $color-button-tertiary;
}


.dcf-btn-inverse-primary,
.dcf-btn-inverse-primary:link {
  background-color: $bg-color-button-inverse-primary;
  border-color: $border-color-button-inverse-primary;
  color: $color-button-inverse-primary;
}


.dcf-btn-inverse-secondary,
.dcf-btn-inverse-secondary:link {
  background-color: $bg-color-button-inverse-secondary;
  border-color: $border-color-button-inverse-secondary;
  color: $color-button-inverse-secondary;
}


.dcf-btn-inverse-tertiary,
.dcf-btn-inverse-tertiary:link {
  background-color: $bg-color-button-inverse-tertiary;
  border-color: $border-color-button-inverse-tertiary;
  color: $color-button-inverse-tertiary;
  text-decoration: underline;
}


.dcf-btn-icon {
  align-items: center;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: $length-em-2;
}


@media screen and (prefers-color-scheme: dark) {

  .dcf-btn-primary\@dark,
  .dcf-btn-primary\@dark:link {
    background-color: $bg-color-button-primary-light-mode;
    border-color: $border-color-button-primary-light-mode;
    color: $color-button-primary-light-mode;
  }


  .dcf-btn-secondary\@dark,
  .dcf-btn-secondary\@dark:link {
    background-color: $bg-color-button-secondary-light-mode;
    color: $color-button-secondary-light-mode;
  }


  .dcf-btn-tertiary\@dark,
  .dcf-btn-tertiary\@dark:link {
    color: $color-button-tertiary-light-mode;
  }

}
