//////////////////////////////
// CORE / COMPONENTS / BUTTONS
//////////////////////////////


.dcf-btn {
  appearance: none;
  @if ($border-radius-button-roundrect) {
    border-radius: $roundrect;
  }
  border-style: $border-style-button;
  border-width: $border-width-button;
  cursor: pointer;
  display: inline-block;
  @if (to-number($font-size-button) != to-number(#{ms(0)}em)) {
    font-size: $font-size-button;
  }
  @if ($font-weight-button-bold) {
    font-weight: bold;
  }
  line-height: $line-height-button;
  padding: $padding-top-button $padding-right-button $padding-bottom-button $padding-left-button;
  text-align: center;
  @if ($text-transform-button-uppercase) {
    text-transform: uppercase;
  }
}


a.dcf-btn-primary,
a.dcf-btn-secondary,
a.dcf-btn-inverse-primary,
a.dcf-btn-inverse-secondary {
  text-decoration: none;  // Display tertiary buttons with underlines
}


.dcf-btn-primary,
.dcf-btn-primary:link {
  background-color: $bg-color-button-primary-light-mode;
  border-color: $border-color-button-primary-light-mode;
  color: $color-button-primary-light-mode;
}


.dcf-btn-secondary,
.dcf-btn-secondary:link {
  background-color: $bg-color-button-secondary-light-mode;
  border-color: $border-color-button-secondary-light-mode;
  color: $color-button-secondary-light-mode;
}


.dcf-btn-tertiary,
.dcf-btn-tertiary:link {
  background-color: $bg-color-button-tertiary-light-mode;
  border-color: $border-color-button-tertiary-light-mode;
  color: $color-button-tertiary-light-mode;
  text-decoration: underline;
}


.dcf-btn-inverse-primary,
.dcf-btn-inverse-primary:link {
  background-color: $bg-color-button-inverse-primary-light-mode;
  border-color: $border-color-button-inverse-primary-light-mode;
  color: $color-button-inverse-primary-light-mode;
}


.dcf-btn-inverse-secondary,
.dcf-btn-inverse-secondary:link {
  background-color: $bg-color-button-inverse-secondary-light-mode;
  border-color: $border-color-button-inverse-secondary-light-mode;
  color: $color-button-inverse-secondary-light-mode;
}


.dcf-btn-inverse-tertiary,
.dcf-btn-inverse-tertiary:link {
  background-color: $bg-color-button-inverse-tertiary-light-mode;
  border-color: $border-color-button-inverse-tertiary-light-mode;
  color: $color-button-inverse-tertiary-light-mode;
  text-decoration: underline;
}

