//////////////////////////////
// THEME / COMPONENTS / GLOBAL
//////////////////////////////


// Temp variables
$white: #fff;
$black: #000;
$gray: mix($white, $black); // #808080
$gray2: #eee;
$blue: #005a9c;
$blue2: #def;

$hsl1: hsl(216, 89%, 51%);
$hsl2: hsl(216, 80%, 51%);
$hsl3: hsl(216, 80%, 92%);

$rgba1: rgba(0, 0, 0, .12);
$rgba2: rgba(0, 0, 0, .22);
$rgba3: rgb(100, 100, 100);


.dcf-datepicker {
  position: relative;

  .group {
    display: inline-block;
    position: relative;
    width: 13em;
  }

  button.icon {
    background-color: $white;
    border: 0 solid $blue;
    border-radius: 5px;
    margin: 0;
    padding: 4px;
    position: relative;
    top: .25em;
  }

  .desc {
    left: 0;
    position: absolute;
    top: 2em;
  }

  .fa-calendar-alt {
    color: $hsl1;
  }

  button.icon:focus {
    background-color: $blue2;
    border-width: 2px;
    outline: none;
    padding: 2px;
  }

  input:focus {
    background-color: $blue2;
    outline: 2px solid $blue;
    outline-offset: 1px;
  }
}


.dcf-datepicker-dialog {
  background-color: $white;
//   border: $border-width-datepicker-dialog $border-style-datepicker-dialog $hsl2;
  @if ($border-radius-datepicker-dialog-roundrect) {
    border-radius: $roundrect;
  }
  box-shadow: $box-shadow-datepicker-dialog;
  margin-top: $margin-top-datepicker-dialog;
  padding: $padding-top-datepicker-dialog $padding-right-datepicker-dialog $padding-bottom-datepicker-dialog $padding-left-datepicker-dialog;
  width: $width-datepicker-dialog;

  [role="alertdialog"],
  [role="dialog"] {
    background-color: $white;
    border: 1px solid $black;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 15px;
  }

  @media screen and (min-width: 640px) {
    [role="alertdialog"],
    [role="dialog"] {
      box-shadow: 0 19px 38px $rgba1, 0 15px 12px $rgba2;
      left: 50vw; // move to the middle of the screen (assumes relative parent is the body/viewport)
      min-height: auto;
      min-width: calc(640px - (15px * 2)); // == breakpoint - left+right margin
      position: absolute;
      top: 2rem;
      transform: translateX(-50%); // move backwards 50% of this element's width
    }
  }

  .fa-calendar-alt {
    color: $hsl1;
  }

  table.dates td:focus,
  table.dates td:hover {
    background-color: $hsl3;
    padding: 0;
  }

  table.dates td:focus {
    border: 2px solid $rgba3;
    outline: 0;
    padding: 1px;
  }


  table.dates td[aria-selected] {
//     border: 2px dotted $rgba3;
//     padding: 1px;
  }

  table.dates td[aria-selected]:focus {
    border: 2px solid $rgba3;
    padding: 1px;
  }

}


.dcf-datepicker-dialog-header {
//   background-color: $hsl2;
  cursor: default;
  padding: $padding-bottom-datepicker-dialog-header;
}


.dcf-datepicker-dialog-month-year {
  font-size: $font-size-datepicker-dialog-month-year;
}


.dcf-datepicker-dialog-calendar th,
.dcf-datepicker-dialog-calendar td {
  font-size: $font-size-datepicker-dialog-calendar;
  height: $height-datepicker-dialog-calendar-cell;
  text-align: center;
}


.dcf-datepicker-dialog-calendar td {
  @if ($border-radius-datepicker-date-roundrect) {
    border-radius: $roundrect;
  }
  color: var(--btn-tertiary);
}


.dcf-datepicker-dialog-calendar td:not(.disabled):hover {
  background-color: var(--bg-btn-secondary-tertiary-hover);
  color: var(--btn-secondary-tertiary-hover);
}


.dcf-datepicker-dialog-calendar td[tabindex="0"] {
  background-color: $hsl2;
  color: $white;
}


.dcf-datepicker-dialog-footer {
  padding: $padding-top-datepicker-dialog-footer;
}


.dcf-datepicker-dialog-message {
  font-size: $font-size-datepicker-dialog-message;
  text-align: center;
}
