////////////////////////////
// CORE / COMPONENTS / ICONS
////////////////////////////


@use "../variables/" as var;


a .dcf-icon,
button .dcf-icon {
  fill: currentColor;
}


.dcf-icon-inline {
  height: #{var.$ms00}em; // 1em
  width: #{var.$ms00}em;  // 1em
}
