////////////////////////////////
// CORE / COMPONENTS / NAV: MENU
////////////////////////////////


@use "../variables/" as var;
@use "../mixins/" as mixins;


.dcf-nav-menu-content ul {
  // Fix list-style: none in VoiceOver and Safari: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
  list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  margin-bottom: 0;
  padding-left: 0;
}


.dcf-nav-menu li {
  margin-bottom: 0;
}


.dcf-nav-menu-content a,
.dcf-nav-menu-content button {
  @include mixins.lh-3;
  display: block;
  padding: #{var.$ms00}em #{var.$ms00}rem;
}


@include mixins.mq(md, max, width) {

  .dcf-nav-menu {
    background-color: var.$bg-color-nav-menu;
    bottom: #{var.$ms10}em;
    height: 100vh;
    // opacity: 0;
    // pointer-events: none;
    position: fixed;
    transition: opacity var.$transition-duration-fade-in var.$transition-timing-fn-fade-in, visibility 0ms .4s;
    // visibility: hidden;
    width: 100%;
    z-index: 998; // Ensure that the z-index is below the modal and nav-toggle-group z-indices
  }


  // Open when parent model is open
  .dcf-nav-menu.dcf-modal-open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity var.$transition-duration-fade-in var.$transition-timing-fn-fade-in;
    visibility: visible;
  }


  .dcf-nav-menu-content {
    //@include mixins.bg-scarlet;
    // @include mixins.overflow-y-auto;
    bottom: #{var.$ms10}em;
    height: 56vh;
    overflow-y: auto;
    // padding-left: var.$length-vw-2;
    // padding-right: var.$length-vw-2;
    position: fixed;
  }


//   .dcf-nav-menu-child > *:first-child {
//     @include mixins.mt-6;
//   }
//
//
//   .dcf-nav-menu-child > *:last-child {
//     @include mixins.mb-7;
//   }


  .dcf-nav-menu a,
  .dcf-nav-menu button {
    margin-left: -#{var.$ms00}rem;
  }

}


@include mixins.mq(md, min, width) {

  .dcf-nav-menu {
    //@include mixins.bg-scarlet;
    display: flex;
    flex-wrap: nowrap;
    // padding-left: var.$length-vw-2;
    // padding-right: var.$length-vw-2;
    padding-inline: var.$length-vw-2;
  }


}
