///////////////////////////////
// CORE / COMPONENTS / PROGRESS
///////////////////////////////


@use "../variables/" as var;


// Spinner
.dcf-progress-spinner {
  animation: rotateclockwise var.$animation-duration-spinner var.$animation-timing-spinner var.$animation-iteration-count-spinner;
  border: var.$border-width-spinner var.$border-style-spinner var.$border-color-spinner;
  @if (var.$border-right-color-spinner) {
    border-right-color: var.$border-right-color-spinner;
  }
  border-radius: 50%;
  height: var.$height-spinner;
  width: var.$width-spinner;
  will-change: transform;
}
