///////////////////////////////////////////
// CORE / VARIABLES / COLLAPSIBLE FIELDSETS
///////////////////////////////////////////


// Animation duration
$animation-duration-fieldset: 100ms;
$animation-duration-fieldset-contents: 250ms;


// Animation timing
$animation-timing-fieldset: ease-in-out;
