//////////////////////
// !UTILITIES: BORDERS
//////////////////////


// All Sides
.dcf-u-b1 {
  @include b1(!important);
  border-color: $color-border;
}


// !Top
.dcf-u-bt {
  @include bt(!important);
  border-color: $color-border;
}


// !Right
.dcf-u-br {
  @include br(!important);
  border-color: $color-border;
}


// !Bottom
.dcf-u-bb {
  @include bb(!important);
  border-color: $color-border;
}


// !Left
.dcf-u-bl {
  @include bl(!important);
  border-color: $color-border;
}


// !No Border
.dcf-u-b0 {
  @include b0(!important);
}


// !BORDER RADIUS


// !Circle
.dcf-u-circle { @include circle(!important); }


// !Rounded, All Sides
.dcf-u-rounded { @include rounded(!important); }


// !Rounded Top (Top Right, Top Left)
.dcf-u-rounded-top { @include rounded-top(!important); }


// !Rounded Right (Top Right, Bottom Right)
.dcf-u-rounded-right { @include rounded-right(!important); }


// !Rounded Bottom (Bottom Right, Bottom Left)
.dcf-u-rounded-bottom { @include rounded-bottom(!important); }


// !Rounded Left (Bottom Left, Top Left)
.dcf-u-rounded-left { @include rounded-left(!important); }
