////////////////////////////
// !UTILITIES: BOX ALIGNMENT
////////////////////////////


// !Align Items
.dcf--ai-flex-start { @include ai-flex-start(!important); }
.dcf--ai-flex-end { @include ai-flex-end(!important); }
.dcf--ai-center { @include ai-center(!important); }
.dcf--ai-baseline { @include ai-baseline(!important); }
.dcf--ai-stretch { @include ai-stretch(!important); }
.dcf--ai-start { @include ai-start(!important); }
.dcf--ai-end { @include ai-end(!important); }


// !Align Content
.dcf--ac-flex-start { @include ac-flex-start(!important); }
.dcf--ac-flex-end { @include ac-flex-end(!important); }
.dcf--ac-center { @include ac-center(!important); }
.dcf--ac-stretch { @include ac-stretch(!important); }
.dcf--ac-around { @include ac-around(!important); }
.dcf--ac-between { @include ac-between(!important); }
.dcf--ac-evenly { @include ac-evenly(!important); }
.dcf--ac-start { @include ac-start(!important); }
.dcf--ac-end { @include ac-end(!important); }


// !Align Self
.dcf--as-auto { @include as-auto(!important); }
.dcf--as-flex-start { @include as-flex-start(!important); }
.dcf--as-flex-end { @include as-flex-end(!important); }
.dcf--as-center { @include as-center(!important); }
.dcf--as-baseline { @include as-baseline(!important); }
.dcf--as-stretch { @include as-stretch(!important); }
.dcf--as-start { @include as-start(!important); }
.dcf--as-end { @include as-end(!important); }


// !Justify Items
.dcf--ji-start { @include ji-start(!important); }
.dcf--ji-end { @include ji-end(!important); }
.dcf--ji-center { @include ji-center(!important); }
.dcf--ji-stretch { @include ji-stretch(!important); }


// !Justify Content
.dcf--jc-flex-start { @include jc-flex-start(!important); }
.dcf--jc-flex-end { @include jc-flex-end(!important); }
.dcf--jc-center { @include jc-center(!important); }
.dcf--jc-around { @include jc-around(!important); }
.dcf--jc-between { @include jc-between(!important); }
.dcf--jc-evenly { @include jc-evenly(!important); }
.dcf--jc-start { @include jc-start(!important); }
.dcf--jc-end { @include jc-end(!important); }
.dcf--jc-stretch { @include jc-stretch(!important); }


// !Justify Self
.dcf--js-start { @include js-start(!important); }
.dcf--js-center { @include js-center(!important); }
.dcf--js-end { @include js-end(!important); }
.dcf--js-stretch { @include js-stretch(!important); }
