/////////////////////////
// CORE / OBJECTS / BLEED
/////////////////////////


.dcf-bleed {
  position: relative;
  width: 100cqw;
  margin-inline-start: calc(50% - 50cqw);
  margin-inline-end: calc(50% - 50cqw);
}
