/////////////////////////
// CORE / OBJECTS / BLEED
/////////////////////////


.dcf-bleed {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
