/////////////////////////////
// CORE / UTILITIES / MARGINS
/////////////////////////////


// All sides
.dcf-m-auto { @include m-auto(!important); }
.dcf-m-0 { @include m-0(!important); }
.dcf-m-1 { @include m-1(!important); }
.dcf-m-2 { @include m-2(!important); }
.dcf-m-3 { @include m-3(!important); }
.dcf-m-4 { @include m-4(!important); }
.dcf-m-5 { @include m-5(!important); }
.dcf-m-6 { @include m-6(!important); }
.dcf-m-7 { @include m-7(!important); }
.dcf-m-8 { @include m-8(!important); }
.dcf-m-9 { @include m-9(!important); }
.dcf-m-10 { @include m-10(!important); }


// Top
.dcf-mt-auto { @include mt-auto(!important); }
.dcf-mt-0 { @include mt-0(!important); }
.dcf-mt-1 { @include mt-1(!important); }
.dcf-mt-2 { @include mt-2(!important); }
.dcf-mt-3 { @include mt-3(!important); }
.dcf-mt-4 { @include mt-4(!important); }
.dcf-mt-5 { @include mt-5(!important); }
.dcf-mt-6 { @include mt-6(!important); }
.dcf-mt-7 { @include mt-7(!important); }
.dcf-mt-8 { @include mt-8(!important); }
.dcf-mt-9 { @include mt-9(!important); }
.dcf-mt-10 { @include mt-10(!important); }


// Right
.dcf-mr-auto { @include mr-auto(!important); }
.dcf-mr-0 { @include mr-0(!important); }
.dcf-mr-1 { @include mr-1(!important); }
.dcf-mr-2 { @include mr-2(!important); }
.dcf-mr-3 { @include mr-3(!important); }
.dcf-mr-4 { @include mr-4(!important); }
.dcf-mr-5 { @include mr-5(!important); }
.dcf-mr-6 { @include mr-6(!important); }
.dcf-mr-7 { @include mr-7(!important); }
.dcf-mr-8 { @include mr-8(!important); }
.dcf-mr-9 { @include mr-9(!important); }
.dcf-mr-10 { @include mr-10(!important); }


// Bottom
.dcf-mb-auto { @include mb-auto(!important); }
.dcf-mb-0 { @include mb-0(!important); }
.dcf-mb-1 { @include mb-1(!important); }
.dcf-mb-2 { @include mb-2(!important); }
.dcf-mb-3 { @include mb-3(!important); }
.dcf-mb-4 { @include mb-4(!important); }
.dcf-mb-5 { @include mb-5(!important); }
.dcf-mb-6 { @include mb-6(!important); }
.dcf-mb-7 { @include mb-7(!important); }
.dcf-mb-8 { @include mb-8(!important); }
.dcf-mb-9 { @include mb-9(!important); }
.dcf-mb-10 { @include mb-10(!important); }


// Left
.dcf-ml-auto { @include ml-auto(!important); }
.dcf-ml-0 { @include ml-0(!important); }
.dcf-ml-1 { @include ml-1(!important); }
.dcf-ml-2 { @include ml-2(!important); }
.dcf-ml-3 { @include ml-3(!important); }
.dcf-ml-4 { @include ml-4(!important); }
.dcf-ml-5 { @include ml-5(!important); }
.dcf-ml-6 { @include ml-6(!important); }
.dcf-ml-7 { @include ml-7(!important); }
.dcf-ml-8 { @include ml-8(!important); }
.dcf-ml-9 { @include ml-9(!important); }
.dcf-ml-10 { @include ml-10(!important); }
