//////////////////////////////
// !CORE / COMPONENTS / MODALS
//////////////////////////////


// !Modal Overlay
.dcf-modal-overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100149;
}


// Modal is closed, hidden
.dcf-modal-overlay[aria-hidden="true"] {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-out, visibility 0ms 400ms;
  visibility: hidden;
}


// Modal is open, visible
.dcf-modal-overlay[aria-hidden="false"] {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease-out;
  visibility: visible;
}


// !Modal Content
.dcf-modal-content {
  height: auto;
  max-height: 100%;
  width: calc(100% - (2 * #{ms(12)}vw) ); // Match width of .dcf-wrapper
}


// !Modal Controls
.dcf-close-modal {
  @include bg-transparent;
  @include b-0;
  cursor: pointer;
  position: absolute;
  right: 1%;
  top: 1%;
}
