//////////////////////////////
// !CORE / COMPONENTS / BADGES
//////////////////////////////


// !Default Badges
.dcf-badge {
  background-color: $color-badge;
  color: #fff;
  display: inline-block;
  @include txt-3xs;
  font-size: #{ms(-4)}rem;
  @include lh-1;
  padding: #{ms(-6)}em #{ms(-4)}em; // .42em .56em
  text-align: center;
  vertical-align: text-top;
  white-space: nowrap;
}


// !Roundrect Badges
.dcf-badge-roundrect {
  @include rounded;
}


// !Pill Badges
.dcf-badge-pill {
  border-radius: $pill;
  @include pl-3; // Increase horizontal padding to account for increased border-radius
  @include pr-3; // Increase horizontal padding to account for increased border-radius
}
