/////////////////////////////
// !CORE / COMPONENTS / ICONS
/////////////////////////////


a .dcf-icon,
button .dcf-icon {
  fill: currentColor;
}


.dcf-icon-inline {
  height: #{ms(0)}em; // 1em
  width: #{ms(0)}em; // 1em
}


.dcf-icon-x {
  position: relative;
  top: #{ms(-14)}em; // .13em
}


.dcf-icon-hang {
  left: 0;
  position: absolute;
}
