///////////////////////////////
// CORE / COMPONENTS / HEADINGS
///////////////////////////////


// Headings
.dcf-h1,
.dcf-h2,
.dcf-h3,
.dcf-h4,
.dcf-h5,
.dcf-h6 {
  line-height: $line-height-heading;
  margin-bottom: $margin-bottom-heading;
  margin-top: $margin-top-heading;

  dl + &,
  ol + &,
  ul + &,
  & + &,
  p:not(.dcf-subhead) + & {
    margin-top: $margin-top-heading-after-els;
  }

}


// Subheads
.dcf-subhead {
  font-size: $font-size-subhead;
  margin-bottom: $margin-bottom-subhead;
  @if ($text-transform-subhead == true) {
    text-transform: uppercase;
  }
}
