////////////////////////////////////
// !CORE / COMPONENTS / INPUT GROUPS
////////////////////////////////////


// Form that contains input group
.dcf-input-group-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}


// Input group = field + button or add-on
.dcf-input-group {
  display: flex;
}


// Input group and child input field
.dcf-input-group,
.dcf-input-group .dcf-input-text {
  flex: 1 0 50%; // Grow as needed, with a minimum width of 50%
}


// Input group button
.dcf-input-group .dcf-btn {
  align-items: center;
  display: flex;
}


// Input group add-on
.dcf-input-group-addon {
  align-items: center;
  display: flex;
  text-align: center;
  white-space: nowrap;
}
