////////////////////////////
// CORE / ELEMENTS / BUTTONS
////////////////////////////


// Button
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
