/////////////////////////
// CORE / ELEMENTS / BODY
/////////////////////////


body {
  background-color: $bg-color-body-light-mode;
  color: $color-body-light-mode;
  margin: 0;
  overflow-x: hidden;
}
