////////////////////////////
// CORE / ELEMENTS / FIGURES
////////////////////////////


// Figure
figure {
  margin: 0;
}


// Figure caption
figcaption {
  color: $color-figcaption;
  font-size: $font-size-figcaption;
}
