//////////////////////////
// CORE / ELEMENTS / FORMS
//////////////////////////


form,
input,
textarea {
  font-size: $font-size-form;
  line-height: $line-height-form;
}


fieldset {
  margin-inline: $margin-inline-fieldset; // Reset browser defaults
}


label {
  display: inline-block;
}


input,
optgroup,
select,
textarea {
  margin: $margin-top-input $margin-right-input $margin-bottom-input $margin-left-input; // Reset browser defaults
}


select {
  display: block;
  text-transform: $text-transform-select;
}


textarea {
  display: block;
  resize: vertical;
  width: 100%;
}


input[type="file"] {
  width: 100%; // Prevent overflow in narrow viewports
}


:disabled,
input:disabled ~ label {
  cursor: not-allowed !important;
  opacity: $opacity-disabled;
}
