/////////////////////////
// CORE / ELEMENTS / CODE
/////////////////////////


@if ($border-radius-code == true) {

  code,
  kbd,
  pre {
    border-radius: $roundrect;
  }

}


code,
pre {
  hyphens: none;
  word-break: normal;
}


code {
  background-color: $bg-color-code;
  color: $color-code;
  font-size: $font-size-code;
  padding: $padding-code;
}


pre {
  tab-size: $tab-size-pre;
}


pre code {
  @include overflow-x-scroll;
  background-color: transparent;
  display: block;
  padding: 0;
  white-space: pre;
}


kbd {
  background-color: $bg-color-kbd;
  color: $color-kbd;
  font-size: $font-size-kbd;
  padding: $padding-kbd;
}


kbd kbd {
  font-size: 100%;
  padding: 0;
}
