//////////////////////////
// CORE / ELEMENTS / MARKS
//////////////////////////


// Marked (highlighted) text
mark {
  background-color: $bg-color-mark-light-mode;
  padding: $padding-top-mark $padding-right-mark $padding-bottom-mark $padding-left-mark;
}
