////////////////////////////
// CORE / ELEMENTS / ANCHORS
////////////////////////////


// Link
a:link {
  color: var(--link);
}


// Visited
a:visited {
  color: var(--visited);
}


// Hover
a:hover {
  color: var(--hover);
}


// Active
a:active {
  color: var(--active);
}
