/////////////////////////////
// CORE / ELEMENTS / HEADINGS
/////////////////////////////


h1 { @include txt-h1; }
h2 { @include txt-h2; }
h3 { @include txt-h3; }
h4 { @include txt-h4; }
h5 { @include txt-h5; }
h6 { @include txt-h6; }


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  line-height: $line-height-heading;
  margin-bottom: $margin-bottom-heading;
  margin-top: $margin-top-heading;
  @if ($text-wrap-balance == true) {
    text-wrap: balance;
  }

  dl + &,
  ol + &,
  ul + &,
  & + &,
  p:not(.dcf-subhead) + & {
    margin-top: $margin-top-heading-after-els;
  }

}
