///////////////////////////
// CORE / ELEMENTS / TABLES
///////////////////////////


// Table
table {
  background-color: transparent;
  border-collapse: collapse;
  text-indent: 0;
}


// Table Header
th {
  text-align: left;
}
