//////////////////////////
// CORE / ELEMENTS / LISTS
//////////////////////////


@use "../variables/" as var;


// Avoid markers altering the line-height in Firefox.
// See: https://danburzo.ro/notes/moz-bullet-font/
::marker {
  line-height: 0;
}


ol,
ul {
  padding-left: var.$padding-left-ol-ul;
}


// Fix list-style: none in VoiceOver and Safari: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
ol[role=list],
ul[role=list] {
  list-style: none;
  padding: 0;
}


dl,
ol,
ul {
  margin-bottom: var.$margin-bottom-dl-ol-ul;
  margin-top: var.$margin-top-dl-ol-ul;
  @if (var.$text-wrap-pretty-dl-ol-ul == true) {
    text-wrap: pretty;
  }

  dl,
  ol,
  ul {
    margin-top: var.$margin-top-nested-dl-ol-ul;
  }

}


li,
dt,
dd {
  margin-top: var.$margin-top-li-dt-dd;
}


li {
  margin-bottom: var.$margin-bottom-li;
}


@if (var.$font-weight-dt-bold) {

  dt {
    font-weight: bold;
  }

}


dd {
  margin-left: var.$margin-left-dd;
}


dt,
dd {
  margin-bottom: var.$margin-bottom-dt-dd;
}


dd + dt {
  margin-top: var.$margin-top-dd-plus-dt;
}
