//////////////////////////
// CORE / ELEMENTS / MEDIA
//////////////////////////


audio, canvas, embed, iframe, img, object, picture, svg, video {
  display: block;
  height: auto;
  max-width: 100%;
}


// Remove browser default borders from iframes
iframe {
  border: 0;
}
