//////////////////////////
// CORE / ELEMENTS / MEDIA
//////////////////////////


audio, canvas, embed, iframe, img, object, picture, svg, video {
  display: block;
  height: auto;
  max-width: 100%;
}
