///////////////////////////////
// CORE / ELEMENTS / PARAGRAPHS
///////////////////////////////


@use "../variables/" as var;


p {
  margin-bottom: var.$margin-bottom-paragraph;
  margin-top: var.$margin-top-paragraph;
  overflow-wrap: break-word;
  @if (var.$text-wrap-pretty-paragraph == true) {
    text-wrap: pretty;
  }
}
