html{
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
h1{
  font-size: 2em;
  margin: 0.67em 0; }
hr{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }
main{
  display: block; }
pre{
  font-family: monospace, monospace;
  font-size: 1em; }
a{
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
abbr[title]{
  text-decoration: underline;
  text-decoration: underline dotted; }
b,
strong{
  font-weight: bolder; }
code,
kbd,
samp{
  font-family: monospace, monospace;
  font-size: 1em; }
small{
  font-size: 80%; }
img{
  border-style: none; }
svg:not(:root){
  overflow: hidden; }
button,
input,
optgroup,
select,
textarea{
  margin: 0; }
button{
  overflow: visible;
  text-transform: none; }
button,
[type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance: button; }
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style: none;
  padding: 0; }
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline: 1px dotted ButtonText; }
fieldset{
  padding: 0.35em 0.75em 0.625em; }
input{
  overflow: visible; }
legend{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }
progress{
  display: inline-block;
  vertical-align: baseline; }
select{
  text-transform: none; }
textarea{
  overflow: auto; }
[type="checkbox"],
[type="radio"]{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height: auto; }
[type="search"]{
  -webkit-appearance: textfield;
  outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none; }
::-webkit-file-upload-button{
  -webkit-appearance: button;
  font: inherit; }
details{
  display: block; }
summary{
  display: list-item; }
template{
  display: none; }
[hidden]{
  display: none; }
@charset "UTF-8";
.unl--serif-font {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
  font-weight: 400;
  font-style: normal; }

.unl--sans-serif-font {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.unl--brand-font {
  font-family: 'Tungsten A', 'Tungsten B', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

.unl--display-font {
  font-family: 'Tungsten A', 'Tungsten B', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-style: normal; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  color: #383837;
  background-color: #fff; }

main:focus {
  outline: none; }

.dcf--wrapper {
  padding-right: 5vw;
  padding-left: 5vw; }

.dcf--full-width {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw; }

abbr {
  letter-spacing: .05em; }

abbr[title] {
  position: relative;
  text-decoration: none; }
  abbr[title]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: 1px dotted currentColor;
    opacity: .5; }

address {
  max-width: 36rem;
  margin-top: 0;
  margin-bottom: 1em;
  font-style: normal; }

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink; }

a:link {
  color: #d00000;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out; }

a:visited {
  color: #5e5e5e; }

a:hover {
  color: #a60000;
  -webkit-transition: color 250ms ease-out;
  transition: color 250ms ease-out; }

a:active {
  color: #920000; }

button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

code,
kbd,
pre {
  line-height: 1.5;
  border-radius: 2px; }

code,
kbd {
  padding-top: .125rem;
  padding-right: .25rem;
  padding-bottom: .125rem;
  padding-left: .25rem;
  font-size: 0.875em; }

code,
pre {
  word-break: normal;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }

code {
  color: #525250;
  background-color: rgba(0, 0, 0, 0.05); }

pre {
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2; }

pre code {
  display: block;
  padding: 0;
  white-space: pre;
  overflow-x: scroll;
  background-color: transparent; }

.dcf--pre {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05); }

kbd {
  color: #0f0;
  background-color: #000; }

kbd kbd {
  padding: 0;
  font-size: 100%; }

figure {
  margin: 0; }

figcaption {
  font-size: 0.75em;
  color: #545353; }

form,
input,
textarea {
  font-size: 1rem;
  line-height: 1.5; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

label {
  display: inline-block; }

select {
  display: block;
  margin-bottom: 1em; }

textarea {
  display: block;
  width: 100%;
  resize: vertical; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25;
  color: #1c1c1c; }
  p + h1,
  ol + h1,
  ul + h1,
  dl + h1, p +
  h2,
  ol +
  h2,
  ul +
  h2,
  dl +
  h2, p +
  h3,
  ol +
  h3,
  ul +
  h3,
  dl +
  h3, p +
  h4,
  ol +
  h4,
  ul +
  h4,
  dl +
  h4, p +
  h5,
  ol +
  h5,
  ul +
  h5,
  dl +
  h5, p +
  h6,
  ol +
  h6,
  ul +
  h6,
  dl +
  h6 {
    margin-top: 2em; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-weight: normal; }

img {
  max-width: 100%;
  height: auto; }

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1em; }
  dl dl,
  dl ol,
  dl ul,
  ol dl,
  ol ol,
  ol ul,
  ul dl,
  ul ol,
  ul ul {
    margin-top: 0.5em; }

ol,
ul {
  padding-left: 1.5em; }

li, dt, dd {
  max-width: 36em;
  margin-top: 0; }

li {
  margin-bottom: 0.5em; }

dt, dd {
  margin-bottom: 0.25em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

dd + dt {
  margin-top: 1em; }

p {
  max-width: 36rem;
  margin-top: 0;
  margin-bottom: 1rem; }

body:lang(en) {
  quotes: '\201C' '\201D' '\2018' '\2019' '\201C' '\201D' '\2018' '\2019'; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

blockquote {
  max-width: 36rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em; }

small {
  font-size: 1rem; }

sup,
sub {
  position: relative;
  vertical-align: baseline;
  font-size: 0.625em; }

sup {
  top: -.625em; }

sub {
  top: .25em; }

table {
  border-collapse: collapse;
  background-color: transparent; }

caption {
  padding-top: 0.75em;
  text-align: left;
  caption-side: bottom;
  font-size: 0.75em;
  color: #545353; }

th {
  text-align: left; }

:root {
  font-size: 1em;
  line-height: 1.5; }

@media screen and (min-width: 32em) {
  :root {
    font-size: calc(1em + (1.25 - 1) * ( (100vw - 32em) / ( 128 - 32))); } }

@media screen and (min-width: 128em) {
  :root {
    font-size: 1.25em; } }

.dcf--initialism {
  font-size: 0.875em; }

.dcf--alert {
  display: grid;
  grid-template-areas: "header footer" "msg footer"; }

.dcf--alert-header {
  grid-area: header; }

.dcf--alert-msg {
  grid-area: msg; }

.dcf--alert-footer {
  grid-area: footer; }

.dcf--article-header {
  grid-area: header; }

.dcf--article-body {
  grid-area: body; }

.dcf--article-meta {
  grid-area: meta; }

.dcf--article p:not(.dcf--lead),
.dcf--article dl,
.dcf--article ol,
.dcf--article ul {
  margin-bottom: 0; }

.dcf--article p + p,
.dcf--article p + dl,
.dcf--article p + ol,
.dcf--article p + ul,
.dcf--article dl + p,
.dcf--article dl + dl,
.dcf--article dl + ol,
.dcf--article dl + ul,
.dcf--article ol + p,
.dcf--article ol + dl,
.dcf--article ol + ol,
.dcf--article ol + ul,
.dcf--article ul + p,
.dcf--article ul + dl,
.dcf--article ul + ol,
.dcf--article ul + ul,
.dcf--article blockquote + p,
.dcf--article blockquote + dl,
.dcf--article blockquote + ol,
.dcf--article blockquote + ul {
  margin-top: 0.25em;
  text-indent: 1.5em; }

.dcf--author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 1em; }

.dcf--author-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.dcf--author-img img {
  width: 3em; }

.dcf--byline {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.dcf--pubdate {
  display: block; }

.dcf--article-share {
  top: 1em; }

.dcf--article-tags {
  grid-area: tags; }

.dcf--article-related {
  grid-area: related; }

.dcf--article-downloads {
  grid-area: downloads; }

@media only screen and (max-width: 48em) {
  .dcf--author-img img {
    margin-right: 1em; } }

@media only screen and (min-width: 48em) {
  .dcf--article {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: "meta header header header" "meta body body body" "contact tags related downloads"; }
  .dcf--author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0; }
  .dcf--author-img img {
    width: 5em; } }

.dcf--badge {
  display: inline-block;
  padding-top: .25rem;
  padding-right: 0.5em;
  padding-bottom: .25rem;
  padding-left: 0.5em;
  font-size: 0.5em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  border-radius: 2px; }

.dcf--badge-default {
  background-color: #666; }

.dcf--badge-pill {
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 1em; }

.dcf--btn {
  cursor: pointer;
  display: inline-block;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

.dcf--btn {
  border-radius: 2px; }

a.dcf--btn {
  text-decoration: none; }

.dcf--btn-primary {
  color: #fff;
  border: 1px solid #686868;
  background-color: #686868;
  -webkit-transition: border ease-out .4s, background-color ease-out .4s;
  transition: border ease-out .4s, background-color ease-out .4s; }
  .dcf--btn-primary:link, .dcf--btn-primary:visited, .dcf--btn-primary:hover, .dcf--btn-primary:active {
    color: #fff; }
  .dcf--btn-primary:visited {
    border-color: #4f4f4f;
    background-color: #4f4f4f; }
  .dcf--btn-primary:hover {
    border-color: #4f4f4f;
    background-color: #4f4f4f;
    -webkit-transition: border ease-out .2s, background-color ease-out .2s;
    transition: border ease-out .2s, background-color ease-out .2s; }
  .dcf--btn-primary:active, .dcf--btn-primary.dcf--active {
    border-color: #353535;
    background-color: #353535; }

.dcf--btn-secondary {
  color: #686868;
  border: 1px solid currentcolor;
  background-color: #fff;
  -webkit-transition: border ease-out .4s, background-color ease-out .4s;
  transition: border ease-out .4s, background-color ease-out .4s; }
  .dcf--btn-secondary:link, .dcf--btn-secondary:visited, .dcf--btn-secondary:hover, .dcf--btn-secondary:active {
    color: #333; }
  .dcf--btn-secondary:visited {
    color: #4f4f4f;
    border-color: currentcolor; }
  .dcf--btn-secondary:hover {
    color: #4f4f4f;
    border-color: currentcolor;
    background-color: #f4f4f4;
    -webkit-transition: border ease-out .2s, background-color ease-out .2s;
    transition: border ease-out .2s, background-color ease-out .2s; }
  .dcf--btn-secondary:active, .dcf--btn-secondary.dcf--active {
    color: #353535;
    border-color: currentcolor; }

.dcf--btn-inverse {
  color: #fff;
  border: 1px solid currentcolor;
  background-color: rgba(0, 0, 0, 0.1); }
  .dcf--btn-inverse:hover {
    background-color: rgba(0, 0, 0, 0.2); }

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
.dcf--btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7; }

.dcf--btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.dcf--btn-group .dcf--btn:focus {
  z-index: 1; }

.dcf--btn-group > .dcf--btn:not(:first-child):not(:last-child) {
  border-radius: 0; }

.dcf--btn-group > .dcf--btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.dcf--btn-group > .dcf--btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.dcf--btn-group .dcf--btn + .dcf--btn {
  margin-left: -1px; }

.dcf--card {
  font-size: 0.875em;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2); }

.dcf--card img {
  display: block;
  width: 100%; }

.dcf--card-block {
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em; }

.dcf--card-block p:last-child {
  margin-bottom: 0; }

@supports (display: grid) {
  .dcf--card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: 1em; } }

.dcf--pre {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05); }

.dcf--footer {
  font-size: 0.75em; }

.dcf--footer-local {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-gap: 1em;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #ddd; }

.dcf--footer-global {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-gap: 1em;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #ccc; }

.dcf--form-group {
  margin-bottom: 1em; }

.dcf--input-textual {
  display: block;
  margin-top: 0.25em;
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color 400ms ease-out;
  transition: border-color 400ms ease-out; }

.dcf--input-textual:hover {
  border-color: #b3b3b3;
  -webkit-transition: border-color 200ms ease-out;
  transition: border-color 200ms ease-out; }

.dcf--input-textual:focus {
  outline: none;
  border-color: #686868; }

.dcf--input-control {
  margin-right: 0.25em; }

.dcf--input-file {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.dcf--input-required {
  padding-left: 0.5em;
  font-style: italic;
  font-size: 0.75em; }

.dcf--form-help {
  margin-top: 0.25em;
  font-size: 0.75em;
  color: #545353; }

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.dcf--input-select {
  display: table;
  position: relative;
  margin-top: 0.25em; }

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.dcf--input-select select {
  width: 100%;
  margin: 0;
  outline: none;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Font size must be 16px to prevent iOS page zoom on focus */
  font-size: 1rem; }

/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.dcf--input-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events: none;
  display: none; }

/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
 * @supports ( mask-type: alpha ) is Firefox 35+
 */
@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) or ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */
  .dcf--input-select::after {
    display: block;
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #383837;
    margin-top: -4px; }
  /* Remove select styling */
  .dcf--input-select select {
    padding-right: 3em;
    /* Match-01 */
    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none;
    /* Match-04 */
    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 1px solid transparent;
    /* Match-05 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .dcf--input-select select:focus {
    border-color: #aaa;
    /* Match-03 */ } }

/* These are the "theme" styles for our button applied via separate button class, style as you like */
/* Set the background fallback to solid #fff so Firefox renders the <option> list readably. */
.dcf--input-select {
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-transition: border-color 400ms ease-out;
  transition: border-color 400ms ease-out; }

.dcf--input-select select {
  /* General select styles: change as needed */
  color: #383837;
  line-height: 1.5;
  border-radius: 2px; }

/* Hover style */
.dcf--input-select:hover {
  border-color: #b3b3b3;
  -webkit-transition: border-color 200ms ease-out;
  transition: border-color 200ms ease-out; }

/* Focus style */
.dcf--input-select select:focus {
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  /* Match-02 */ }

@supports (box-shadow: none) {
  .dcf--input-select select:focus {
    outline: none; } }

/* Set options to normal weight */
.dcf--input-select option {
  font-weight: normal; }

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance. Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dcf--input-select select::-ms-expand {
    display: none; }
  .dcf--input-select select:focus {
    border-color: #aaa;
    /* Match-03 */ }
  .dcf--input-select select:focus::-ms-value {
    background: transparent;
    color: #222;
    /* Match-02*/ }
  .dcf--input-select select {
    padding-right: 3em;
    /* Match-01 */
    background: none;
    /* Match-04 */
    border: 1px solid transparent;
    /* Match-05 */ }
  .dcf--input-select::after {
    display: block; } }

.dcf--header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ddd; }

.dcf--header a {
  text-decoration: none; }

.dcf--h1,
.dcf--h2,
.dcf--h3,
.dcf--h4,
.dcf--h5,
legend,
.dcf--h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25; }
  p + .dcf--h1,
  ol + .dcf--h1,
  ul + .dcf--h1,
  dl + .dcf--h1, p +
  .dcf--h2,
  ol +
  .dcf--h2,
  ul +
  .dcf--h2,
  dl +
  .dcf--h2, p +
  .dcf--h3,
  ol +
  .dcf--h3,
  ul +
  .dcf--h3,
  dl +
  .dcf--h3, p +
  .dcf--h4,
  ol +
  .dcf--h4,
  ul +
  .dcf--h4,
  dl +
  .dcf--h4,
  p +
  .dcf--h5,
  p + legend,
  ol +
  .dcf--h5,
  ol + legend,
  ul +
  .dcf--h5,
  ul + legend,
  dl +
  .dcf--h5,
  dl + legend, p +
  .dcf--h6,
  ol +
  .dcf--h6,
  ul +
  .dcf--h6,
  dl +
  .dcf--h6 {
    margin-top: 2em; }

.dcf--h1 {
  font-size: 2.5rem; }

.dcf--h2 {
  font-size: 2rem; }

.dcf--h3 {
  font-size: 1.75rem; }

.dcf--h4 {
  font-size: 1.5rem; }

.dcf--h5, legend {
  font-size: 1.25rem; }

.dcf--h6 {
  font-size: 1rem; }

.dcf--display-1 {
  font-size: 3rem; }

.dcf--display-2 {
  font-size: 4rem; }

.dcf--display-3 {
  font-size: 5rem; }

.dcf--display-4 {
  font-size: 6rem; }

.dcf--hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.dcf--subhead {
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .05em; }

.dcf--hero video,
.dcf--hero img {
  display: block;
  width: 100%; }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .dcf--hero video,
    .dcf--hero img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; } }

@media only screen and (min-width: 48em) {
  .dcf--hero {
    position: relative;
    height: 75vh;
    min-height: 32em; }
  .dcf--hero-layer {
    position: absolute;
    height: 100%;
    width: 100%; }
  .dcf--hero-fg {
    z-index: 2; }
  .dcf--hero-bg {
    overflow: hidden;
    z-index: 1; } }

.dcf--input-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.dcf--input-group .dcf--input-textual {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 0;
  margin-top: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

.dcf--input-group .dcf--input-textual:not(:last-child) {
  border-radius: 2px 0 0 2px; }

.dcf--input-group-addon + .dcf--input-textual {
  border-radius: 0 2px 2px 0; }

.dcf--input-group .dcf--btn {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.dcf--input-group-addon {
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  color: #545353;
  border-style: solid;
  border-color: #ccc;
  background-color: #eee; }

.dcf--input-group-addon:not(:last-child) {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

.dcf--input-group-addon:last-child {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.dcf--list-unstyled, .dcf--card-deck, .dcf--pagination {
  list-style: none;
  padding-left: 0; }

.dcf--list-inline-item {
  display: inline-block; }

.dcf--list-inline-item:not(:last-child) {
  margin-right: 0.5em; }

.dcf--modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%; }

.dcf--modal-content {
  width: 80%;
  height: auto; }

.dcf--close-modal {
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  border: 0;
  background-color: transparent; }

.dcf--modal-overlay {
  -webkit-transition: opacity 0.5s ease-out, visibility 0s linear 0.6s;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.6s; }
  .dcf--modal-open .dcf--modal-overlay {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }

.dcf--skip-nav {
  position: absolute;
  top: 0.5em;
  left: 0.5em; }
  .dcf--skip-nav a {
    color: #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.96); }
    @supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
      .dcf--skip-nav a {
        background-color: rgba(0, 0, 0, 0.94);
        -webkit-backdrop-filter: blur(6px);
                backdrop-filter: blur(6px); } }

.dcf--primary-nav ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.dcf--primary-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.dcf--primary-nav ul ul {
  font-size: 0.75em; }

.dcf--breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  font-size: 0.625em; }

.dcf--breadcrumbs li {
  margin-right: 0.5em; }

.dcf--pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em; }

.dcf--page-item .dcf--btn:focus {
  z-index: 1; }

.dcf--page-item:first-child > .dcf--btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.dcf--page-item:last-child > .dcf--btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.dcf--page-item:not(:first-child):not(:last-child) > .dcf--btn {
  border-radius: 0; }

.dcf--page-item + .dcf--page-item .dcf--btn {
  margin-left: -1px; }

.dcf--lead {
  font-size: 1.25rem; }

.dcf--drop-cap:first-letter {
  float: left; }

.dcf--blockquote {
  position: relative;
  margin-left: 0;
  padding-top: 1em;
  padding-bottom: 1em; }

.dcf--blockquote:before {
  content: open-quote;
  position: absolute;
  font-size: 10em;
  line-height: 1; }

.dcf--blockquote p {
  padding-top: 3.5em;
  padding-top: 4em;
  font-size: 1.5rem; }

.dcf--blockquote p:after {
  content: close-quote; }

.dcf--attribution {
  margin-top: 1em; }

.dcf--attribution:before {
  content: '\2014\2009'; }

.dcf--search-icon {
  height: 1em;
  width: 1em;
  vertical-align: middle; }

@media only screen and (min-width: 48em) {
  .dcf--search-toggle {
    display: none; } }

.dcf--small {
  font-size: 0.75em; }

.dcf--table {
  width: 100%;
  max-width: 100%; }

.dcf--table th,
.dcf--table td {
  border-top: 1px solid #ccc; }

.dcf--table thead th,
.dcf--table thead td {
  padding-top: 1.25em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em; }

.dcf--table thead th {
  vertical-align: bottom; }

.dcf--table tbody th,
.dcf--table tbody td {
  padding: 0.75em; }

.dcf--table-sm thead th,
.dcf--table-sm thead td {
  padding-top: 1em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em; }

.dcf--table-sm tbody th,
.dcf--table-sm tbody td {
  padding: 0.5em; }

.dcf--table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.dcf--table-bordered,
.dcf--table-bordered th,
.dcf--table-bordered td {
  border: 1px solid #ccc; }

.dcf--table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.dcf--table-active {
  background-color: rgba(0, 0, 0, 0.1); }

.dcf--table-info {
  background-color: rgba(0, 102, 255, 0.1); }

.dcf--table-success {
  background-color: rgba(0, 153, 0, 0.1); }

.dcf--table-warning {
  background-color: rgba(255, 102, 0, 0.1); }

.dcf--table-danger {
  background-color: rgba(255, 0, 0, 0.1); }

html {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
  font-weight: 400;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -.03em; }

.dcf--subhead {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--article-3 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--article-aside {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

figcaption {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

table {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--input-textual {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--input-select select {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--btn {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--badge {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--pagination {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--header {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--footer {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.dcf--article-meta {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

.unl .dcf--drop-cap:first-letter {
  margin-top: 0.75rem;
  padding-right: 0.5rem;
  padding-left: .25rem;
  font-size: 5em;
  line-height: .69; }

.rd-color-box {
  height: 8em;
  width: 8em;
  border: 1px solid #ccc; }
  .rd-color-box.primary {
    background-color: #d00000; }
  .rd-color-box.accent {
    background-color: #fefdfa; }

.unl--input-required {
  color: #d00000; }

.dcf--aspect-ratio {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .dcf--aspect-ratio:before {
    content: '';
    display: block; }

.dcf--16x9:before {
  padding-top: 56.25%; }

.dcf--4x3:before {
  padding-top: 75%; }

.dcf--1x1:before {
  padding-top: 100%; }

.dcf--circle {
  border-radius: 50% !important; }

.dcf--rounded {
  border-radius: 2px !important; }

.dcf--rounded-top {
  border-top-right-radius: 2px !important;
  border-top-left-radius: 2px !important; }

.dcf--rounded-right {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important; }

.dcf--rounded-bottom {
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 2px !important; }

.dcf--rounded-left {
  border-bottom-left-radius: 2px !important;
  border-top-left-radius: 2px !important; }

.dcf--disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.7 !important; }

.dcf--d-none {
  display: none !important; }

.dcf--d-block {
  display: block !important; }

.dcf--d-inline {
  display: inline !important; }

.dcf--d-inline-block {
  display: inline-block !important; }

.dcf--d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.dcf--d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; }

.dcf--d-grid {
  display: grid !important; }

.dcf--d-inline-grid {
  display: inline-grid !important; }

.dcf--d-subgrid {
  display: subgrid !important; }

.dcf--d-table {
  display: table !important; }

.dcf--f-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important; }

.dcf--f-column-rev {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important; }

.dcf--f-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important; }

.dcf--f-row-rev {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important; }

.dcf--f-ai-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important; }

.dcf--f-ai-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important; }

.dcf--f-ai-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important; }

.dcf--f-ai-baseline {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important; }

.dcf--f-ai-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important; }

.dcf--f-ac-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important; }

.dcf--f-ac-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important; }

.dcf--f-ac-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important; }

.dcf--f-ac-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important; }

.dcf--f-ac-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important; }

.dcf--f-ac-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important; }

.dcf--f-as-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important; }

.dcf--f-as-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important; }

.dcf--f-as-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important; }

.dcf--f-as-center {
  -ms-flex-item-align: center !important;
      align-self: center !important; }

.dcf--f-as-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important; }

.dcf--f-as-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important; }

.dcf--f-jc-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important; }

.dcf--f-jc-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important; }

.dcf--f-jc-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.dcf--f-jc-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important; }

.dcf--f-jc-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important; }

.dcf--f-jc-evenly {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important; }

.dcf--float-right {
  float: right !important; }

.dcf--float-left {
  float: left !important; }

.dcf--g-ai-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: start !important; }

.dcf--g-ai-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: end !important; }

.dcf--g-ai-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important; }

.dcf--g-ai-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important; }

.dcf--g-ac-start {
  -ms-flex-line-pack: start !important;
      align-content: start !important; }

.dcf--g-ac-end {
  -ms-flex-line-pack: end !important;
      align-content: end !important; }

.dcf--g-ac-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important; }

.dcf--g-ac-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important; }

.dcf--g-ac-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important; }

.dcf--g-ac-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important; }

.dcf--g-ac-evenly {
  -ms-flex-line-pack: space-evenly !important;
      align-content: space-evenly !important; }

.dcf--g-as-start {
  -ms-flex-item-align: start !important;
      align-self: start !important; }

.dcf--g-as-center {
  -ms-flex-item-align: center !important;
      align-self: center !important; }

.dcf--g-as-end {
  -ms-flex-item-align: end !important;
      align-self: end !important; }

.dcf--g-as-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important; }

.dcf--g-ji-start {
  justify-items: start !important; }

.dcf--g-ji-end {
  justify-items: end !important; }

.dcf--g-ji-center {
  justify-items: center !important; }

.dcf--g-ji-stretch {
  justify-items: stretch !important; }

.dcf--g-jc-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important; }

.dcf--g-jc-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important; }

.dcf--g-jc-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.dcf--g-jc-stretch {
  -webkit-box-pack: stretch !important;
      -ms-flex-pack: stretch !important;
          justify-content: stretch !important; }

.dcf--g-jc-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important; }

.dcf--g-jc-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important; }

.dcf--g-jc-evenly {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important; }

.dcf--g-js-start {
  justify-self: start !important; }

.dcf--g-js-center {
  justify-self: center !important; }

.dcf--g-js-end {
  justify-self: end !important; }

.dcf--g-js-stretch {
  justify-self: stretch !important; }

.dcf--h0 {
  height: 0 !important; }

.dcf--h25 {
  height: 25% !important; }

.dcf--h50 {
  height: 50% !important; }

.dcf--h75 {
  height: 75% !important; }

.dcf--h100 {
  height: 100% !important; }

.dcf--w0 {
  width: 0 !important; }

.dcf--w25 {
  width: 25% !important; }

.dcf--w50 {
  width: 50% !important; }

.dcf--w75 {
  width: 75% !important; }

.dcf--w100 {
  width: 100% !important; }

.dcf--m0 {
  margin: 0 !important; }

.dcf--m1 {
  margin: 0.25em !important; }

.dcf--m2 {
  margin: 0.5em !important; }

.dcf--m3 {
  margin: 0.75em !important; }

.dcf--m4 {
  margin: 1em !important; }

.dcf--m5 {
  margin: 2em !important; }

.dcf--m6 {
  margin: 4em !important; }

.dcf--mt0 {
  margin-top: 0 !important; }

.dcf--mt1 {
  margin-top: 0.25em !important; }

.dcf--mt2 {
  margin-top: 0.5em !important; }

.dcf--mt3 {
  margin-top: 0.75em !important; }

.dcf--mt4 {
  margin-top: 1em !important; }

.dcf--mt5 {
  margin-top: 2em !important; }

.dcf--mt6 {
  margin-top: 4em !important; }

.dcf--mr0 {
  margin-right: 0 !important; }

.dcf--mr1 {
  margin-right: 0.25em !important; }

.dcf--mr2 {
  margin-right: 0.5em !important; }

.dcf--mr3 {
  margin-right: 0.75em !important; }

.dcf--mr4 {
  margin-right: 1em !important; }

.dcf--mr5 {
  margin-right: 2em !important; }

.dcf--mr6 {
  margin-right: 4em !important; }

.dcf--mb0 {
  margin-bottom: 0 !important; }

.dcf--mb1 {
  margin-bottom: 0.25em !important; }

.dcf--mb2 {
  margin-bottom: 0.5em !important; }

.dcf--mb3 {
  margin-bottom: 0.75em !important; }

.dcf--mb4 {
  margin-bottom: 1em !important; }

.dcf--mb5 {
  margin-bottom: 2em !important; }

.dcf--mb6 {
  margin-bottom: 4em !important; }

.dcf--ml0 {
  margin-left: 0 !important; }

.dcf--ml1 {
  margin-left: 0.25em !important; }

.dcf--ml2 {
  margin-left: 0.5em !important; }

.dcf--ml3 {
  margin-left: 0.75em !important; }

.dcf--ml4 {
  margin-left: 1em !important; }

.dcf--ml5 {
  margin-left: 2em !important; }

.dcf--ml6 {
  margin-left: 4em !important; }

.dcf--overlay-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.96); }
  @supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    .dcf--overlay-dark {
      background-color: rgba(0, 0, 0, 0.94);
      -webkit-backdrop-filter: blur(6px);
              backdrop-filter: blur(6px); } }

.dcf--overlay-light {
  background-color: rgba(255, 255, 255, 0.98); }
  @supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    .dcf--overlay-light {
      background-color: rgba(0, 0, 0, 0.96);
      -webkit-backdrop-filter: blur(6px);
              backdrop-filter: blur(6px); } }

.dcf--p0 {
  padding: 0 !important; }

.dcf--p1 {
  padding: 0.25em !important; }

.dcf--p2 {
  padding: 0.5em !important; }

.dcf--p3 {
  padding: 0.75em !important; }

.dcf--p4 {
  padding: 1em !important; }

.dcf--p5 {
  padding: 2em !important; }

.dcf--p6 {
  padding: 4em !important; }

.dcf--pt0 {
  padding-top: 0 !important; }

.dcf--pt1 {
  padding-top: 0.25em !important; }

.dcf--pt2 {
  padding-top: 0.5em !important; }

.dcf--pt3 {
  padding-top: 0.75em !important; }

.dcf--pt4 {
  padding-top: 1em !important; }

.dcf--pt5 {
  padding-top: 2em !important; }

.dcf--pt6 {
  padding-top: 4em !important; }

.dcf--pr0 {
  padding-right: 0 !important; }

.dcf--pr1 {
  padding-right: 0.25em !important; }

.dcf--pr2 {
  padding-right: 0.5em !important; }

.dcf--pr3 {
  padding-right: 0.75em !important; }

.dcf--pr4 {
  padding-right: 1em !important; }

.dcf--pr5 {
  padding-right: 2em !important; }

.dcf--pr6 {
  padding-right: 4em !important; }

.dcf--pb0 {
  padding-bottom: 0 !important; }

.dcf--pb1 {
  padding-bottom: 0.25em !important; }

.dcf--pb2 {
  padding-bottom: 0.5em !important; }

.dcf--pb3 {
  padding-bottom: 0.75em !important; }

.dcf--pb4 {
  padding-bottom: 1em !important; }

.dcf--pb5 {
  padding-bottom: 2em !important; }

.dcf--pb6 {
  padding-bottom: 4em !important; }

.dcf--pl0 {
  padding-left: 0 !important; }

.dcf--pl1 {
  padding-left: 0.25em !important; }

.dcf--pl2 {
  padding-left: 0.5em !important; }

.dcf--pl3 {
  padding-left: 0.75em !important; }

.dcf--pl4 {
  padding-left: 1em !important; }

.dcf--pl5 {
  padding-left: 2em !important; }

.dcf--pl6 {
  padding-left: 4em !important; }

.dcf--static {
  position: static !important; }

.dcf--relative {
  position: relative !important; }

.dcf--absolute {
  position: absolute !important; }

.dcf--fixed {
  position: fixed !important; }

.dcf--sticky {
  position: -webkit-sticky !important;
  position: sticky !important; }

.dcf--lg4 {
  font-size: 1.5em !important; }

.dcf--lg3 {
  font-size: 1.375em !important; }

.dcf--lg2 {
  font-size: 1.25em !important; }

.dcf--lg1 {
  font-size: 1.125em !important; }

.dcf--sm1 {
  font-size: 0.875em !important; }

.dcf--sm2 {
  font-size: 0.75em !important; }

.dcf--sm3 {
  font-size: 0.625em !important; }

.dcf--sm4 {
  font-size: 0.5em !important; }

.dcf--lh1 {
  line-height: 1.5 !important; }

.dcf--lh2 {
  line-height: 1.25 !important; }

.dcf--lh3 {
  line-height: 1 !important; }

.dcf--baseline {
  vertical-align: baseline !important; }

.dcf--top {
  vertical-align: top !important; }

.dcf--middle {
  vertical-align: middle !important; }

.dcf--bottom {
  vertical-align: bottom !important; }

.dcf--text-top {
  vertical-align: text-top !important; }

.dcf--text-bottom {
  vertical-align: text-bottom !important; }

.dcf--center {
  text-align: center !important; }

.dcf--left {
  text-align: left !important; }

.dcf--right {
  text-align: right !important; }

.dcf--capitalize {
  text-transform: capitalize !important; }

.dcf--lowercase {
  text-transform: lowercase !important; }

.dcf--uppercase {
  text-transform: uppercase !important; }

.dcf--regular {
  font-weight: normal !important; }

.dcf--bold {
  font-weight: bold !important; }

.dcf--roman {
  font-style: normal !important; }

.dcf--italic {
  font-style: italic !important; }

.dcf--nowrap {
  white-space: nowrap !important; }

.dcf--invisible {
  visibility: hidden !important; }

.dcf--visible {
  visibility: visible !important; }

.dcf--sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  word-wrap: normal; }

.dcf--sr-only.dcf--sr-only-focusable:active,
.dcf--sr-only.dcf--sr-only-focusable:focus {
  position: static;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible; }
