///////////////////////////////
// !THEME / MIXINS / TYPOGRAPHY
///////////////////////////////


// !Letter Spacing
@mixin ls-0($imp:null) { letter-spacing: 0 $imp; }
@mixin ls-1($imp:null) { letter-spacing: .01em $imp; }
@mixin ls-2($imp:null) { letter-spacing: .1em $imp; }
