///////////////////////////
// !THEME / MIXINS / COLORS
///////////////////////////


// !Brand: Alpha
@mixin brand-alpha($imp:null) { color: $color-brand-alpha $imp; }


// !Brand: Beta
@mixin brand-beta($imp:null) { color: $color-brand-beta $imp; }


// !Light
@mixin light($imp:null) { color: $ui-light $imp; }
@mixin lighter($imp:null) { color: $ui-lighter $imp; }
@mixin lightest($imp:null) { color: $ui-lightest $imp; }


// !Dark
@mixin dark($imp:null) { color: $ui-dark $imp; }
@mixin darker($imp:null) { color: $ui-darker $imp; }
@mixin darkest($imp:null) { color: $ui-darkest $imp; }
