/////////////////
// !THEME: LAYOUT
/////////////////

// !RD

.rd-color-box {
  height: 8em;
  width: 8em;
  border: 1px solid $border-color;

  &.primary {
    background-color: $scarlet;
  }

  &.accent {
    background-color: $cream;
  }

//   @include bp(sm) {
//     border: 1px solid #000;
//   }
}

.unl--input-required {
  color: $scarlet;
}
