//////////////////////////////
// !THEME / VARIABLES / EASING
//////////////////////////////


// Fade
$easing-fade-in: ease-out;
$easing-fade-out: ease-out;


// Slide
$easing-slide-down: ease-out;
$easing-slide-up: ease-out;
