//////////////////////////////
// !THEME / VARIABLES / TIMING
//////////////////////////////


// In
$timing-fade-in: 200ms;
$timing-fade-in-down: 200ms;
$timing-fade-in-up: 200ms;


// Out
$timing-fade-out: 400ms;
