//////////////////////////////
// !THEME / VARIABLES / TIMING
//////////////////////////////


// Fade
$timing-fade-in: 200ms;
$timing-fade-out: 400ms;


// Slide
$timing-slide-down: 200ms;
$timing-slide-up: 200ms;
