//////////////////////////////
// !THEME / VARIABLES / COLORS
//////////////////////////////


// !BRAND COLORS

// Define brand colors
$color-brand-alpha: #30c;
$color-brand-beta: #c00;


// Assign names to brand colors
// $namedcolor1: $color-brand-alpha;
// $namedcolor2: $color-brand-beta;


// !UI COLORS
// Assign colors to elements
$white: #fff;
$black: #000;

$gray: mix($white, $black); // gray

$gray-light: lighten($gray, 36%); // #dcdcdc
$gray-lighter: lighten($gray, 43%); // #eee
$gray-lightest: lighten($gray, 47%); // #f8f8f8

$gray-dark: darken($gray, 10%); // #676767
$gray-darker: darken($gray, 24%); // #434343
$gray-darkest: darken($gray, 32%); // #2e2e2e


// Background colors
$color-body-bg: $white; // Body background color (usually white, off-white, or very light gray)
$color-overlay-light: $white; // Light overlay background color for modals
$color-overlay-dark: $gray-darkest; // Dark overlay background color for modals


// Text colors
$color-body: $gray-darker; // Strive for WCAG AAA (minimum contrast ratio of 7.0) for body text
$color-heading: $gray-darkest; // Strive for WCAG AAA (minimum contrast ratio of 7.0) for heading text
$color-light-text: $gray-dark; // Must meet WCAG AA (minimum contrast ratio of 4.5)


// !Links
$color-link: $color-brand-alpha;
// TODO: finalize state colors for example theme
$color-link-visited: darken($color-link, 10%);
$color-link-hover: darken($color-link, 10%);
$color-link-active: darken($color-link, 10%);


// !Inverse
// TODO: finalize state colors for example theme
$color-inverse: $color-body-bg;
$color-inverse-link: $color-body-bg;
$color-inverse-link-visited: $color-body-bg;
$color-inverse-link-hover: $color-body-bg;
$color-inverse-link-active: $color-body-bg;


// !Buttons
$color-button: $color-link;
$color-button-visited: $color-link-visited;
$color-button-hover: $color-link-hover;
$color-button-active: $color-link-active;


// !Borders
$color-border: $gray-lighter;
$color-border-hover: $gray-light;
$color-border-input: $gray-light;
$color-border-input-hover: $gray;
$color-border-input-focus: $color-button;


// !Marks (Highlights) Background Color
$color-mark: #ff0;


// !Breadcrumbs
$color-breadcrumb: $color-light-text;


// !Badges
$color-badge: $color-light-text;


// !Captions
$color-caption: $color-light-text;


// !Tables
$color-table-stripe: $gray-lightest;


// !Footer
$color-footer-local: $color-body;
$color-footer-local-bg: $gray-lightest;
$color-footer-global: $color-body;
$color-footer-global-bg: $gray-lighter;



// !Define contextual colors
$color-active: rgba(0,0,0,.1);
$color-info: rgba(0,102,255,.1);
$color-success: rgba(0,153,0,.1);
$color-warning: rgba(255,102,0,.1);
$color-danger: rgba(255,0,0,.1);
