//////////////////////////////
// !THEME / VARIABLES / EASING
//////////////////////////////


$easing-fade-in: ease-out;
$easing-fade-out: ease-out;
$easing-fade-down: ease-out;
$easing-fade-up: ease-out;
