/////////////////////////////
// THEME / VARIABLES / COLORS
/////////////////////////////


// BRAND COLORS

// Define brand colors
$color-brand-alpha: #30c;
$color-brand-beta: #c00;

// Assign names to brand colors
// $namedcolor1: $color-brand-alpha;
// $namedcolor2: $color-brand-beta;


// UI COLORS

// Neutrals
$white: #fff;
$black: #000;

$gray: mix($white, $black);           // #808080

$gray-light: lighten($gray, 27%);     // #c5c5c5
$gray-lighter: lighten($gray, 36%);   // #dcdcdc
$gray-lightest: lighten($gray, 47%);  // #f8f8f8

$gray-dark: darken($gray, 10%);       // #676767
$gray-darker: darken($gray, 24%);     // #434343
$gray-darkest: darken($gray, 32%);    // #2e2e2e

// Miscellaneous
$color-highlight: #ff0;
$color-required: #d00;
$color-kbd: #0f0;

// Contextual colors
$color-info: rgba(0,102,255,.1);
$color-success: rgba(0,153,0,.1);
$color-warning: rgba(255,102,0,.1);
$color-danger: rgba(255,0,0,.1);


// SOCIAL MEDIA COLORS
$color-facebook: #3b5998;             // Facebook
$color-instagram: #c13584;            // Instagram
$color-linkedin: #0077b5;             // LinkedIn
$color-pinterest: #bd081c;            // Pinterest
$color-snapchat: #fffc00;             // SnapChat
$color-twitter: #1da1f2;              // Twitter
$color-youtube: #cd201f;              // YouTube
