//////////////////////////////
// !THEME / VARIABLES / COLORS
//////////////////////////////


// !BRAND COLORS

// Define brand colors
$color-brand-alpha: #30c;
$color-brand-beta: #c00;


// Assign names to brand colors
// $namedcolor1: $color-brand-alpha;
// $namedcolor2: $color-brand-beta;


// !UI COLORS
// Assign colors to elements
$white: #fff;
$black: #000;

$mix-white-black: mix($white, $black); // gray

$gray-light: lighten($mix-white-black, 36%); // #dcdcdc
$gray-lighter: lighten($mix-white-black, 43%); // #eee
$gray-lightest: lighten($mix-white-black, 47%); // #f8f8f8

$gray-dark: darken($mix-white-black, 10%); // #676767
$gray-darker: darken($mix-white-black, 24%); // #434343
$gray-darkest: darken($mix-white-black, 32%); // #2e2e2e


// Body background color (usually white, off-white, or very light gray)
$color-body-bg: $white;


// Strive for WCAG AAA (minimum contrast ratio of 7.0) for body text
$color-body: $gray-darker;


// Strive for WCAG AAA (minimum contrast ratio of 7.0) for heading text
$color-heading: $gray-darkest;


// Must meet WCAG AA (minimum contrast ratio of 4.5)
$color-light-text: $gray-dark;


// !Links
$color-link: $color-brand-alpha;
$color-link-visited: darken($color-link, 10%);
$color-link-hover: darken($color-link, 10%);
$color-link-active: darken($color-link, 10%);


// $color-link-visited: scale-color($color-link, $lightness: -10%, $saturation: -100%);
// $color-link-hover: scale-color($color-link, $lightness: -20%, $saturation: 100%);
// $color-link-active: scale-color($color-link, $lightness: -30%, $saturation: 100%);


// !Buttons
$color-button: $color-link;
$color-button-visited: $color-link-visited;
$color-button-hover: $color-link-hover;
$color-button-active: $color-link-active;


// !Borders
$color-border: mix($color-body-bg, $color-body, 75%);
$color-border-hover: darken($color-border,10%);


// $border-color: scale-color($scarlet, $saturation: -100%);


// !Marks (Highlights) Background Color
$color-mark: #ff0;


// !Breadcrumbs
$color-breadcrumb: $color-light-text;


// !Badges
$color-badge: $color-light-text;


// !Captions
$color-caption: $color-light-text;


// !Footer
$color-footer-local: $color-body;
$color-footer-local-bg: $gray-lightest;
$color-footer-global: $color-body;
$color-footer-global-bg: $gray-lighter;



// !Define contextual colors
$color-active: rgba(0,0,0,.1);
$color-info: rgba(0,102,255,.1);
$color-success: rgba(0,153,0,.1);
$color-warning: rgba(255,102,0,.1);
$color-danger: rgba(255,0,0,.1);
