//////////////////////////////
// !THEME / VARIABLES / EASING
//////////////////////////////


// In
$easing-fade-in: ease-out;
$easing-fade-in-down: ease-out;
$easing-fade-in-up: ease-out;


// Out
$easing-fade-out: ease-out;
